/* md tablet portrait */
@media (min-width: 481px) and (max-width: 768px) and (orientation: portrait) {
  .workspace main {
    /* --clean-start__site__background: cornsilk; */

    --clean-start__tag_body__width: var(--clean-start__tag_body__width__md_tablet_portrait);
    --clean-start__tag_body__max_width: var(--clean-start__tag_body__max_width__md_tablet_portrait);
    --clean-start__tag_body__min_width: var(--clean-start__tag_body__min_width__md_tablet_portrait);

    --clean-start__site__width: var(--clean-start__site__width__md_tablet_portrait);
    --clean-start__site__max_width: var(--clean-start__site__max_width__md_tablet_portrait);
    --clean-start__site__min_width: var(--clean-start__site__min_width__md_tablet_portrait);

    --clean-start__site__overflow_x: var(--clean-start__site__overflow_x__md_tablet_portrait);



    --clean-start__font-size__tablet: var(--clean-start__font-size__tablet_portrait);
    --clean-start__font-size: var(--clean-start__font-size__tablet);

    --clean-start__line-height__tablet: var(--clean-start__line-height__tablet_portrait);
    --clean-start__line-height: var(--clean-start__line-height__tablet);
  }    


  /* verifying responsive rules applies */
  .workspace.verify-responsive-rule-applies main h1::before {
    content: "md tablet portrait" !important;
  }
}

