/* lg laptop landscape */
@media (min-width: 1025px) and (max-width: 1280px) and (orientation: landscape) {
  .workspace main {
    /* --clean-start__site__background: cornsilk; */

    --clean-start__tag_body__width: var(--clean-start__tag_body__width__lg_laptop_horizontal);
    --clean-start__tag_body__max_width: var(--clean-start__tag_body__max_width__lg_laptop_horizontal);
    --clean-start__tag_body__min_width: var(--clean-start__tag_body__min_width__lg_laptop_horizontal);

    --clean-start__site__width: var(--clean-start__site__width__lg_laptop_horizontal);
    --clean-start__site__max_width: var(--clean-start__site__max_width__lg_laptop_horizontal);
    --clean-start__site__min_width: var(--clean-start__site__min_width__lg_laptop_horizontal);

    --clean-start__site__overflow_x: var(--clean-start__site__overflow_x__lg_laptop_horizontal);



    /* --clean-start__font-size__tablet: var(--clean-start__font-size__tablet_portrait); */
    --clean-start__font-size: var(--clean-start__font-size__lg_laptop);

    /* --clean-start__line-height__tablet: var(--clean-start__line-height__tablet_portrait); */
    --clean-start__line-height: var(--clean-start__line-height__lg_laptop);
  }    


  /* verifying responsive rules applies */
  .workspace.verify-responsive-rule-applies main h1::before {
    content: "lg laptop landscape" !important;
  }
}

