/* xl desktop vertical */
@media (min-width: 1025px) and (max-width: 1280px) and (orientation: portrait) {
  .workspace main {
    /* --clean-start__site__background: cornsilk; */

    --clean-start__tag_body__width: var(--clean-start__tag_body__width__xl_desktop_vertical);
    --clean-start__tag_body__max_width: var(--clean-start__tag_body__max_width__xl_desktop_vertical);
    --clean-start__tag_body__min_width: var(--clean-start__tag_body__min_width__xl_desktop_vertical);

    --clean-start__site__width: var(--clean-start__site__width__xl_desktop_vertical);
    --clean-start__site__max_width: var(--clean-start__site__max_width__xl_desktop_vertical);
    --clean-start__site__min_width: var(--clean-start__site__min_width__xl_desktop_vertical);

    --clean-start__site__overflow_x: var(--clean-start__site__overflow_x__xl_desktop_vertical);


    
    --clean-start__font-size__xl_desktop: var(--clean-start__font-size__xl_desktop_vertical);
    --clean-start__font-size: var(--clean-start__font-size__xl_desktop);

    --clean-start__line-height__xl_desktop: var(--clean-start__line-height__xl_desktop_vertical);
    --clean-start__line-height: var(--clean-start__line-height__xl_desktop);
  }    


  /* verifying responsive rules applies */
  .workspace.verify-responsive-rule-applies main h1::before {
    content: "xl desktop vertical" !important;
  }
}

