/* 5xl 4k_ultra_hd horizontal */
@media (min-width: 3841px) and (max-width: 7680px) and (orientation: landscape) {
  .workspace main {
    /* --clean-start__site__background: cornsilk; */

    --clean-start__tag_body__width: var(--clean-start__tag_body__width__5xl_4k_ultra_hd_horizontal);
    --clean-start__tag_body__max_width: var(--clean-start__tag_body__max_width__5xl_4k_ultra_hd_horizontal);
    --clean-start__tag_body__min_width: var(--clean-start__tag_body__min_width__5xl_4k_ultra_hd_horizontal);

    --clean-start__site__width: var(--clean-start__site__width__5xl_4k_ultra_hd_horizontal);
    --clean-start__site__max_width: var(--clean-start__site__max_width__5xl_4k_ultra_hd_horizontal);
    --clean-start__site__min_width: var(--clean-start__site__min_width__5xl_4k_ultra_hd_horizontal);

    --clean-start__site__overflow_x: var(--clean-start__site__overflow_x__5xl_4k_ultra_hd_horizontal);



    --clean-start__font-size: var(--clean-start__font-size__5xl_4k_ultra_hd_horizontal);
    --clean-start__line-height: var(--clean-start__line-height__5xl_4k_ultra_hd_horizontal);
  }    


  /* verifying responsive rules applies */
  .workspace.verify-responsive-rule-applies main h1::before {
    content: "5xl 4k_ultra_hd horizontal" !important;
  }
}

