

.workspace {

  
  --clean-start__rem: 16px;



  
  
  --clean-start__tag_body__background: #f2f4f6;

  
  --clean-start__site__background: white;


  
  --clean-start__anchor__text-color: slateblue;
  
  --clean-start__anchor__text-color-hover: blue;
  
  --clean-start__anchor__text-color-visited: darkgrey;
  

  



  
  --clean-start__position: relative;
  --clean-start__box-sizing: border-box;
  --clean-start__margin: 0 0 0 0;
  --clean-start__padding: 0 0 0 0;

  --clean-start__block-tags__display: block;
  --clean-start__inline-tags__display: inline-block;
  --clean-start__custom-tags__display: var(--clean-start__block-tags__display);


  
  --clean-start__border-width: 0;
  --clean-start__border-style: solid;
  --clean-start__border-color: lime;


  
  --clean-start__font-family: "Franklin Gothic Medium", Verdana, sans-serif;
  --clean-start__font-family-pre: "Courier New", Courier, monospace;
  --clean-start__text-color: unset;
  --clean-start__text-color-h: unset;

  
  --clean-start__p__margin: 0.2rem 0 0.2rem 0;

  --clean-start__h__margin: var(--clean-start__margin);
  --clean-start__h__padding: var(--clean-start__padding);




  

  
  --clean-start__font-weight_h: 600;


  --clean-start__font-size_h1: 2.6rem;
  --clean-start__font-size_h2: 2.1rem;
  --clean-start__font-size_h3: 1.8rem;
  --clean-start__font-size_h4: 1.6rem;
  --clean-start__font-size_h5: 1.33rem;
  --clean-start__font-size_h6: 1rem;


  --clean-start__line-height_h1: 3rem;
  --clean-start__line-height_h2: 2.5rem;
  --clean-start__line-height_h3: 2.2rem;
  --clean-start__line-height_h4: 2.0rem;
  --clean-start__line-height_h5: 1.67rem;
  --clean-start__line-height_h6: 1.6rem;









  

  --clean-start__font-size:   1.03rem;
  --clean-start__line-height: 1.68rem;

  










  

  
  --clean-start__tag_body__height: auto;
  --clean-start__tag_body__height_max: unset;
  --clean-start__tag_body__height_min: 100vh;

  --clean-start__tag_body__width: 100%;
  --clean-start__tag_body__overflow-x: hidden;




  

  --clean-start__site__height: fit-content;
  --clean-start__site__height_max: fit-content;
  --clean-start__site__height_min: 100vh;



  --clean-start__site__width: 90%;
  --clean-start__site__max_width: 90%;
  --clean-start__site__min_width: 90%;


  
  --clean-start__site__overflow_y: hidden;




  

  
  --clean-start__site__margin: 0 auto;


  
  --clean-start__site__padding-top: 1rem;
  --clean-start__site__padding-right: 1rem;
  --clean-start__site__padding-left: 1rem;
  --clean-start__site__padding-bottom: 1rem;

  --clean-start__site__padding: var(--clean-start__site__padding-top) var(--clean-start__site__padding-right) var(--clean-start__site__padding-bottom) var(--clean-start__site__padding-left);

  

}







.workspace.browser-width body {
  --clean-start__tag_body__width: 100%;
  --clean-start__tag_body__max_width: 100%;
  --clean-start__tag_body__min_width: 100%;

  --clean-start__tag_body__overflow-x: hidden;
}

.workspace.browser-width main {
  --clean-start__site__width: 100%;
  --clean-start__site__max_width: 100%;
  --clean-start__site__min_width: 100%;

  --clean-start__site__overflow_x: hidden;
}





.workspace.long body {
  --clean-start__tag_body__height: auto;
  --clean-start__tag_body__height_max: unset;
  --clean-start__tag_body__height_min: 100vh;

  overflow-y: visible;
}

.workspace.long main {
  --clean-start__site__height: fit-content;
  --clean-start__site__height_max: fit-content;
  --clean-start__site__height_min: 100vh;

  --clean-start__site__overflow_y: hidden;
}




.workspace.small body {
  --clean-start__tag_body__height: 100vh;
  --clean-start__tag_body__height_max: unset;
  --clean-start__tag_body__height_min: 100vh;

  overflow-y: visible;

  padding: 2rem 0;
}

.workspace.small main {
  --clean-start__site__height: min-content;
  --clean-start__site__height_max: min-content;
  --clean-start__site__height_min: min-content;

  --clean-start__site__overflow_y: hidden;
}








.workspace {

  
  --responsive_size_e02_mobile_xs_portrait_min_width: 240px;
  --responsive_size_e02_mobile_xs_portrait_max_width: 320px;

  --responsive_size_e02_mobile_xs_landscape_min_width: 320px;
  --responsive_size_e02_mobile_xs_landscape_max_width: 500px;



  
  --responsive_size_e04_mobile_s_portrait_min_width: 321px;
  --responsive_size_e04_mobile_s_portrait_max_width: 374px;

  --responsive_size_e04_mobile_s_landscape_min_width: 501px;
  --responsive_size_e04_mobile_s_landscape_max_width: 667px;



  
  --responsive_size_e06_mobile_sm_portrait_min_width: 375px;
  --responsive_size_e06_mobile_sm_portrait_max_width: 430px;

  --responsive_size_e06_mobile_sm_landscape_min_width: 668px;
  --responsive_size_e06_mobile_sm_landscape_max_width: 736px;



  
  --responsive_size_e08_mobile_md_portrait_min_width: 431px;
  --responsive_size_e08_mobile_md_portrait_max_width: 480px;

  --responsive_size_e08_mobile_md_landscape_min_width: 737px;
  --responsive_size_e08_mobile_md_landscape_max_width: 812px;



  
  --responsive_size_h03_tablet_sm_portrait_min_width: 481px;
  --responsive_size_h03_tablet_sm_portrait_max_width: 767px;

  --responsive_size_h03_tablet_sm_landscape_min_width: 813px;
  --responsive_size_h03_tablet_sm_landscape_max_width: 960px;



  
  --responsive_size_h05_tablet_md_portrait_min_width: 768px;
  --responsive_size_h05_tablet_md_portrait_max_width: 1024px;

  --responsive_size_h05_tablet_md_landscape_min_width: 961px;
  --responsive_size_h05_tablet_md_landscape_max_width: 1024px;



  
  --responsive_size_l03_laptop_sm_portrait_min_width: 1025px;
  --responsive_size_l03_laptop_sm_portrait_max_width: 1080px;

  --responsive_size_l03_laptop_sm_landscape_min_width: 1025px;
  --responsive_size_l03_laptop_sm_landscape_max_width: 1279px;



  
  --responsive_size_l05_laptop_md_portrait_min_width: 1081px;
  --responsive_size_l05_laptop_md_portrait_max_width: 1200px;

  --responsive_size_l05_laptop_md_landscape_min_width: 1280px;
  --responsive_size_l05_laptop_md_landscape_max_width: 1439px;



  
  --responsive_size_l07_laptop_lg_portrait_min_width: 1201px;
  --responsive_size_l07_laptop_lg_portrait_max_width: 1440px;

  --responsive_size_l07_laptop_lg_landscape_min_width: 1440px;
  --responsive_size_l07_laptop_lg_landscape_max_width: 1600px;



  
  --responsive_size_s02_display_xl_portrait_min_width: 1441px;
  --responsive_size_s02_display_xl_portrait_max_width: 1600px;

  --responsive_size_s02_display_xl_landscape_min_width: 1601px;
  --responsive_size_s02_display_xl_landscape_max_width: 1920px;



  
  --responsive_size_s04_display_xxl_portrait_min_width: 1601px;
  --responsive_size_s04_display_xxl_portrait_max_width: 2160px;

  --responsive_size_s04_display_xxl_landscape_min_width: 1921px;
  --responsive_size_s04_display_xxl_landscape_max_width: 2560px;



  
  --responsive_size_s08_display_qhd_portrait_min_width: 2161px;
  --responsive_size_s08_display_qhd_portrait_max_width: 2160px;

  --responsive_size_s08_display_qhd_landscape_min_width: 2561px;
  --responsive_size_s08_display_qhd_landscape_max_width: 3840px;



  
  --responsive_size_t04_tv_4k_portrait_min_width: 2161px;
  --responsive_size_t04_tv_4k_portrait_max_width: 4320px;

  --responsive_size_t04_tv_4k_landscape_min_width: 3841px;
  --responsive_size_t04_tv_4k_landscape_max_width: 7680px;



  
  --responsive_size_t08_tv_8k_portrait_min_width: 4321px;
  --responsive_size_t08_tv_8k_portrait_max_width: 8640px;

  --responsive_size_t08_tv_8k_landscape_min_width: 7681px;
  --responsive_size_t08_tv_8k_landscape_max_width: 15360px;



  
  --responsive_size_t16_tv_16k_portrait_min_width: 8641px;
  --responsive_size_t16_tv_16k_portrait_max_width: 9999px;

  --responsive_size_t16_tv_16k_landscape_min_width: 15361px;
  --responsive_size_t16_tv_16k_landscape_max_width: 25360px;

}





@media only screen and (min-width: 240px) and (max-width: 320px) and (orientation: portrait) {

  .workspace {
    --responsive_size: responsive_size_e02_mobile_xs_portrait;

    --responsive_size__min-width: 240px;
    --responsive_size__max-width: 320px;



    --responsive_size_CssCleanStart: responsive_size_e02_mobile_xs_portrait_CssCleanStart;

    --responsive_size_CssCleanStart__min-width: 240px;
    --responsive_size_CssCleanStart__max-width: 320px;





    
    



    --clean-start__site__width:         100%;
    --clean-start__site__max_width:     100%;
    --clean-start__site__min_width:     100%;




    --clean-start__site__overflow_x:    auto;
    




    --clean-start__font-size:           1.2rem;
    --clean-start__line-height:         2.0rem;


    



  }

}






@media only screen and (min-width: 320px) and (max-width: 500px) and (orientation: landscape) {

  .workspace {
    --responsive_size: responsive_size_e02_mobile_xs_landscape;

    --responsive_size__min-width: 320px;
    --responsive_size__max-width: 500px;



    --responsive_size_CssCleanStart: responsive_size_e02_mobile_xs_landscape_CssCleanStart;

    --responsive_size_CssCleanStart__min-width: 320px;
    --responsive_size_CssCleanStart__max-width: 500px;





    
    



    --clean-start__site__width:         100%;
    --clean-start__site__max_width:     100%;
    --clean-start__site__min_width:     100%;




    --clean-start__site__overflow_x:    auto;
    





    --clean-start__font-size:           1.2rem;
    --clean-start__line-height:         2.0rem;





    



  }

}







@media only screen and (min-width: 321px) and (max-width: 374px) and (orientation: portrait) {

  .workspace {
    --responsive_size: responsive_size_e04_mobile_s_portrait;

    --responsive_size__min-width: 321px;
    --responsive_size__max-width: 374px;



    --responsive_size_CssCleanStart: responsive_size_e04_mobile_s_portrait_CssCleanStart;

    --responsive_size_CssCleanStart__min-width: 321px;
    --responsive_size_CssCleanStart__max-width: 374px;





    
    



    --clean-start__site__width:         100%;
    --clean-start__site__max_width:     100%;
    --clean-start__site__min_width:     100%;




    --clean-start__site__overflow_x:    auto;
    




    --clean-start__font-size:           1.2rem;
    --clean-start__line-height:         2.0rem;


    



  }

}






@media only screen and (min-width: 501px) and (max-width: 667px) and (orientation: landscape) {

  .workspace {
    --responsive_size: responsive_size_e04_mobile_s_landscape;

    --responsive_size__min-width: 501px;
    --responsive_size__max-width: 667px;



    --responsive_size_CssCleanStart: responsive_size_e04_mobile_s_landscape_CssCleanStart;

    --responsive_size_CssCleanStart__min-width: 501px;
    --responsive_size_CssCleanStart__max-width: 667px;





    
    



    --clean-start__site__width:         100%;
    --clean-start__site__max_width:     100%;
    --clean-start__site__min_width:     100%;




    --clean-start__site__overflow_x:    auto;
    




    --clean-start__font-size:           1.2rem;
    --clean-start__line-height:         2.0rem;


    



  }

}







@media only screen and (min-width: 375px) and (max-width: 430px) and (orientation: portrait) {

  .workspace {
    --responsive_size: responsive_size_e06_mobile_sm_portrait;

    --responsive_size__min-width: 375px;
    --responsive_size__max-width: 430px;



    --responsive_size_CssCleanStart: responsive_size_e06_mobile_sm_portrait_CssCleanStart;

    --responsive_size_CssCleanStart__min-width: 375px;
    --responsive_size_CssCleanStart__max-width: 430px;





    
    



    --clean-start__site__width:         100%;
    --clean-start__site__max_width:     100%;
    --clean-start__site__min_width:     100%;




    --clean-start__site__overflow_x:    auto;
    




    --clean-start__font-size:           1.2rem;
    --clean-start__line-height:         2.0rem;


    



  }

}






@media only screen and (min-width: 668px) and (max-width: 736px) and (orientation: landscape) {

  .workspace {
    --responsive_size: responsive_size_e06_mobile_sm_landscape;

    --responsive_size__min-width: 668px;
    --responsive_size__max-width: 736px;



    --responsive_size_CssCleanStart: responsive_size_e06_mobile_sm_landscape_CssCleanStart;

    --responsive_size_CssCleanStart__min-width: 668px;
    --responsive_size_CssCleanStart__max-width: 736px;





    
    



    --clean-start__site__width:         100%;
    --clean-start__site__max_width:     100%;
    --clean-start__site__min_width:     100%;




    --clean-start__site__overflow_x:    auto;
    




    --clean-start__font-size:           1.2rem;
    --clean-start__line-height:         2.0rem;


    



  }

}







@media only screen and (min-width: 431px) and (max-width: 480px) and (orientation: portrait) {

  .workspace {
    --responsive_size: responsive_size_e08_mobile_md_portrait;

    --responsive_size__min-width: 431px;
    --responsive_size__max-width: 480px;



    --responsive_size_CssCleanStart: responsive_size_e08_mobile_md_portrait_CssCleanStart;

    --responsive_size_CssCleanStart__min-width: 431px;
    --responsive_size_CssCleanStart__max-width: 480px;





    
    



    --clean-start__site__width:         100%;
    --clean-start__site__max_width:     100%;
    --clean-start__site__min_width:     100%;




    --clean-start__site__overflow_x:    auto;
    




    --clean-start__font-size:           1.2rem;
    --clean-start__line-height:         2.0rem;


    



  }

}






@media only screen and (min-width: 737px) and (max-width: 812px) and (orientation: landscape) {

  .workspace {
    --responsive_size: responsive_size_e08_mobile_md_landscape;

    --responsive_size__min-width: 737px;
    --responsive_size__max-width: 812px;



    --responsive_size_CssCleanStart: responsive_size_e08_mobile_md_landscape_CssCleanStart;

    --responsive_size_CssCleanStart__min-width: 737px;
    --responsive_size_CssCleanStart__max-width: 812px;





    
    



    --clean-start__site__width:         100%;
    --clean-start__site__max_width:     100%;
    --clean-start__site__min_width:     100%;




    --clean-start__site__overflow_x:    auto;
    




    --clean-start__font-size:           1.2rem;
    --clean-start__line-height:         2.0rem;


    



  }

}







@media only screen and (min-width: 481px) and (max-width: 767px) and (orientation: portrait) {

  .workspace {
    --responsive_size: responsive_size_h03_tablet_sm_portrait;

    --responsive_size__min-width: 481px;
    --responsive_size__max-width: 767px;



    --responsive_size_CssCleanStart: responsive_size_h03_tablet_sm_portrait_CssCleanStart;

    --responsive_size_CssCleanStart__min-width: 481px;
    --responsive_size_CssCleanStart__max-width: 767px;





    
    



    --clean-start__site__width:         100%;
    --clean-start__site__max_width:     100%;
    --clean-start__site__min_width:     100%;




    --clean-start__site__overflow_x:    auto;
    




    


    



  }

}






@media only screen and (min-width: 813px) and (max-width: 960px) and (orientation: landscape) {

  .workspace {
    --responsive_size: responsive_size_h03_tablet_sm_landscape;

    --responsive_size__min-width: 813px;
    --responsive_size__max-width: 960px;



    --responsive_size_CssCleanStart: responsive_size_h03_tablet_sm_landscape_CssCleanStart;

    --responsive_size_CssCleanStart__min-width: 813px;
    --responsive_size_CssCleanStart__max-width: 960px;





    
    



    




    --clean-start__site__overflow_x:    auto;
    




    


    



  }

}







@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {

  .workspace {
    --responsive_size: responsive_size_h05_tablet_md_portrait;

    --responsive_size__min-width: 768px;
    --responsive_size__max-width: 1024px;



    --responsive_size_CssCleanStart: responsive_size_h05_tablet_md_portrait_CssCleanStart;

    --responsive_size_CssCleanStart__min-width: 768px;
    --responsive_size_CssCleanStart__max-width: 1024px;





    
    



    --clean-start__site__width:         100%;
    --clean-start__site__max_width:     100%;
    --clean-start__site__min_width:     100%;




    --clean-start__site__overflow_x:    auto;
    




    


    



  }

}






@media only screen and (min-width: 961px) and (max-width: 1024px) and (orientation: landscape) {

  .workspace {
    --responsive_size: responsive_size_h05_tablet_md_landscape;

    --responsive_size__min-width: 961px;
    --responsive_size__max-width: 1024px;



    --responsive_size_CssCleanStart: responsive_size_h05_tablet_md_landscape_CssCleanStart;

    --responsive_size_CssCleanStart__min-width: 961px;
    --responsive_size_CssCleanStart__max-width: 1024px;





    
    



    




    --clean-start__site__overflow_x:    auto;
    




    


    



  }

}







@media only screen and (min-width: 1025px) and (max-width: 1080px) and (orientation: portrait) {

  .workspace {
    --responsive_size: responsive_size_l03_laptop_sm_portrait;

    --responsive_size__min-width: 1025px;
    --responsive_size__max-width: 1080px;



    --responsive_size_CssCleanStart: responsive_size_l03_laptop_sm_portrait_CssCleanStart;

    --responsive_size_CssCleanStart__min-width: 1025px;
    --responsive_size_CssCleanStart__max-width: 1080px;





    
    



    




    --clean-start__site__overflow_x:    hidden;
    




    


    



  }

}






@media only screen and (min-width: 1025px) and (max-width: 1279px) and (orientation: landscape) {

  .workspace {
    --responsive_size: responsive_size_l03_laptop_sm_landscape;

    --responsive_size__min-width: 1025px;
    --responsive_size__max-width: 1279px;



    --responsive_size_CssCleanStart: responsive_size_l03_laptop_sm_landscape_CssCleanStart;

    --responsive_size_CssCleanStart__min-width: 1025px;
    --responsive_size_CssCleanStart__max-width: 1279px;





    
    



    




    --clean-start__site__overflow_x:    hidden;
    




    


    



  }

}







@media only screen and (min-width: 1081px) and (max-width: 1200px) and (orientation: portrait) {

  .workspace {
    --responsive_size: responsive_size_l05_laptop_md_portrait;

    --responsive_size__min-width: 1081px;
    --responsive_size__max-width: 1200px;



    --responsive_size_CssCleanStart: responsive_size_l05_laptop_md_portrait_CssCleanStart;

    --responsive_size_CssCleanStart__min-width: 1081px;
    --responsive_size_CssCleanStart__max-width: 1200px;





    
    



    




    --clean-start__site__overflow_x:    hidden;
    




    


    



  }

}






@media only screen and (min-width: 1280px) and (max-width: 1439px) and (orientation: landscape) {

  .workspace {
    --responsive_size: responsive_size_l05_laptop_md_landscape;

    --responsive_size__min-width: 1280px;
    --responsive_size__max-width: 1439px;



    --responsive_size_CssCleanStart: responsive_size_l05_laptop_md_landscape_CssCleanStart;

    --responsive_size_CssCleanStart__min-width: 1280px;
    --responsive_size_CssCleanStart__max-width: 1439px;





    
    



    




    --clean-start__site__overflow_x:    hidden;
    




    


    



  }

}







@media only screen and (min-width: 1201px) and (max-width: 1440px) and (orientation: portrait) {

  .workspace {
    --responsive_size: responsive_size_l07_laptop_lg_portrait;

    --responsive_size__min-width: 1201px;
    --responsive_size__max-width: 1440px;



    --responsive_size_CssCleanStart: responsive_size_l07_laptop_lg_portrait_CssCleanStart;

    --responsive_size_CssCleanStart__min-width: 1201px;
    --responsive_size_CssCleanStart__max-width: 1440px;





    
    



    




    --clean-start__site__overflow_x:    hidden;
    




    


    



  }

}






@media only screen and (min-width: 1440px) and (max-width: 1600px) and (orientation: landscape) {

  .workspace {
    --responsive_size: responsive_size_l07_laptop_lg_landscape;

    --responsive_size__min-width: 1440px;
    --responsive_size__max-width: 1600px;



    --responsive_size_CssCleanStart: responsive_size_l07_laptop_lg_landscape_CssCleanStart;

    --responsive_size_CssCleanStart__min-width: 1440px;
    --responsive_size_CssCleanStart__max-width: 1600px;





    
    



    




    --clean-start__site__overflow_x:    hidden;
    




    


    



  }

}







@media only screen and (min-width: 1441px) and (max-width: 1600px) and (orientation: portrait) {

  .workspace {
    --responsive_size: responsive_size_s02_display_xl_portrait;

    --responsive_size__min-width: 1441px;
    --responsive_size__max-width: 1600px;



    --responsive_size_CssCleanStart: responsive_size_s02_display_xl_portrait_CssCleanStart;

    --responsive_size_CssCleanStart__min-width: 1441px;
    --responsive_size_CssCleanStart__max-width: 1600px;





    
    



    




    --clean-start__site__overflow_x:    hidden;
    




    


    



  }

}






@media only screen and (min-width: 1601px) and (max-width: 1920px) and (orientation: landscape) {

  .workspace {
    --responsive_size: responsive_size_s02_display_xl_landscape;

    --responsive_size__min-width: 1601px;
    --responsive_size__max-width: 1920px;



    --responsive_size_CssCleanStart: responsive_size_s02_display_xl_landscape_CssCleanStart;

    --responsive_size_CssCleanStart__min-width: 1601px;
    --responsive_size_CssCleanStart__max-width: 1920px;





    
    



    




    --clean-start__site__overflow_x:    hidden;
    




    


    



  }

}







@media only screen and (min-width: 1601px) and (max-width: 2160px) and (orientation: portrait) {

  .workspace {
    --responsive_size: responsive_size_s04_display_xxl_portrait;

    --responsive_size__min-width: 1601px;
    --responsive_size__max-width: 2160px;



    --responsive_size_CssCleanStart: responsive_size_s04_display_xxl_portrait_CssCleanStart;

    --responsive_size_CssCleanStart__min-width: 1601px;
    --responsive_size_CssCleanStart__max-width: 2160px;





    
    



    




    --clean-start__site__overflow_x:    hidden;
    




    


    



  }

}






@media only screen and (min-width: 1921px) and (max-width: 2560px) and (orientation: landscape) {

  .workspace {
    --responsive_size: responsive_size_s04_display_xxl_landscape;

    --responsive_size__min-width: 1921px;
    --responsive_size__max-width: 2560px;



    --responsive_size_CssCleanStart: responsive_size_s04_display_xxl_landscape_CssCleanStart;

    --responsive_size_CssCleanStart__min-width: 1921px;
    --responsive_size_CssCleanStart__max-width: 2560px;





    
    



    




    --clean-start__site__overflow_x:    hidden;
    




    


    



  }

}







@media only screen and (min-width: 2161px) and (max-width: 2160px) and (orientation: portrait) {

  .workspace {
    --responsive_size: responsive_size_s08_display_qhd_portrait;

    --responsive_size__min-width: 2161px;
    --responsive_size__max-width: 2160px;



    --responsive_size_CssCleanStart: responsive_size_s08_display_qhd_portrait_CssCleanStart;

    --responsive_size_CssCleanStart__min-width: 2161px;
    --responsive_size_CssCleanStart__max-width: 2160px;





    
    



    




    --clean-start__site__overflow_x:    hidden;
    




    


    



  }

}






@media only screen and (min-width: 2561px) and (max-width: 3840px) and (orientation: landscape) {

  .workspace {
    --responsive_size: responsive_size_s08_display_qhd_landscape;

    --responsive_size__min-width: 2561px;
    --responsive_size__max-width: 3840px;



    --responsive_size_CssCleanStart: responsive_size_s08_display_qhd_landscape_CssCleanStart;

    --responsive_size_CssCleanStart__min-width: 2561px;
    --responsive_size_CssCleanStart__max-width: 3840px;





    
    



    




    --clean-start__site__overflow_x:    hidden;
    




    


    



  }

}







@media only screen and (min-width: 2161px) and (max-width: 4320px) and (orientation: portrait) {

  .workspace {
    --responsive_size: responsive_size_t04_tv_4k_portrait;

    --responsive_size__min-width: 2161px;
    --responsive_size__max-width: 4320px;



    --responsive_size_CssCleanStart: responsive_size_t04_tv_4k_portrait_CssCleanStart;

    --responsive_size_CssCleanStart__min-width: 2161px;
    --responsive_size_CssCleanStart__max-width: 4320px;





    
    



    




    --clean-start__site__overflow_x:    hidden;
    




    


    



  }

}






@media only screen and (min-width: 3841px) and (max-width: 7680px) and (orientation: landscape) {

  .workspace {
    --responsive_size: responsive_size_t04_tv_4k_landscape;

    --responsive_size__min-width: 3841px;
    --responsive_size__max-width: 7680px;



    --responsive_size_CssCleanStart: responsive_size_t04_tv_4k_landscape_CssCleanStart;

    --responsive_size_CssCleanStart__min-width: 3841px;
    --responsive_size_CssCleanStart__max-width: 7680px;





    
    



    




    --clean-start__site__overflow_x:    hidden;
    




    


    



  }

}







@media only screen and (min-width: 4321px) and (max-width: 8640px) and (orientation: portrait) {

  .workspace {
    --responsive_size: responsive_size_t08_tv_8k_portrait;

    --responsive_size__min-width: 4321px;
    --responsive_size__max-width: 8640px;



    --responsive_size_CssCleanStart: responsive_size_t08_tv_8k_portrait_CssCleanStart;

    --responsive_size_CssCleanStart__min-width: 4321px;
    --responsive_size_CssCleanStart__max-width: 8640px;





    
    



    




    --clean-start__site__overflow_x:    hidden;
    




    


    



  }

}






@media only screen and (min-width: 7681px) and (max-width: 15360px) and (orientation: landscape) {

  .workspace {
    --responsive_size: responsive_size_t08_tv_8k_landscape;

    --responsive_size__min-width: 7681px;
    --responsive_size__max-width: 15360px;



    --responsive_size_CssCleanStart: responsive_size_t08_tv_8k_landscape_CssCleanStart;

    --responsive_size_CssCleanStart__min-width: 7681px;
    --responsive_size_CssCleanStart__max-width: 15360px;





    
    



    




    --clean-start__site__overflow_x:    hidden;
    




    


    



  }

}







@media only screen and (min-width: 8641px) and (max-width: 9999px) and (orientation: portrait) {

  .workspace {
    --responsive_size: responsive_size_t16_tv_16k_portrait;

    --responsive_size__min-width: 8641px;
    --responsive_size__max-width: 9999px;



    --responsive_size_CssCleanStart: responsive_size_t16_tv_16k_portrait_CssCleanStart;

    --responsive_size_CssCleanStart__min-width: 8641px;
    --responsive_size_CssCleanStart__max-width: 9999px;





    
    



    




    --clean-start__site__overflow_x:    hidden;
    




    


    



  }

}






@media only screen and (min-width: 15361px) and (max-width: 25360px) and (orientation: landscape) {

  .workspace {
    --responsive_size: responsive_size_t16_tv_16k_landscape;

    --responsive_size__min-width: 15361px;
    --responsive_size__max-width: 25360px;



    --responsive_size_CssCleanStart: responsive_size_t16_tv_16k_landscape_CssCleanStart;

    --responsive_size_CssCleanStart__min-width: 15361px;
    --responsive_size_CssCleanStart__max-width: 25360px;





    
    



    




    --clean-start__site__overflow_x:    hidden;
    




    


    



  }

}



html.workspace {
  font-size: var(--clean-start__rem);
}


html.workspace head,
html.workspace head *,
html.workspace script {
  visibility: hidden;
  max-height: 0;
  max-width: 0;
  overflow-y: hidden;
  overflow-x: hidden;
}


.workspace,
.workspace * {

  position: var(--clean-start__position);
  display: var(--clean-start__custom-tags__display);
  box-sizing: var(--clean-start__box-sizing);

  line-break: strict;
  word-wrap: normal;
  word-break: normal;

  color: var(--clean-start__text-color);

  border-width: var(--clean-start__border-width);
  border-style: var(--clean-start__border-style);
  border-color: var(--clean-start__border-color);

}

.workspace,
.workspace *:not(ul):not(ol):not(li) {

  margin: var(--clean-start__margin);
  padding: var(--clean-start__padding);

}



.workspace,
.workspace *:not(pre) {
  font-family: var(--clean-start__font-family);
}

.workspace pre {
  font-family: var(--clean-start__font-family-pre, "Courier New", Courier, monospace);
}


.workspace *:not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) {

  font-size: var(--clean-start__font-size);
  line-height: var(--clean-start__line-height);

}



.workspace h1,
.workspace h2,
.workspace h3,
.workspace h4,
.workspace h5,
.workspace h6 {
  font-weight: var(--clean-start__font-weight_h);
  color: var(--clean-start__text-color-h);
  margin: var(--clean-start__h__margin);
  padding: var(--clean-start__h__padding);
}

.workspace h1 {
  font-size: var(--clean-start__font-size_h1);
  line-height: var(--clean-start__line-height_h1);
}
.workspace h2 {
  font-size: var(--clean-start__font-size_h2);
  line-height: var(--clean-start__line-height_h2);
}
.workspace h3 {
  font-size: var(--clean-start__font-size_h3);
  line-height: var(--clean-start__line-height_h3);
}
.workspace h4 {
  font-size: var(--clean-start__font-size_h4);
  line-height: var(--clean-start__line-height_h4);
}
.workspace h5 {
  font-size: var(--clean-start__font-size_h5);
  line-height: var(--clean-start__line-height_h5);
}
.workspace h6 {
  font-size: var(--clean-start__font-size_h6);
  line-height: var(--clean-start__line-height_h6);
}


html.workspace {
  top: 0;

  width: var(--clean-start__tag_body__width);
  max-width: var(--clean-start__tag_body__max_width);
  min-width: var(--clean-start__tag_body__min_width);

  overflow-x: hidden;
}

.workspace body {
  background: var(--clean-start__tag_body__background);

  
  height:     var(--clean-start__tag_body__height);
  max-height: var(--clean-start__tag_body__height_max);
  min-height: var(--clean-start__tag_body__height_min);

  width:     var(--clean-start__tag_body__width);
  max-width: var(--clean-start__tag_body__max_width);
  min-width: var(--clean-start__tag_body__min_width);

  overflow-y: visible;
  overflow-x: var(--clean-start__tag_body__overflow-x);
}

.workspace main {
  margin: var(--clean-start__site__margin) !important;
  padding: var(--clean-start__site__padding) !important;
  background: var(--clean-start__site__background);

  
  height:     var(--clean-start__site__height);
  max-height: var(--clean-start__site__height_max);
  min-height: var(--clean-start__site__height_min);

  width:     var(--clean-start__site__width);
  max-width: var(--clean-start__site__max_width);
  min-width: var(--clean-start__site__min_width);

  overflow: var(--clean-start__site__overflow_x) var(--clean-start__site__overflow_y);
}




.workspace p {
  margin: var(--clean-start__p__margin);
}



.workspace a {
  color: var(--clean-start__anchor__text-color);
  text-decoration: none;
}
.workspace a:hover {
  color: var(--clean-start__anchor__text-color-hover);
  text-decoration: underline;
}
.workspace a:visited {
  color: var(--clean-start__anchor__text-color-visited);
  text-decoration: none;
}
.workspace a:visited:hover {
  color: var(--clean-start__anchor__text-color-visited-hover);
  text-decoration: underline;
}





.workspace address,
.workspace article,
.workspace aside,
.workspace blockquote,
.workspace body,
.workspace canvas,
.workspace dd,
.workspace div,
.workspace dl,
.workspace dt,
.workspace fieldset,
.workspace figcaption,
.workspace figure,
.workspace footer,
.workspace form,
.workspace h1,
.workspace h2,
.workspace h3,
.workspace h4,
.workspace h5,
.workspace h6,
.workspace header,
.workspace hr,

.workspace main,
.workspace nav,
.workspace noscript,

.workspace output,
.workspace p,
.workspace pre,
.workspace section,

.workspace video {
  display: var(--clean-start__block-tags__display, block);
}




.workspace span,
.workspace a,
.workspace b,
.workspace big,
.workspace br,
.workspace cite,
.workspace code,
.workspace del,
.workspace em,
.workspace i,
.workspace img,
.workspace ins,
.workspace label,
.workspace map,
.workspace mark,
.workspace q,
.workspace s,
.workspace samp,
.workspace small,
.workspace strong,
.workspace sub,
.workspace sup,
.workspace time,
.workspace u,
.workspace var {
    display: var(--clean-start__inline-tags__display, inline-block);
}



.workspace table {
  display: table;
}

.workspace table caption {
  display: 	table-caption;
}

.workspace colgroup {
  display: table-column-group;
}

.workspace col {
  display: table-column;
}

.workspace thead {
  display: table-header-group;
}

.workspace tbody {
  display: table-row-group;
}

.workspace tfoot {
  display: table-footer-group;
}

.workspace tr {
  display: table-row;
}

.workspace th,
.workspace td {
  display: table-cell;
}




.workspace.ul-reset ul,
.workspace.ul-reset ol,
.workspace.ul-reset li,
.workspace .ul-reset ul,
.workspace .ul-reset ol,
.workspace .ul-reset li,
.workspace ul.ul-reset,
.workspace ol.ul-reset,
.workspace ul.ul-reset li,
.workspace ol.ul-reset li {

  list-style-type: none;

  position: var(--clean-start__position);
  display: var(--clean-start__inline-tags__display, inline-block);
  box-sizing: var(--clean-start__box-sizing);

  margin: var(--clean-start__margin);
  padding: var(--clean-start__padding);

  border-width: var(--clean-start__border-width);
  border-style: var(--clean-start__border-style);
  border-color: var(--clean-start__border-color);

}





.workspace.verify-responsive-rule-applies main h1::before {
  content: "";
  position: relative;
  top: 0;
  left: 0;
  display: block;
  background-color: antiquewhite;
  color: orange;
  padding: 0.2rem 0.4rem;
  border: 1px solid red;
  border-radius: 0.4rem;
  font-size: var(--clean-start__font-size);
  line-height: var(--clean-start__line-height);
}
