/* theme-lightmode */
.workspace.theme-salad-404,
.workspace .theme-salad-404 {

  --clean-start__rem: 16px;

  --clean-start__font-family: "Tahoma";

  --clean-start__text-color: #222a2e;
  --clean-start__text-color-h: #60646a;



  /* All other tags. FONT-SIZE AND LINE-HEIGHT RESPONSIVE */
  /* --clean-start__font-size__mobile__predefined: 1.4rem;
  --clean-start__line-height__mobile__predefined: 1.9rem;

  --clean-start__font-size__predefined: 1.25rem;
  --clean-start__line-height__predefined: 1.8rem; */



  --clean-start__tag_body__height: 100vh;
  --clean-start__tag_body__height_max: 100hv;
  --clean-start__tag_body__height_min: 100vh;

  --clean-start__tag_body__overflow-y: hidden;
  --clean-start__tag_body__overflow-x: hidden;


  --clean-start__site__height: 100vh;
  --clean-start__site__height_max: 100vh;
  --clean-start__site__height_min: 100vh;

  --clean-start__site__width: 100%;
  --clean-start__site__max_width: 100%;
  --clean-start__site__min_width: 100%;

  --clean-start__site__overflow_y: hidden;
  --clean-start__site__overflow_x: hidden;




  --color-light: #FFFFFF;
  --color-background-mild: #D2E7CD;
  --color-background-dark: #82A79D;

  --footer-height: 23rem;
  --footer-width: 100%;



  --clean-start__tag_body__background: var(--color-light);
  --clean-start__site__background: var(--color-background-mild);

  --clean-start__anchor__text-color: green;
  --clean-start__anchor__text-color-hover: lime;
  --clean-start__anchor__text-color-visited: var(--clean-start__anchor__text-color);
  --clean-start__anchor__text-color-visited-hover: var(--clean-start__anchor__text-color-hover);

  --clean-start__block-tags__display: flex;

}

.workspace.theme-salad-404 body main {
  position: sticky;
  left: 0;
  top: 0;

}

.workspace.theme-salad-404 body main * {
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
  text-align: center;
}

.workspace.theme-salad-404 body main footer {
  
  background-color: var(--color-background-dark);
  color: var(--color-light);

  height: var(--footer-height);
  min-height: var(--footer-height);
  max-height: var(--footer-height);
  
  width: var(--footer-width);
  min-width: var(--footer-width);
  max-width: var(--footer-width);

}
