/* Responsive rules for: style_e06_mobile_sm_landscape */
@media only screen and (min-width: 668px) and (max-width: 736px) and (orientation: landscape) {
  .workspace {
    --media_rule_name: style_e06_mobile_sm_landscape;

    --media_rule__min_width: var(--style_e06_mobile_sm_landscape__min_width);
    --media_rule__max_width: var(--style_e06_mobile_sm_landscape__max_width);

  }    

  /* verifying responsive rules applies */
  .workspace.verify-responsive-rule-applies main h1::before {
    content: var(--media_rule_name);
  }

}

