/* Sites tool: CssTable, theme: jaisocx-folder-listing */


/* MEDIA RULE FOR SMALL DEVICESS, IN THIS TABLE LAYOUT FIELDS IN A RECORD ARE PLACED VERTICALLY, NOT IN ONE LINE. */
/* @media only screen and (min-width: 10px) and (max-width: 1024px) {

  .jsx-css-table-holder.jaisocx-folder-listing {
    display: none;
  }

} */


