

.tooltip.theme-context {
  --tooltip__background: #e8f2ff;
  --tooltip__text_color: #333;
  --tooltip__font_family: Courier;
  --tooltip__border_width: 0.5px;
  --tooltip__border_style: solid;
  --tooltip__border_color: #885;
  --tooltip__border_radius: 0;

  --tooltip__padding: 0.8rem;
  --tooltip_arrow__size: 0;

  /* testing purpose variables */
  --tooltip__width: 12rem;
  --tooltip__height: 10rem;
}

.tooltip.theme-context ul.context {
  margin: 0 0 0 0;
  padding-left: 0.3rem;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  list-style-type: none;
}

.tooltip.theme-context ul.context li {

}

@media ( (max-width: 440px) and (orientation: portrait) ) {
}

