/* Upright (normal) variable font */
@font-face {
  font-family: v_Orbitron;
  src: url("@JscFonts_Orbitron_MediaAndStyles/fonts/Orbitron/Orbitron_VariableFont_wght.ttf") format("truetype") tech("variations");
  src: url("@JscFonts_Orbitron_MediaAndStyles/fonts/Orbitron/Orbitron_VariableFont_wght.ttf") format("truetype-variations");
  font-weight: 400 900;
  font-stretch: 85% 121%;
  font-style: normal;
  font-display: swap;
}
