/* Responsive rules for: s_56_tv_16k_portrait */
@media only screen and (min-width: 8641px) and (max-width: 9999px) and (orientation: portrait) {
  .workspace {
    --media_rule_name: s_56_tv_16k_portrait;

    --width__from: var(--s_56_tv_16k_portrait__width__from);
    --width__til: var(--s_56_tv_16k_portrait__width__til);

  }    

  /* verifying responsive rules applies */
  .workspace.verify-responsive-rule-applies main h1::before {
    content: var(--media-rule);
  }

}

