/* Responsive rules for: s_36_laptop_md_landscape */
@media only screen and (min-width: 1280px) and (max-width: 1439px) and (orientation: landscape) {
  .workspace {
    --media_rule_name: s_36_laptop_md_landscape;

    --width__from: var(--s_36_laptop_md_landscape__width__from);
    --width__til: var(--s_36_laptop_md_landscape__width__til);

  }    

  /* verifying responsive rules applies */
  .workspace.verify-responsive-rule-applies main h1::before {
    content: var(--media-rule);
  }

}

