/* Responsive rules for: s_52_tv_4k_portrait */
@media only screen and (min-width: 2161px) and (max-width: 4320px) and (orientation: portrait) {
  .workspace {
    --media_rule_name: s_52_tv_4k_portrait;

    --width__from: var(--s_52_tv_4k_portrait__width__from);
    --width__til: var(--s_52_tv_4k_portrait__width__til);

  }    

  /* verifying responsive rules applies */
  .workspace.verify-responsive-rule-applies main h1::before {
    content: var(--media-rule);
  }

}

