/* Responsive rules for: s_18_mobile_md_portrait */
@media only screen and (min-width: 431px) and (max-width: 480px) and (orientation: portrait) {
  .workspace {
    --media_rule_name: s_18_mobile_md_portrait;

    --width__from: var(--s_18_mobile_md_portrait__width__from);
    --width__til: var(--s_18_mobile_md_portrait__width__til);

  }    

  /* verifying responsive rules applies */
  .workspace.verify-responsive-rule-applies main h1::before {
    content: var(--media-rule);
  }

}

