/* Responsive rules for: s_12_mobile_xs_landscape */
@media only screen and (min-width: 320px) and (max-width: 500px) and (orientation: landscape) {
  .workspace {
    --media_rule_name: s_12_mobile_xs_landscape;

    --width__from: var(--s_12_mobile_xs_landscape__width__from);
    --width__til: var(--s_12_mobile_xs_landscape__width__til);

  }    

  /* verifying responsive rules applies */
  .workspace.verify-responsive-rule-applies main h1::before {
    content: var(--media-rule);
  }

}

