/* Responsive rules for: style_l07_laptop_lg_landscape */
@media only screen and (min-width: 1440px) and (max-width: 1600px) and (orientation: landscape) {
  .workspace {
    --media_rule_name: style_l07_laptop_lg_landscape;

    --media_rule__min_width: var(--style_l07_laptop_lg_landscape__min_width);
    --media_rule__max_width: var(--style_l07_laptop_lg_landscape__max_width);

  }    

  /* verifying responsive rules applies */
  .workspace.verify-responsive-rule-applies main h1::before {
    content: var(--media_rule_name);
  }

}

