/* Responsive rules for: style_t08_tv_8k_portrait */
@media only screen and (min-width: 4321px) and (max-width: 8640px) and (orientation: portrait) {
  .workspace {
    --media_rule_name: style_t08_tv_8k_portrait;

    --media_rule__min_width: var(--style_t08_tv_8k_portrait__min_width);
    --media_rule__max_width: var(--style_t08_tv_8k_portrait__max_width);

  }    

  /* verifying responsive rules applies */
  .workspace.verify-responsive-rule-applies main h1::before {
    content: var(--media_rule_name);
  }

}

