/* Responsive rules for: style_e04_mobile_s_portrait */
@media only screen and (min-width: 321px) and (max-width: 374px) and (orientation: portrait) {
  .workspace {
    --media_rule_name: style_e04_mobile_s_portrait;

    --media_rule__min_width: var(--style_e04_mobile_s_portrait__min_width);
    --media_rule__max_width: var(--style_e04_mobile_s_portrait__max_width);

  }    

  /* verifying responsive rules applies */
  .workspace.verify-responsive-rule-applies main h1::before {
    content: var(--media_rule_name);
  }

}

