/* Responsive rules for: style_s08_display_qhd_landscape */
@media only screen and (min-width: 2561px) and (max-width: 3840px) and (orientation: landscape) {
  .workspace {
    --media_rule_name: style_s08_display_qhd_landscape;

    --media_rule__min_width: var(--style_s08_display_qhd_landscape__min_width);
    --media_rule__max_width: var(--style_s08_display_qhd_landscape__max_width);

  }    

  /* verifying responsive rules applies */
  .workspace.verify-responsive-rule-applies main h1::before {
    content: var(--media_rule_name);
  }

}

