/* Responsive rules for: style_s02_desktop_xl_landscape */
@media only screen and (min-width: 1601px) and (max-width: 1920px) and (orientation: landscape) {
  .workspace {
    --media_rule_name: style_s02_desktop_xl_landscape;

    --media_rule__min_width: var(--style_s02_desktop_xl_landscape__min_width);
    --media_rule__max_width: var(--style_s02_desktop_xl_landscape__max_width);

  }    

  /* verifying responsive rules applies */
  .workspace.verify-responsive-rule-applies main h1::before {
    content: var(--media_rule_name);
  }

}

