

.tooltip.theme-darkmode {
  --tooltip__background: #224;
  --tooltip__text_color: #38f;
  --tooltip__border_width: 2px;
  --tooltip__border_style: dashed;
  --tooltip__border_color: #5bf;

  --tooltip_arrow__background: var(--tooltip__background);
  
  --tooltip_arrow__border_color: var(--tooltip__border_color);
  --tooltip_arrow__border_style: var(--tooltip__border_style);
  --tooltip_arrow__border_width: var(--tooltip__border_width);
}

@media ( (max-width: 440px) and (orientation: portrait) ) {

}

