/* Main .css file for the sites tool: CssToolTemplate */
.workspace .CssToolTemplate {
  background-color: var(--CssToolTemplate--main--background-color);
  color: var(--CssToolTemplate--main--color);
}

.workspace .CssToolTemplate .class1 {
  font-size: var(--CssToolTemplate--toolHtmlElement--font-size);
}

.workspace .CssToolTemplate .class2 {

}



