/* all variables are set in the theme-base .css file */
.workspace-css-table-holder {

  --workspace-table--cell--font-family: "Arial";

  --workspace-table--cell--column-label--font-family: var(--workspace-table--cell--font-family);
  --workspace-table--cell--cell-value--font-family: var(--workspace-table--cell--font-family);



  --workspace-table-thin--cell--column-label--font-family: var(--workspace-table--cell--column-label--font-family);
  --workspace-table-thin--cell--cell-value--font-family: var(--workspace-table--cell--cell-value--font-family);

  --workspace-table-bright--cell--column-label--font-family: var(--workspace-table--cell--column-label--font-family);
  --workspace-table-bright--cell--cell-value--font-family: var(--workspace-table--cell--cell-value--font-family);



  --workspace-table--cell--text-align: left;

  --workspace-table-thin--cell--text-align: var(--workspace-table--cell--text-align);
  --workspace-table-bright--cell--text-align: var(--workspace-table--cell--text-align);



  --workspace-table--cell--padding: 16px 12px 16px 12px;

  --workspace-table-thin--cell--padding: 5px 12px 5px 12px;
  --workspace-table-bright--cell--padding: 16px 12px 16px 12px;


  /* THIN RECORD PADDING TOP AND BOTTOM, THE FIRST AND THE LAST CELLS OF A TABLE ROW */
  --workspace-table-thin--record--padding-top: 1.4rem;
  --workspace-table-thin--record--padding-bottom: 1.4rem;




  /* TASKS: ALL THESE PROPS, TOO, AS ABOVE */
  --workspace-table--cell--cell-value--font-weight: 400;




  --workspace--cell--column-label--font-weight: 600;
  --workspace--cell--column-label--font-size: 2rem;
  --workspace--cell--column-label--line-height: 1.5rem;
  --workspace--cell--column-label--letter-spacing: 0;
  --workspace--cell--column-label--text-align: var(--workspace--cell--text-align);
  --workspace--cell--column-label--padding: var(--workspace--cell--padding);

  --workspace--cell--cell-value--font-weight: var(--workspace-table--cell--cell-value--font-weight);
  --workspace--cell--cell-value--font-size: 1.0rem;
  --workspace--cell--cell-value--line-height: 1.28rem;
  --workspace--cell--cell-value--letter-spacing: 0;
  --workspace--cell--cell-value--text-align: var(--workspace--cell--text-align);
  --workspace--cell--cell-value--padding: var(--workspace--cell--padding);





  --workspace-table-thin--cell--column-label--width: 8rem;
  --workspace-table-thin--cell--column-label--font-weight: 600;
  --workspace-table-thin--cell--column-label--font-size: 1.085rem;
  --workspace-table-thin--cell--column-label--line-height: 1.3rem;
  --workspace-table-thin--cell--column-label--letter-spacing: 0;
  --workspace-table-thin--cell--column-label--text-align: var(--workspace-table-thin--cell--text-align);
  --workspace-table-thin--cell--column-label--padding: var(--workspace-table-thin--cell--padding);

  --workspace-table-thin--cell--cell-value--font-weight: var(--workspace-table--cell--cell-value--font-weight);
  --workspace-table-thin--cell--cell-value--font-size: 1.05rem;
  --workspace-table-thin--cell--cell-value--line-height: 1.3rem;
  --workspace-table-thin--cell--cell-value--letter-spacing: 0;
  --workspace-table-thin--cell--cell-value--text-align: var(--workspace-table-thin--cell--text-align);
  --workspace-table-thin--cell--cell-value--padding: var(--workspace-table-thin--cell--padding);





  --workspace-table-bright--cell--column-label--font-weight: 600;
  --workspace-table-bright--cell--column-label--font-size: 1.2rem;
  --workspace-table-bright--cell--column-label--line-height: 1.5rem;
  --workspace-table-bright--cell--column-label--letter-spacing: 0;
  --workspace-table-bright--cell--column-label--text-align: var(--workspace-table-bright--cell--text-align);
  --workspace-table-bright--cell--column-label--padding: var(--workspace-table-bright--cell--padding);

  --workspace-table-bright--cell--cell-value--font-weight: var(--workspace-table--cell--cell-value--font-weight);
  --workspace-table-bright--cell--cell-value--font-size: 1.0rem;
  --workspace-table-bright--cell--cell-value--line-height: 1.28rem;
  --workspace-table-bright--cell--cell-value--letter-spacing: 0;
  --workspace-table-bright--cell--cell-value--text-align: var(--workspace-table-bright--cell--text-align);
  --workspace-table-bright--cell--cell-value--padding: var(--workspace-table-bright--cell--padding);









/* TESTED CSS PROPS WITH EXTENSIBILITY FEATURE. EXTENSIBILTY DOESNT DO WITH BACKGROUND PROPS */

/* THESE STYLES ARE APPLIED TO .cell CSS CLASS */
  --workspace-table--cell--text-color:                            #339933;

  --workspace-table--cell--background-color:                      #fbfefc;

  --workspace-table--cell--background-image:                        none;
  --workspace-table--cell--background-position:                     0 0;
  --workspace-table--cell--background-size:                         contain;
  --workspace-table--cell--background-repeat:                       no-repeat;
  --workspace-table--cell--background-origin:                       border-box;
  --workspace-table--cell--background-clip:                         border-box;
  --workspace-table--cell--background-attachment:                   scroll;



  /* --workspace-table--cell--column-label--text-color: var(--workspace-table--cell--text-color); */
  --workspace-table--cell--column-label--text-color:              #339933;

  /* --workspace-table--cell--column-label--background-color: var(--workspace-table--cell--background-color); */
  --workspace-table--cell--column-label--background-color:        #f2fff2;

  --workspace-table--cell--column-label--background-image:          var(--workspace-table--cell--background-image);
  --workspace-table--cell--column-label--background-position:       0 0;
  --workspace-table--cell--column-label--background-size:           contain;
  --workspace-table--cell--column-label--background-repeat:         no-repeat;
  --workspace-table--cell--column-label--background-origin:         border-box;
  --workspace-table--cell--column-label--background-clip:           border-box;
  --workspace-table--cell--column-label--background-attachment:     scroll;



  /* --workspace-table--cell--cell-value--text-color: var(--workspace-table--cell--text-color); */
  --workspace-table--cell--cell-value--text-color:                #333;

  /* --workspace-table--cell--cell-value--background-color: var(--workspace-table--cell--background-color); */
  --workspace-table--cell--cell-value--background-color:          #fbfefc;

  --workspace-table--cell--cell-value--background-image:            var(--workspace-table--cell--background-image);
  --workspace-table--cell--cell-value--background-position:         0 0;
  --workspace-table--cell--cell-value--background-size:             contain;
  --workspace-table--cell--cell-value--background-repeat:           no-repeat;
  --workspace-table--cell--cell-value--background-origin:           border-box;
  --workspace-table--cell--cell-value--background-clip:             border-box;
  --workspace-table--cell--cell-value--background-attachment:       scroll;


  /* mobile thin layout */

  /* --workspace-table-thin--cell--column-label--text-color: var(--workspace-table--cell--column-label--text-color); */
  --workspace-table-thin--cell--column-label--text-color:          #339933;

  /* --workspace-table-thin--cell--column-label--background-color: var(--workspace-table--cell--column-label--background-color); */
  --workspace-table-thin--cell--column-label--background-color:    #f2fff2;

  --workspace-table-thin--cell--column-label--background-image:      unset; /* url("https://sandbox.brightday.email/cdn/jaisocx-tools/tree/MediaAndStyles/themes/theme-funny/mini-images/data-types/house.png"); */
  --workspace-table-thin--cell--column-label--background-position:   0 0;
  --workspace-table-thin--cell--column-label--background-size:       contain;
  --workspace-table-thin--cell--column-label--background-repeat:     no-repeat;
  --workspace-table-thin--cell--column-label--background-origin:     border-box;
  --workspace-table-thin--cell--column-label--background-clip:       border-box;
  --workspace-table-thin--cell--column-label--background-attachment: scroll;


  /* --workspace-table-thin--cell--cell-value--text-color: var(--workspace-table--cell--cell-value--text-color); */
  --workspace-table-thin--cell--cell-value--text-color:             #333;

  /* --workspace-table-thin--cell--cell-value--background-color: var(--workspace-table--cell--cell-value--background-color); */
  --workspace-table-thin--cell--cell-value--background-color:       #fbfefc;

  --workspace-table-thin--cell--cell-value--background-image:         unset; /* url("https://sandbox.brightday.email/cdn/jaisocx-tools/tree/MediaAndStyles/themes/theme-funny/mini-images/data-types/money-transfer.png"); */
  --workspace-table-thin--cell--cell-value--background-position:      0 0;
  --workspace-table-thin--cell--cell-value--background-size:          contain;
  --workspace-table-thin--cell--cell-value--background-repeat:        no-repeat;
  --workspace-table-thin--cell--cell-value--background-origin:        border-box;
  --workspace-table-thin--cell--cell-value--background-clip:          border-box;
  --workspace-table-thin--cell--cell-value--background-attachment:    scroll;



  /* laptop bright layout */

  /* --workspace-table-bright--cell--column-label--text-color: var(--workspace-table--cell--column-label--text-color); */
  --workspace-table-bright--cell--column-label--text-color:         #339933;


  /* --workspace-table-bright--cell--column-label--background-color: var(--workspace-table--cell--column-label--background-color); */
  --workspace-table-bright--cell--column-label--background-color:    #e2f4e2;

  --workspace-table-bright--cell--column-label--background-image:      unset; /* url("https://sandbox.brightday.email/cdn/jaisocx-tools/tree/MediaAndStyles/themes/theme-funny/mini-images/data-types/track.png"); */
  --workspace-table-bright--cell--column-label--background-position:   0 0;
  --workspace-table-bright--cell--column-label--background-size:       contain;
  --workspace-table-bright--cell--column-label--background-repeat:     no-repeat;
  --workspace-table-bright--cell--column-label--background-origin:     border-box;
  --workspace-table-bright--cell--column-label--background-clip:       border-box;
  --workspace-table-bright--cell--column-label--background-attachment: scroll;


  /* --workspace-table-bright--cell--cell-value--text-color: var(--workspace-table--cell--cell-value--text-color); */
  --workspace-table-bright--cell--cell-value--text-color:            #333;


  /* --workspace-table-bright--cell--cell-value--background-color: var(--workspace-table--cell--cell-value--background-color); */
  --workspace-table-bright--cell--cell-value--background-color:      #fafafa;

  --workspace-table-bright--cell--cell-value--background-image:        unset; /* url("https://sandbox.brightday.email/cdn/jaisocx-tools/tree/MediaAndStyles/themes/theme-funny/mini-images/data-types/html.png"); */
  --workspace-table-bright--cell--cell-value--background-position:     0 0;
  --workspace-table-bright--cell--cell-value--background-size:         contain;
  --workspace-table-bright--cell--cell-value--background-repeat:       no-repeat;
  --workspace-table-bright--cell--cell-value--background-origin:       border-box;
  --workspace-table-bright--cell--cell-value--background-clip:         border-box;
  --workspace-table-bright--cell--cell-value--background-attachment:   scroll;

/* END BLOCK     TESTED CSS PROPS WITH EXTENSIBILITY FEATURE */



  /* BORDERS */
  --workspace-table--border-width: 1px;
  --workspace-table--border-style: solid;
  --workspace-table--border-color: #D2DCE4;

  --workspace-table--main--border-color: var(--workspace-table--border-color);
  --workspace-table--main--border: var(--workspace-table--border-width) var(--workspace-table--border-style) var(--workspace-table--main--border-color);
  --workspace-table--main--border-radius: 1rem;

  --workspace-table--row--border: var(--workspace-table--border-width) var(--workspace-table--border-style) var(--workspace-table--border-color);
  --workspace-table--cell--border: var(--workspace-table--border-width) var(--workspace-table--border-style) var(--workspace-table--border-color);



  /* WIDTH AND OVERFLOW */
  --workspace-table-holder--width: 100%;
  --workspace-table-holder--width-max: 100%;
  --workspace-table-holder--width-min: 100%;

  --workspace-table-holder--overflow-y: hidden;
  --workspace-table-holder--overflow-x: hidden;


  --workspace-table--main--width: 100%;
  --workspace-table--main--width-max: 100%;
  --workspace-table--main--width-min: 100%;

  --workspace-table--main--overflow-y: visible;
  --workspace-table--main--overflow-x: auto;

}

