/* Responsive rules */
@media only screen and (min-width: 1601px) and (max-width: 2160px) and (orientation: portrait) {

  .workspace {
    --responsive_size: responsive_size_s04_display_xxl_portrait;

    --responsive_size__min-width: 1601px;
    --responsive_size__max-width: 2160px;



    --responsive_size_CssTable: responsive_size_s04_display_xxl_portrait_CssTable;

    --responsive_size_CssTable__min-width: 1601px;
    --responsive_size_CssTable__max-width: 2160px;
  }

}

