/* Responsive rules */
@media only screen and (min-width: 1081px) and (max-width: 1200px) and (orientation: portrait) {

  .workspace {
    --responsive_size: responsive_size_l05_laptop_md_portrait;

    --responsive_size__min-width: 1081px;
    --responsive_size__max-width: 1200px;



    --responsive_size_CssTable: responsive_size_l05_laptop_md_portrait_CssTable;

    --responsive_size_CssTable__min-width: 1081px;
    --responsive_size_CssTable__max-width: 1200px;
  }

}

