/* md tablet landscape */
@media (min-width: 813px) and (max-width: 1024px) and (orientation: landscape) {

  .workspace main {
    /* --clean-start__site__background: aliceblue; */

    --clean-start__tag_body__width: var(--clean-start__tag_body__width__md_tablet_landscape);
    --clean-start__tag_body__max_width: var(--clean-start__tag_body__max_width__md_tablet_landscape);
    --clean-start__tag_body__min_width: var(--clean-start__tag_body__min_width__md_tablet_landscape);

    --clean-start__site__width: var(--clean-start__site__width__md_tablet_landscape);
    --clean-start__site__max_width: var(--clean-start__site__max_width__md_tablet_landscape);
    --clean-start__site__min_width: var(--clean-start__site__min_width__md_tablet_landscape);

    --clean-start__site__overflow_x: var(--clean-start__site__overflow_x__md_tablet_landscape);



    --clean-start__font-size__tablet: var(--clean-start__font-size__tablet_landscape);
    --clean-start__font-size: var(--clean-start__font-size__tablet);

    --clean-start__line-height__tablet: var(--clean-start__line-height__tablet_landscape);
    --clean-start__line-height: var(--clean-start__line-height__tablet);
  }    


  /* verifying responsive rules applies */
  .workspace.verify-responsive-rule-applies main h1::before {
    content: "md tablet landscape" !important;
  }
}

