/* sm mobile landscape */
@media (min-width: 668px) and (max-width: 812px) and (orientation: landscape) {
  .workspace main {
    /* --clean-start__site__background: orange; */

    --clean-start__tag_body__width: var(--clean-start__tag_body__width__sm_mobile_landscape);
    --clean-start__tag_body__max_width: var(--clean-start__tag_body__max_width__sm_mobile_landscape);
    --clean-start__tag_body__min_width: var(--clean-start__tag_body__min_width__sm_mobile_landscape);

    --clean-start__site__width: var(--clean-start__site__width__sm_mobile_landscape);
    --clean-start__site__max_width: var(--clean-start__site__max_width__sm_mobile_landscape);
    --clean-start__site__min_width: var(--clean-start__site__min_width__sm_mobile_landscape);

    --clean-start__site__overflow_x: var(--clean-start__site__overflow_x__sm_mobile_landscape);



    --clean-start__font-size__mobile: var(--clean-start__font-size__mobile_landscape);
    --clean-start__font-size: var(--clean-start__font-size__mobile);

    --clean-start__line-height__mobile: var(--clean-start__line-height__mobile_landscape);
    --clean-start__line-height: var(--clean-start__line-height__mobile);
  }    

  /* verifying responsive rules applies */
  .workspace.verify-responsive-rule-applies main h1::before {
    content: "sm mobile landscape" !important;
  }
}

