.workspace-css-table-holder.thin-cols-4 .cell:nth-of-type(1) {
  --css-table--col-width-1: 12rem;
  width: var(--css-table--col-width-1);
  max-width: var(--css-table--col-width-1);
  min-width: var(--css-table--col-width-1);
}

.workspace-css-table-holder.thin-cols-4 .cell:nth-of-type(2) {
  --css-table--col-width-2: 8rem;
  width: var(--css-table--col-width-2);
  max-width: var(--css-table--col-width-2);
  min-width: var(--css-table--col-width-2);
}

.workspace-css-table-holder.thin-cols-4 .cell:nth-of-type(3) {
  --css-table--col-width-3: 8rem;
  width: var(--css-table--col-width-3);
  max-width: var(--css-table--col-width-3);
  min-width: var(--css-table--col-width-3);
}

.workspace-css-table-holder.thin-cols-4 .cell:nth-last-of-type() {
  flex-grow: 1;
}

