/* all variables are set in the theme-base .css file */
.workspace {
  --clean-start__rem: 16px;


  --clean-start__font-size__mobile_portrait: 1.4rem;
  --clean-start__font-size__mobile_landscape: 1.4rem;
  --clean-start__font-size__mobile: var(--clean-start__font-size__mobile_portrait);


  --clean-start__font-size__laptop: 0.83rem;


  --clean-start__font-size: var(--clean-start__font-size__laptop);



  --clean-start__line-height__laptop: 1.4rem;
  --clean-start__line-height: var(--clean-start__line-height__laptop);



  --clean-start__display: block;
  --clean-start__position: relative;
  --clean-start__box-sizing: border-box;
  --clean-start__margin: 0 0 0 0;
  --clean-start__padding: 0 0 0 0;

  --clean-start__custom-tags-display: var(--clean-start__display);
  --clean-start__inline-tags__display: inline-block;



  --clean-start__border-width: 0;
  --clean-start__border-style: solid;
  --clean-start__border-color: lime;

  --clean-start__font-family: 'Franklin Gothic Medium', Verdana, sans-serif;
  --clean-start__font-family-pre: 'Courier New', Courier, monospace;
  --clean-start__text-color: unset;
  --clean-start__text-color-h: unset;


  --clean-start__p__margin: 0.2rem 0 0.2rem 0;

  --clean-start__anchor__text-color: slateblue;
  --clean-start__anchor__text-color-hover: blue;
  --clean-start__anchor__text-color-visited: darkgrey;

  


  --clean-start__font-h: 600;

  --clean-start__font-size_h1: 2.6rem;
  --clean-start__font-size_h2: 2.1rem;
  --clean-start__font-size_h3: 1.8rem;
  --clean-start__font-size_h4: 1.6rem;
  --clean-start__font-size_h5: 1.33rem;
  --clean-start__font-size_h6: 1rem;


  --clean-start__line-height_h1: 3rem;
  --clean-start__line-height_h2: 2.5rem;
  --clean-start__line-height_h3: 2.2rem;
  --clean-start__line-height_h4: 2.0rem;
  --clean-start__line-height_h5: 1.67rem;
  --clean-start__line-height_h6: 1.6rem;

  /* NOT READY: RESPONSIVE FEATURE!!! */
  --clean-start__site__height__mobile_portrait: 100vh;
  --clean-start__site__height: var(--clean-start__site__height__mobile_portrait);

  --clean-start__site__width: 70rem;

  --clean-start__site__overflow_y: auto;
  --clean-start__site__overflow_x: auto;

  --clean-start__site__align: center;


  --clean-start__tag_body__background: #f2f4f6;

  --clean-start__tag_body__height: 100vh;

  --clean-start__tag_body__width: 100vw;
  --clean-start__tag_body__min-width: 100vw;

  --clean-start__site__margin: 0 auto;

  --clean-start__site__padding-top: 1rem;
  --clean-start__site__padding-right: 1rem;
  --clean-start__site__padding-left: 1rem;
  --clean-start__site__padding-bottom: 1rem;

  --clean-start__site__padding: var(--clean-start__site__padding-top) var(--clean-start__site__padding-right) var(--clean-start__site__padding-bottom) var(--clean-start__site__padding-left);
  --clean-start__site__background: white;
}

