/* theme-darkmode */
.theme-darkmode .workspace-css-table-holder *,
.theme-darkmode.workspace-css-table-holder * {

  --workspace-table--font-family: "Arial";
  --workspace-table--column-label--font-family: var(--workspace-table--font-family);
  --workspace-table--cell--cell-value--font-family: var(--workspace-table--font-family);

  --workspace-table--cell--text-color: whitesmoke;

  --workspace-table--column-label--background: #42414d;
  --workspace-table--cell--cell-value--background: black;

  --workspace-table-thin--record--border-width: 1rem;
  --workspace-table--border-color: white;
  --workspace-table--row--border: var(--workspace-table-thin--record--border-width) var(--workspace-table--border-style) var(--workspace-table--border-color);

}



