/* theme-darkmode */
@import url("../../fonts/font_Baloo_Paji_2.css");

.theme-darkmode .workspace-table-responsive-holder,
.theme-darkmode.workspace-table-responsive-holder  {

  --workspace-table--column-label--background: #42414d;

  --workspace-table-thin--record--border-width: 1.2rem;
  --workspace-table--border-color: white;
  --workspace-table--record--border: var(--workspace-table-thin--record--border-width) var(--workspace-table--border-style) var(--workspace-table--border-color);
}



