.jsc images-block.JscImages_mini_datatypes_base,
.jsc .JscImages_mini_datatypes_base images-block {
  --jsc--images-mini--datatypes--base--gap: 0.9rem;
  --jsc--images-mini--datatypes--base--size: 4rem;
  --jsc--images-mini--datatypes--base--width: var(--jsc--images-mini--datatypes--base--size);
  --jsc--images-mini--datatypes--base--height: var(--jsc--images-mini--datatypes--base--size);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--jsc--images-mini--datatypes--base--gap);
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
}

.jsc .JscImages_mini_datatypes_base .mini-image.datatype {
  width: var(--jsc--images-mini--datatypes--base--width);
  height: var(--jsc--images-mini--datatypes--base--height);
  background-repeat: no-repeat;
  background-clip: border-box;
  background-origin: border-box;
  background-position: cover;
  background-size: var(--jsc--images-mini--datatypes--base--width) var(--jsc--images-mini--datatypes--base--height);
}

.jsc .JscImages_mini_datatypes_base .mini-image.datatype {
  background-image: url("./images/icons8-static-view-level2-80.png");
}

.jsc .JscImages_mini_datatypes_base .mini-image.datatype.object {
  background-image: url("./images/icons8-static-view-level2-80.png");
}

.jsc .JscImages_mini_datatypes_base .mini-image.datatype.array {
  background-image: url("./images/icons8-view-array-96.png");
}

.jsc .JscImages_mini_datatypes_base .mini-image.datatype.json {
  background-image: url("./images/icons8-json-96.png");
}

.jsc .JscImages_mini_datatypes_base .mini-image.datatype.string {
  background-image: url("./images/icons8-font-style-formatting-96.png");
}

.jsc .JscImages_mini_datatypes_base .mini-image.datatype.number {
  background-image: url("./images/icons8-3-100.png");
}

.jsc .JscImages_mini_datatypes_base .mini-image.datatype.boolean {
  background-image: url("./images/icons8-true-false-96.png");
}
