@import url('./themes/theme-base/clean-start-theme-base.css');


html.workspace {
  font-size: var(--clean-start__rem);
  top: 0;
}


html.workspace head,
html.workspace head *,
html.workspace script {
  visibility: hidden;
  max-height: 0;
  max-width: 0;
  overflow-y: hidden;
  overflow-x: hidden;
}


.workspace, 
.workspace * {

  position: var(--clean-start__position);
  display: var(--clean-start__display);
  box-sizing: var(--clean-start__box-sizing);

  color: var(--clean-start__text-color);

  border-width: var(--clean-start__border-width);
  border-style: var(--clean-start__border-style);
  border-color: var(--clean-start__border-color);

}

.workspace, 
.workspace *:not(ul):not(ol):not(li) {

  margin: var(--clean-start__margin);
  padding: var(--clean-start__padding);

}



.workspace, 
.workspace *:not(pre) {
  font-family: var(--clean-start__font-family);
}

.workspace pre {
  font-family: var(--clean-start__font-family-pre, 'Courier New', Courier, monospace);
}


.workspace, 
.workspace *:not(h1):not(h2):not(h3):not(h4):not(h5):not(h6)  {

  font-size: var(--clean-start__font-size);
  line-height: var(--clean-start__line-height);

}



.workspace h1,
.workspace h2,
.workspace h3,
.workspace h4,
.workspace h5,
.workspace h6 {
  font-weight: var(--clean-start__font-h);
  color: var(--clean-start__text-color-h);
}

.workspace h1 {
  font-size: var(--clean-start__font-size_h1);
  line-height: var(--clean-start__line-height_h1);
}
.workspace h2 {
  font-size: var(--clean-start__font-size_h2);
  line-height: var(--clean-start__line-height_h2);
}
.workspace h3 {
  font-size: var(--clean-start__font-size_h3);
  line-height: var(--clean-start__line-height_h3);
}
.workspace h4 {
  font-size: var(--clean-start__font-size_h4);
  line-height: var(--clean-start__line-height_h4);
}
.workspace h5 {
  font-size: var(--clean-start__font-size_h5);
  line-height: var(--clean-start__line-height_h5);
}
.workspace h6 {
  font-size: var(--clean-start__font-size_h6);
  line-height: var(--clean-start__line-height_h6);
}




.workspace p {
  margin: var(--clean-start__p__margin);
}

.workspace a {
  color: var(--clean-start__anchor__text-color);
  text-decoration: none;
}
.workspace a:hover {
  color: var(--clean-start__anchor__text-color-hover);
  text-decoration: underline;
}
.workspace a:visited {
  color: var(--clean-start__anchor__text-color-visited);
  text-decoration: none;
}
.workspace a:visited:hover {
  color: var(--clean-start__anchor__text-color-visited-hover);
  text-decoration: underline;
}



.workspace.ul-reset ul, 
.workspace.ul-reset ol, 
.workspace.ul-reset li, 
.workspace .ul-reset ul, 
.workspace .ul-reset ol, 
.workspace .ul-reset li,
.workspace ul.ul-reset,
.workspace ol.ul-reset, 
.workspace ul.ul-reset li,
.workspace ol.ul-reset li {

  list-style-type: none;
  list-style-position: inside;

  position: var(--clean-start__position);
  display: inline-block;
  box-sizing: var(--clean-start__box-sizing);

  margin: var(--clean-start__margin);
  padding: var(--clean-start__padding);

  border-width: var(--clean-start__border-width);
  border-style: var(--clean-start__border-style);
  border-color: var(--clean-start__border-color);

}



.workspace span,
.workspace a,
.workspace b,
.workspace big,
.workspace br,
.workspace cite,
.workspace code,
.workspace del,
.workspace em,
.workspace i,
.workspace img,
.workspace ins,
.workspace label,
.workspace map,
.workspace mark,
.workspace q,
.workspace s,
.workspace samp,
.workspace small,
.workspace strong,
.workspace sub,
.workspace sup,
.workspace time,
.workspace u,
.workspace var {
    display: var(--clean-start__inline-tags__display, inline-block);
}

.workspace body {
  background: var(--clean-start__tag_body__background);

  /* NOT READY: RESPONSIVE FEATURE!!! */
  height: var(--clean-start__tag_body__height);
  max-height: var(--clean-start__tag_body__height);
  min-height: var(--clean-start__tag_body__height);

  width: var(--clean-start__tag_body__width);
  max-width: var(--clean-start__tag_body__width);
  min-width: var(--clean-start__tag_body__min-width);

  overflow: var(--clean-start__site__overflow_x) var(--clean-start__site__overflow_y);
}

.workspace main {
    margin: var(--clean-start__site__margin) !important;
    padding: var(--clean-start__site__padding) !important;
    background: var(--clean-start__site__background);

    /* NOT READY: RESPONSIVE FEATURE!!! */
    height: var(--clean-start__site__height);
    max-height: var(--clean-start__site__height);
    min-height: var(--clean-start__site__height);
  
    width: var(--clean-start__site__width);
    max-width: var(--clean-start__site__width);
    min-width: var(--clean-start__site__width);
}

