/* theme-darkmode */
.theme_darkmode .jsx-css-table-holder *,
.theme_darkmode.jsx-css-table-holder * {

  /* --jsx--CssTable--cell--font-family: var(--clean-start__font-family, Niconne), "Arial"; */

  /* --jsx--CssTable--cell--column-label--font-family: var(--clean-start__font-family, Niconne), "Arial"; */
  /* --jsx--CssTable--cell--cell-value--font-family: var(--clean-start__font-family, Niconne), "Arial"; */



  /* --jsx--CssTable--thin--cell--column-label--font-family: var(--clean-start__font-family, Niconne), "Arial"; */
  /* --jsx--CssTable--thin--cell--cell-value--font-family: var(--clean-start__font-family, Niconne), "Arial"; */

  /* --jsx--CssTable--bright--cell--column-label--font-family: var(--clean-start__font-family, Niconne), "Arial"; */
  /* --jsx--CssTable--bright--cell--cell-value--font-family: var(--clean-start__font-family, Niconne), "Arial"; */



  --jsx--CssTable--thin--cell--column-label--font-size: 1.2rem;
  --jsx--CssTable--thin--cell--column-label--font-weight: 400;

  --jsx--CssTable--thin--cell--cell-value--font-size: 1.07rem;


  --jsx--CssTable--bright--cell--column-label--font-size: 1rem;
  --jsx--CssTable--bright--cell--column-label--font-weight: 400;

  --jsx--CssTable--bright--cell--cell-value--font-size: 0.9rem;



  --jsx--CssTable--cell--column-label--text-color: #90e0ff;
  --jsx--CssTable--cell--cell-value--text-color: #e0f2ff;

  --jsx--CssTable--thin--cell--column-label--text-color: #90e0ff;
  --jsx--CssTable--thin--cell--cell-value--text-color: #e0f2ff;

  --jsx--CssTable--bright--cell--column-label--text-color: #90e0ff;
  --jsx--CssTable--bright--cell--cell-value--text-color: #e0f2ff;



  --jsx--CssTable--cell--column-label--background-color: #000;
  --jsx--CssTable--cell--cell-value--background-color: #02102d;

  --jsx--CssTable--thin--cell--column-label--background-color: #000;
  --jsx--CssTable--thin--cell--cell-value--background-color: #02102d;

  --jsx--CssTable--bright--cell--column-label--background-color: #000;
  --jsx--CssTable--bright--cell--cell-value--background-color: #02102d;

  --jsx--CssTable--holder--border: 1px solid #e0f2ff;
  --jsx--CssTable--main--border: 1px solid #e0f2ff;
}

