/* Sites tool: CssTable, theme: theme_base */

.jsx-css-table-holder {

  --jsx--CssTable--thin--cell--column-label--width:                    9rem;



/* padding */
  /* --jsx--CssTable--thin--cell--padding:                                0.9rem 0.7rem; */
  --jsx--CssTable--thin--cell--padding-y:                              0.7rem;

  --jsx--CssTable--thin--record--padding-top:                          2.4rem;
  --jsx--CssTable--thin--record--padding-bottom:                       2.4rem;







/* column label padding */
  --jsx--CssTable--thin--cell--column-label--padding:                  var(--jsx--CssTable--thin--cell--padding-y) 0.7rem;

/* column label colors */
  --jsx--CssTable--thin--cell--column-label--color:                    var(--jsx--CssTable--cell--column-label--color);
  --jsx--CssTable--thin--cell--column-label--background-color:         var(--jsx--CssTable--cell--column-label--background-color);

/* column label font */
  --jsx--CssTable--thin--cell--column-label--font-family:              var(--jsx--CssTable--cell--column-label--font-family);

  --jsx--CssTable--thin--cell--column-label--font-weight:              600;
  --jsx--CssTable--thin--cell--column-label--font-size:                0.9rem;
  --jsx--CssTable--thin--cell--column-label--line-height:              1.5rem;
  --jsx--CssTable--thin--cell--column-label--letter-spacing:           0;
  --jsx--CssTable--thin--cell--column-label--text-align:               left;

  --jsx--CssTable--thin--cell--column-label--line-break:               normal;
  --jsx--CssTable--thin--cell--column-label--word-break:               break-word;





/* cell value padding */
  --jsx--CssTable--thin--cell--cell-value--padding:                    var(--jsx--CssTable--thin--cell--padding-y) 0.82rem;

/* cell value colors */
  --jsx--CssTable--thin--cell--cell-value--color:                      var(--jsx--CssTable--cell--cell-value--color);
  --jsx--CssTable--thin--cell--cell-value--background-color:           var(--jsx--CssTable--cell--cell-value--background-color);

/* cell value font */
  --jsx--CssTable--thin--cell--cell-value--font-family:                var(--jsx--CssTable--cell--cell-value--font-family);

  --jsx--CssTable--thin--cell--cell-value--font-weight:                400;
  --jsx--CssTable--thin--cell--cell-value--font-size:                  1.05rem;
  --jsx--CssTable--thin--cell--cell-value--line-height:                1.8rem;
  --jsx--CssTable--thin--cell--cell-value--letter-spacing:             0;
  --jsx--CssTable--thin--cell--cell-value--text-align:                 left;

  --jsx--CssTable--thin--cell--cell-value--line-break:                 normal;
  --jsx--CssTable--thin--cell--cell-value--word-break:                 break-word;

}




