/* Responsive rules */
@media only screen and (min-width: 321px) and (max-width: 374px) and (orientation: portrait) {

  .workspace {
    --responsive_size: responsive_size_e04_mobile_s_portrait;

    --responsive_size__min-width: 321px;
    --responsive_size__max-width: 374px;



    --responsive_size_CssTable: responsive_size_e04_mobile_s_portrait_CssTable;

    --responsive_size_CssTable__min-width: 321px;
    --responsive_size_CssTable__max-width: 374px;
  }

}

