/* Responsive rules */
@media only screen and (min-width: 668px) and (max-width: 736px) and (orientation: landscape) {

  .workspace {
    --responsive_size: responsive_size_e06_mobile_sm_landscape;

    --responsive_size__min-width: 668px;
    --responsive_size__max-width: 736px;



    --responsive_size_CssTable: responsive_size_e06_mobile_sm_landscape_CssTable;

    --responsive_size_CssTable__min-width: 668px;
    --responsive_size_CssTable__max-width: 736px;
  }

}

