
$relative_base_url: "./";
$aliased_base_url: "@JscImages_mini_freepic_kawaii_MediaAndStyles/";
$relative_path: "images/";



$mini-image-freepic-kawaii--house--url--relative: "house.png";
$mini-image-freepic-kawaii--html-intence--url--relative: "html-intence.png";
$mini-image-freepic-kawaii--html--url--relative: "html.png";
$mini-image-freepic-kawaii--money-transfer--url--relative: "money-transfer.png";
$mini-image-freepic-kawaii--truck--url--relative: "truck.png";




