/* Responsive rules */
@media only screen and (min-width: 813px) and (max-width: 960px) and (orientation: landscape) {

  .workspace {
    --responsive_size: responsive_size_h03_tablet_sm_landscape;

    --responsive_size__min-width: 813px;
    --responsive_size__max-width: 960px;



    --responsive_size_CssTableOrdered: responsive_size_h03_tablet_sm_landscape_CssTableOrdered;

    --responsive_size_CssTableOrdered__min-width: 813px;
    --responsive_size_CssTableOrdered__max-width: 960px;
  }

}

