/* Main .css file for the sites tool: ResourcesPackage */
.jsc {
    --css-clean-start-2--sans--font-family: LibreFranklin, Tahoma, system-ui, -apple-system, BlinkMacSystemFont, Roboto, Oxygen;

    --css-clean-start-2--serif--font-family: Newsreader_9pt, 'Times New Roman', system-ui, -apple-system, BlinkMacSystemFont;
    /* --css-clean-start-2--serif--font-family: Newsreader_9pt, 'Times New Roman', system-ui, -apple-system, BlinkMacSystemFont; */
    /* --css-clean-start-2--serif--font-family: Newsreader_v, 'Times New Roman', system-ui, -apple-system, BlinkMacSystemFont; */

    --css-clean-start-2--techno--font-family: Orbitron, 'Courier New', Menlo, Consolas, 'Liberation Mono';
    --css-clean-start-2--monospace--font-family: 'Source Code Pro', 'Courier New', Menlo, Consolas, 'Liberation Mono';
}

.jsx.jsc {
    --jsx--css-clean-start-2--all-tags--font-family: var(--css-clean-start-2--sans--font-family);
    --jsx--css-clean-start-2--pre--font-family: var(--css-clean-start-2--monospace--font-family);
}




