/* tool variables */
.jsx.salad,
.jsx .salad,
.CodeSnippetHolder.salad {

  --code-snippet--theme-color: #f2fff8;

  /* code snippet tool borders */
  /* by color */
  --code-snippet-tool--border-color: lime;

  /* code snippet theme Colors variables */
  --code-snippet--text-color: darkgreen;
  --code-snippet--background-color: #fff;

  /* column theme Colors variables */
  --code_snippet__column_numbers__text-color: lime;
  --code_snippet__column_numbers__background-color: #efe;
}



