@media only screen and (min-width: 25361px) and (max-width: 999999px) and (min-height: 1025px) and (max-height: 999999px) and (orientation: landscape) {

  .jsx-css-table-holder {
    --theme_name: CssTable__theme_base;
    --theme_name__CssTable: theme_base;
    --responsive_size: responsive_size_t99_tv_xxxl_landscape;
    --responsive_size__CssTable__theme_base: responsive_size_t99_tv_xxxl_landscape__CssTable__theme_base;
  }
}

