@media only screen and (min-width: 481px) and (max-width: 99999px) and (min-height: 481px) and (max-height: 767px) and (orientation: landscape) {

  .jsx-css-table-holder {
    --theme_name: CssTable__theme_base;
    --theme_name__CssTable: theme_base;
    --responsive_size: responsive_size_h03_tablet_s_landscape;
    --responsive_size__CssTable__theme_base: responsive_size_h03_tablet_s_landscape__CssTable__theme_base;
  }
}

