@media only screen and (min-width: 1025px) and (max-width: 1600px) and (min-height: 1441px) and (max-height: 1600px) and (orientation: portrait) {

  .jsx-css-table-holder {
    --theme_name: CssTable__theme_base;
    --theme_name__CssTable: theme_base;
    --responsive_size: responsive_size_l07_laptop_lg_portrait;
    --responsive_size__CssTable__theme_base: responsive_size_l07_laptop_lg_portrait__CssTable__theme_base;
  }
}

