@media only screen and (min-width: 1025px) and (max-width: 1920px) and (min-height: 1601px) and (max-height: 1920px) and (orientation: portrait) {

  .jsx-css-table-holder {
    --theme_name: CssTable__theme_base;
    --theme_name__CssTable: theme_base;
    --responsive_size: responsive_size_s02_display_xl_portrait;
    --responsive_size__CssTable__theme_base: responsive_size_s02_display_xl_portrait__CssTable__theme_base;
  }
}

