@media only screen and (min-width: 240px) and (max-width: 320px) and (min-height: 240px) and (max-height: 99999px) and (orientation: portrait) {

  .jsx-css-table-holder {
    --theme_name: CssTable__theme_base;
    --theme_name__CssTable: theme_base;
    --responsive_size: responsive_size_e02_mobile_xs_portrait;
    --responsive_size__CssTable__theme_base: responsive_size_e02_mobile_xs_portrait__CssTable__theme_base;
  }
}

