@media only screen and (min-width: 1921px) and (max-width: 2560px) and (min-height: 1025px) and (max-height: 2560px) and (orientation: landscape) {

  .jsx-css-table-holder {
    --theme_name: CssTable__theme_base;
    --theme_name__CssTable: theme_base;
    --responsive_size: responsive_size_s04_display_xxl_landscape;
    --responsive_size__CssTable__theme_base: responsive_size_s04_display_xxl_landscape__CssTable__theme_base;
  }
}

