@media only screen and (min-width: 768px) and (max-width: 1024px) and (min-height: 768px) and (max-height: 1024px) and (orientation: landscape) {

  .jsx-css-table-holder {
    --theme_name: CssTable__theme_base;
    --theme_name__CssTable: theme_base;
    --responsive_size: responsive_size_h05_tablet_sm_landscape;
    --responsive_size__CssTable__theme_base: responsive_size_h05_tablet_sm_landscape__CssTable__theme_base;
  }
}

