@media only screen and (min-width: 1366px) and (max-width: 1440px) and (min-height: 1025px) and (max-height: 1440px) and (orientation: landscape) {

  .jsx-css-table-holder {
    --theme_name: CssTable__theme_base;
    --theme_name__CssTable: theme_base;
    --responsive_size: responsive_size_l03_laptop_md_landscape;
    --responsive_size__CssTable__theme_base: responsive_size_l03_laptop_md_landscape__CssTable__theme_base;
  }
}

