@media only screen and (min-width: 2561px) and (max-width: 3840px) and (min-height: 1025px) and (max-height: 3840px) and (orientation: landscape) {

  .jsx-css-table-holder {
    --theme_name: CssTable__theme_base;
    --theme_name__CssTable: theme_base;
    --responsive_size: responsive_size_s08_display_qhd_landscape;
    --responsive_size__CssTable__theme_base: responsive_size_s08_display_qhd_landscape__CssTable__theme_base;
  }
}

