@media only screen and (min-width: 1025px) and (max-width: 1440px) and (min-height: 1366px) and (max-height: 1440px) and (orientation: portrait) {

  .jsx .CssToolTemplate {
    --theme_name: CssToolTemplate__theme_base;
    --theme_name__CssToolTemplate: theme_base;
    --responsive_size: responsive_size_l03_laptop_md_portrait;
    --responsive_size__CssToolTemplate__theme_base: responsive_size_l03_laptop_md_portrait__CssToolTemplate__theme_base;
  }
}

