.jsc images-block.JscImages_mini_freepic_kawaii,
.jsc .JscImages_mini_freepic_kawaii images-block {
  --jsc--images-mini--datatypes--base--gap: 0.9rem;
  --jsc--images-mini--datatypes--base--size: 4rem;
  --jsc--images-mini--datatypes--base--width: var(--jsc--images-mini--datatypes--base--size);
  --jsc--images-mini--datatypes--base--height: var(--jsc--images-mini--datatypes--base--size);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--jsc--images-mini--datatypes--base--gap);
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
}

.jsc .JscImages_mini_freepic_kawaii .mini-image.freepic_kawaii {
  width: var(--jsc--images-mini--datatypes--base--width);
  height: var(--jsc--images-mini--datatypes--base--height);
  background-repeat: no-repeat;
  background-clip: border-box;
  background-origin: border-box;
  background-position: cover;
  background-size: var(--jsc--images-mini--datatypes--base--width) var(--jsc--images-mini--datatypes--base--height);
}

.jsc .JscImages_mini_freepic_kawaii .mini-image.freepic_kawaii {
  background-image: url("@JscImages_mini_freepic_kawaii_MediaAndStyles/images/html.png");
}

.jsc .JscImages_mini_freepic_kawaii .mini-image.freepic_kawaii.house {
  background-image: url("@JscImages_mini_freepic_kawaii_MediaAndStyles/images/house.png");
}

.jsc .JscImages_mini_freepic_kawaii .mini-image.freepic_kawaii.html-intence {
  background-image: url("@JscImages_mini_freepic_kawaii_MediaAndStyles/images/html-intence.png");
}

.jsc .JscImages_mini_freepic_kawaii .mini-image.freepic_kawaii.html {
  background-image: url("@JscImages_mini_freepic_kawaii_MediaAndStyles/images/html.png");
}

.jsc .JscImages_mini_freepic_kawaii .mini-image.freepic_kawaii.money-transfer {
  background-image: url("@JscImages_mini_freepic_kawaii_MediaAndStyles/images/money-transfer.png");
}

.jsc .JscImages_mini_freepic_kawaii .mini-image.freepic_kawaii.truck {
  background-image: url("@JscImages_mini_freepic_kawaii_MediaAndStyles/images/truck.png");
}
