@import url("./JscImages_mini_freepic_kawaii_main.css");


.jsc .JscImages_mini_freepic_kawaii .mini-image.freepic_kawaii {
  background-image: url("./images/html.png");
}

.jsc .JscImages_mini_freepic_kawaii .mini-image.freepic_kawaii.house {
  background-image: url("./images/house.png");
}

.jsc .JscImages_mini_freepic_kawaii .mini-image.freepic_kawaii.html-intence {
  background-image: url("./images/html-intence.png");
}

.jsc .JscImages_mini_freepic_kawaii .mini-image.freepic_kawaii.html {
  background-image: url("./images/html.png");
}

.jsc .JscImages_mini_freepic_kawaii .mini-image.freepic_kawaii.money-transfer {
  background-image: url("./images/money-transfer.png");
}

.jsc .JscImages_mini_freepic_kawaii .mini-image.freepic_kawaii.truck {
  background-image: url("./images/truck.png");
}

