
$relative_base_url: "./";
$aliased_base_url: "@JscImages_mini_datatypes_base_MediaAndStyles/";
$relative_path: "images/";

$mini-image-datatype--object--url--relative: "icons8-static-view-level2-80.png";
$mini-image-datatype--array--url--relative: "icons8-view-array-96.png";
$mini-image-datatype--json--url--relative: "icons8-json-96.png";
$mini-image-datatype--string--url--relative: "icons8-font-style-formatting-96.png";
$mini-image-datatype--number--url--relative: "icons8-3-100.png";
$mini-image-datatype--boolean--url--relative: "icons8-true-false-96.png";

