/* a layout theme of css clean start 2 */

.jsx.theme_visible_height main .jsx-css-table-holder {

  --jsx--CssTable--holder--overflow-x: auto;
  --jsx--CssTable--holder--overflow-y: auto;

  flex-grow: 1;
  flex-shrink: 1;

}


