@media only screen and (min-width: 1025px) and (max-width: 15360px) and (min-height: 7681px) and (max-height: 15360px) and (orientation: portrait) {

  .jsx .Tree {
    --theme_name: Tree__theme_base;
    --theme_name__Tree: theme_base;
    --responsive_size: responsive_size_t08_tv_8k_portrait;
    --responsive_size__Tree__theme_base: responsive_size_t08_tv_8k_portrait__Tree__theme_base;
  }
}

