/* theme-lightmode */
.theme-lightmode .workspace-css-table-holder *,
.theme-lightmode.workspace-css-table-holder * {

  --workspace-table--font-family: "Arial";
  --workspace-table--column-label--font-family: var(--workspace-table--font-family);
  --workspace-table--cell-value--font-family: var(--workspace-table--font-family);

  --workspace-table--cell--text-color: #42414d;

  --workspace-table--column-label--background: whitesmoke;
  /* --workspace-table-thin--cell--column-label--background */
  --workspace-table--cell-value--background: white;

  --workspace-table-thin--record--border-width: 1rem;
  --workspace-table--border-color: grey;
  --workspace-table--record--border: var(--workspace-table-thin--record--border-width) var(--workspace-table--border-style) var(--workspace-table--border-color);

}



