/* Responsive rules */
@media only screen and (min-width: 481px) and (max-width: 767px) and (orientation: portrait) {

  .workspace {
    --responsive_size: responsive_size_h03_tablet_sm_portrait;

    --responsive_size__min-width: 481px;
    --responsive_size__max-width: 767px;



    --responsive_size_CssTableOrdered: responsive_size_h03_tablet_sm_portrait_CssTableOrdered;

    --responsive_size_CssTableOrdered__min-width: 481px;
    --responsive_size_CssTableOrdered__max-width: 767px;
  }

  .workspace .workspace-css-table-holder .workspace-css-table .cell.number .cell-value {
    text-align: left;
  }

  .workspace-css-table .row .cell.table-thin-field-hide-tablet {
    display: none;
  }

}

