/* Responsive rules */
@media only screen and (min-width: 320px) and (max-width: 500px) and (orientation: landscape) {

  .workspace {
    --responsive_size: responsive_size_e02_mobile_xs_landscape;

    --responsive_size__min-width: 320px;
    --responsive_size__max-width: 500px;



    --responsive_size_CssTableOrdered: responsive_size_e02_mobile_xs_landscape_CssTableOrdered;

    --responsive_size_CssTableOrdered__min-width: 320px;
    --responsive_size_CssTableOrdered__max-width: 500px;
  }

}

