/* Responsive rules */
@media only screen and (min-width: 431px) and (max-width: 480px) and (orientation: portrait) {

  .workspace {
    --responsive_size: responsive_size_e08_mobile_md_portrait;

    --responsive_size__min-width: 431px;
    --responsive_size__max-width: 480px;



    --responsive_size_CssTableOrdered: responsive_size_e08_mobile_md_portrait_CssTableOrdered;

    --responsive_size_CssTableOrdered__min-width: 431px;
    --responsive_size_CssTableOrdered__max-width: 480px;
  }

  .workspace-css-table .row .cell.table-thin-field-hide-mobile {
    display: none;
  }

  .workspace-css-table .row .cell .column-label {
    display: none;
  }

}

