.workspace-css-table-holder {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  width: var(--workspace-table-holder--width);
  max-width: var(--workspace-table-holder--width-max);
  min-width: var(--workspace-table-holder--width-min);

  overflow: var(--workspace-table-holder--overflow-x) var(--workspace-table-holder--overflow-y);
}

.workspace-css-table {
  width: var(--workspace-table--main--width);
  max-width: var(--workspace-table--main--width-max);
  min-width: var(--workspace-table--main--width-min);

  overflow-y: var(--workspace-table--main--overflow-y);
  overflow-x: var(--workspace-table--main--overflow-x);

  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;

  border-radius: var(--workspace-table--main--border-radius);
  border: var(--workspace-table--main--border);
}

.workspace-css-table .row {
  width: fit-content;
  min-width: 100%;
  max-width: unset;

  display: flex;
  border-bottom: var(--workspace-table--record--border);
}

.workspace-css-table .row .cell {
  overflow-x: hidden;
  overflow-y: visible;
  height: auto;
  border-left:  var(--workspace-table--cell--border);
  background: var(--workspace-table--cell-value--background);
  color: var(--workspace-table--cell--text-color);
}


/* CELL VALUE LOOK AND FEEL PRETTIFYING */
.workspace-css-table .row .cell span {
  display: inline-block;
  overflow: hidden;
  box-sizing: border-box;
}

.workspace-css-table .row .cell .cell-value {
  background: var(--workspace-table--cell-value--background);
  word-break: break-word;
  line-break: normal;
  font-family: var(--workspace-table--cell-value--font-family);
}



/* MEDIA RULE FOR SMALL DEVICESS, IN THIS TABLE LAYOUT FIELDS IN A RECORD ARE PLACED VERTICALLY, NOT IN ONE LINE. */
@media only screen and (max-width: 768px) {

  .workspace-css-table .row {
    flex-direction: column;

    justify-content: flex-start;
    align-items: flex-start;

    border-bottom: var(--workspace-table--record--border);
  }

  /* TABLE'S COLUMNS LABELS IN THE DESKTOP VIEW, ABOVE THE TABLE, HIDES IN MOBILE HERE */
  .workspace-css-table .row.desktop-columns-labels-holder {
    display: none;
  }
  
 
  /* STYLES FOR ALL SPAN TAGS IN THE TABLE CELL, FIELD LABEL AND THE SPAN WITH THE VALUE */
  .workspace-css-table .row .cell span {
    padding: var(--workspace-table-thin--cell--padding);
  }


  /* THE COLUMN LABEL, SHOWN IN MOBILE VIEW ON THE LEFT SIDE */
  .workspace-css-table .row .cell .column-label {
    width: var(--workspace-table-thin--cell--column-label--width);
    max-width: var(--workspace-table-thin--cell--column-label--width);
    min-width: var(--workspace-table-thin--cell--column-label--width);

    font-family: var(--workspace-table--column-label--font-family);
    font-weight: var(--workspace-table-thin--cell--column-label--font-weight);
    font-size: var(--workspace-table-thin--cell--column-label--font-size);
    line-height: var(--workspace-table-thin--cell--column-label--line-height);
    letter-spacing: var(--workspace-table-thin--cell--column-label--letter-spacing);
    color: var(--workspace-table--cell--text-color);

    background: var(--workspace-table-thin--cell--column-label--background);
  }

  .workspace-css-table .row .cell .cell-value {
    flex-grow: 1;

    font-weight: var(--workspace-table-thin--cell-value--font-weight);
    font-size: var(--workspace-table-thin--cell-value--font-size);
    line-height: var(--workspace-table-thin--cell-value--line-height);
    letter-spacing: var(--workspace-table-thin--cell-value--letter-spacing);
    color: var(--workspace-table--cell--text-color);

    background: var(--workspace-table-thin--cell-value--background);
    
  }
  

  /* when mobile, every record, displayed as column, obtains on te top and at the bottom the padding for finer look and feel */
  .workspace-css-table .row .cell:first-of-type span {
    padding-top: var(--workspace-table-thin--record--padding-top);
  }
  .workspace-css-table .row .cell:last-of-type span {
    padding-bottom: var(--workspace-table-thin--record--padding-bottom);
  }

}



/* MEDIA RULE FOR LAPTOP, DESKTOP AND BIG SCREENS, IN THIS TABLE LAYOUT FIELDS IN A RECORD ARE PLACED IN ONE LINE. */
@media only screen and (min-width: 769px) {
  .workspace-css-table .row {
    flex-direction: row;
    align-items: stretch;
    justify-content: flex-start;
  }

  .workspace-css-table .row.desktop-columns-labels-holder {
    display: flex;
  }

  .workspace-css-table .row.desktop-columns-labels-holder .cell .column-label {
    width: 100%;
    max-width: unset;
    min-width: unset;
    display: flex;

    font-weight: var(--workspace-table-bright--cell--column-label--font-weight);
    font-size: var(--workspace-table-bright--cell--column-label--font-size);
    line-height: var(--workspace-table-bright--cell--column-label--line-height);
    letter-spacing: var(--workspace-table-bright--cell--column-label--letter-spacing);

    background: var(--workspace-table-bright--cell--column-label--background);
  }

  .workspace-css-table .row .cell:first-of-type {
    border-left-width: 0;
  }
  .workspace-css-table .row .cell:last-of-type {
    flex-grow: 1;
  }

  /* STYLES FOR ALL SPAN TAGS IN THE TABLE CELL. IN THE DESKTOP VIEW THERE IS JUST ONE SPAN WITH THE VALUE. COLUMN LABEL HIDES. */
  .workspace-css-table .row .cell span {
    padding: var(--workspace-table-bright--cell--padding);
  }

  
  /* THE COLUMN LABEL, SHOWN IN MOBILE VIEW ON THE LEFT SIDE, here hides in the desktop view */
  .workspace-css-table .row .cell .column-label {
    display: none;
  }

  .workspace-css-table .row .cell .cell-value {
    width: 100%;
    max-width: unset;
    min-width: unset;

    font-weight: var(--workspace-table-bright--cell-value--font-weight);
    font-size: var(--workspace-table-bright--cell-value--font-size);
    line-height: var(--workspace-table-bright--cell-value--line-height);
    letter-spacing: var(--workspace-table-bright--cell-value--letter-spacing);

    background: var(--workspace-table-thin--cell-value--background);
  }

}
