/* Main .css file for the sites tool: CssCodeSnippet */

/* thin screen, e.g. mobile */
@media (max-width: 440px) {
  .jsx .CodeSnippetHolder {
    max-width: 93vw;
    margin: 0 auto;
  }
}

/* tool css default values */
.jsx .CodeSnippetHolder,
.jsx .CodeSnippetHolder *,
.jsx .CodeSnippetHolder::before,
.jsx .CodeSnippetHolder::after,
.jsx .CodeSnippetHolder *::before,
.jsx .CodeSnippetHolder *::after {
  position: relative;
  display: inline-block;
  box-sizing: border-box;

  height: auto;
  min-height: 0;

  width: auto;
  min-width: 0;

  padding: 0;
  margin: 0;

  overflow: hidden;
  overflow-y: hidden;
  overflow-x: hidden;
}


/* tool calculated variables, based on theme variables values */
.jsx .CodeSnippetHolder {
    /* tool calculated variables */
    --code-snippet-holder--height: calc(var(--code-snippet--line-height) * var(--lines-number) + var(--code-snippet--padding-top) + var(--code-snippet--padding-bottom));
    --code-snippet--height: calc(var(--code-snippet--line-height) * var(--lines-number) + var(--code-snippet--padding-top) + var(--code-snippet--padding-bottom));
    --code-snippet--width: calc(100% - var(--column-numbers-holder--width));
    --code-snippet--padding: var(--code-snippet--padding-top) var(--code-snippet--padding-right) 0 var(--code-snippet--padding-left);
    --code-snippet--left: var(--column-numbers-holder--width);

    --code_snippet__column_numbers__padding: var(--code-snippet--padding-top) var(--code_snippet__column_numbers__padding-right) var(--code-snippet--padding-bottom) 0;
    --column-numbers-holder--width: var(--code_snippet__column_numbers__width);
    --column-numbers-holder--height: calc(var(--code-snippet--line-height) * var(--lines-number) + var(--code-snippet--padding-top));
}

/* Main html node */
.jsx .CodeSnippetHolder {
  min-height: var(--code-snippet-tool--height) !important;
  height: var(--code-snippet-tool--height) !important;

  width: var(--code-snippet-tool--width);

  overflow: var(--code-snippet-tool--overflow-y) hidden !important;
  overflow-y: var(--code-snippet-tool--overflow-y) !important;
  overflow-x: hidden;

  background-color: var(--code_snippet__column_numbers__background-color);

  border-radius: var(--code-snippet-tool--border-radius);
  border: var(--code-snippet-tool--border-width) var(--code-snippet-tool--border-style) var(--code-snippet-tool--border-color);
}

/* the overlapping placeholder, to cover the text near right border,
to draw right margin, when the width is scrollable to right. */
.jsx .CodeSnippetHolder::after {
  content: "";

  position: absolute !important;

  top: 0;
  right: 0;

  height: var(--code-snippet--height);
  min-height: 100%;
  max-height: var(--code-snippet--height);

  width: var(--code-snippet--padding-right);

  background-color: var(--code-snippet--background-color);

  z-index: 999;
}

/* lines numbers left sidebar */
.jsx .CodeSnippetHolder::before {
  content: var(--lines-numbers--content);

  top: 0 !important;
  left: 0;

  float: left;

  height: var(--column-numbers-holder--height);
  max-height: var(--column-numbers-holder--height);

  width: var(--code_snippet__column_numbers__width) !important;

  padding: var(--code_snippet__column_numbers__padding) !important;

  overflow-y: hidden !important;
  overflow-x: hidden !important;

  white-space: pre;

  text-align: right;
  font-size: var(--code-snippet--font-size);
  line-height: var(--code-snippet--line-height);

  font-family: var(--code_snippet__font_family);

  color: var(--code_snippet__column_numbers__text-color);
  background-color: var(--code_snippet__column_numbers__background-color);

  z-index: 9999;
}


/* the html pre element, where the inner text is the code snippet */
.jsx .CodeSnippetHolder .CodeSnippetArea {
  top: 0 !important;
  left: 0;

  height: var(--code-snippet--height);
  min-height: 100%;
  max-height: unset;
  /*max-height: var(--code-snippet--height);*/

  min-width: auto;
  width: var(--code-snippet--width);

  padding: var(--code-snippet--padding);

  overflow-y: hidden !important;
  overflow-x: auto !important;

  font-size: var(--code-snippet--font-size);
  line-height: var(--code-snippet--line-height);
  font-family: var(--code_snippet__font_family);

  color: var(--code-snippet--text-color);
  background-color: var(--code-snippet--background-color);
}
