/* Responsive rules */
@media only screen and (min-width: 1025px) and (max-width: 1080px) and (orientation: portrait) {

  .workspace {
    --responsive_size: responsive_size_l03_laptop_sm_portrait;

    --responsive_size__min-width: 1025px;
    --responsive_size__max-width: 1080px;



    --responsive_size_CssCleanStart: responsive_size_l03_laptop_sm_portrait_CssCleanStart;

    --responsive_size_CssCleanStart__min-width: 1025px;
    --responsive_size_CssCleanStart__max-width: 1080px;
  }

}

