/* Responsive rules */
@media only screen and (min-width: 8641px) and (max-width: 9999px) and (orientation: portrait) {

  .workspace {
    --responsive_size: responsive_size_t16_tv_16k_portrait;

    --responsive_size__min-width: 8641px;
    --responsive_size__max-width: 9999px;



    --responsive_size_CssCleanStart: responsive_size_t16_tv_16k_portrait_CssCleanStart;

    --responsive_size_CssCleanStart__min-width: 8641px;
    --responsive_size_CssCleanStart__max-width: 9999px;
  }

}

