.jaisocx-folder-list.workspace {

  --clean-start__site__padding-top: 0;
  --clean-start__h__margin: 1rem 0 1rem 0;


  --clean-start__text-color-h: green;
  --clean-start__font-weight_h: 900;
  --clean-start__font-size_h1: 1.09rem;
  --clean-start__line-height_h1: 1.25rem;

}


.jaisocx-folder-list.workspace h1 {
  margin: var(--clean-start__h__margin);
}


.jaisocx-folder-list.workspace .workspace-css-table-holder.bright-styles-applied .workspace-css-table {

  /* columns sizes */
  --workspace-table-thin--cell--column-label--width: 14rem;
  --workspace-table-bright--grid-template-columns: 5rem 34rem 19rem 12rem 14rem 64rem;




  /* line height and font size */
  --workspace-table-bright--cell--cell-value--font-size: 0.85rem;
  --workspace-table-bright--cell--column-label--font-size: 0.95rem;



  --workspace-table--cell--column-label--line-height: var(--workspace-table-bright--cell--column-label--font-size);
  --workspace-table-bright--cell--column-label--line-height: var(--workspace-table-bright--cell--column-label--font-size);

  --workspace-table--cell--cell-value--line-height: var(--workspace-table-bright--cell--cell-value--font-size);
  --workspace-table-bright--cell--cell-value--line-height: var(--workspace-table-bright--cell--cell-value--font-size);



  /* Css Clean Start for other html nodes equal line height and font size */
  --clean-start__font-size: var(--workspace-table-bright--cell--cell-value--font-size);
  --clean-start__line-height: var(--clean-start__font-size);


  /* cell padding in display view */
  --workspace-table-bright--cell--padding: 0 0 0 0;
  --workspace-table-bright--cell--cell-value--padding: 0.43rem 0.6rem 0.43rem 0.6rem;


  /* hyperlinks colors */
  --clean-start__anchor__text-color: #227022;
  --clean-start__anchor__text-color-hover: #44aa44;
  --clean-start__anchor__text-color-visited: #7a8a6a;
}


.jaisocx-folder-list.workspace .workspace-css-table-holder.bright-styles-applied .workspace-css-table .row.folder .cell.name .cell-value {
  font-weight: 600;
}

