/* tool variables */
.CodeSnippetHolder.little {

  /* theme variables */
  /* code snippet theme sizes variables */
  --code-snippet--line-height: 0.97rem;
  --code-snippet--font-size: 0.8rem;
  --code-snippet--padding-top: 2.0rem;
  --code-snippet--padding-bottom: 2.0rem;
  --code-snippet--padding-left: 0.4rem;
  --code-snippet--padding-right: 1.4rem;


  /* column theme sizes variables */
  --code_snippet__column_numbers__width: 3.3rem;
  --code_snippet__column_numbers__padding-right: 0.8rem;
  
}
