@media only screen and (min-width: 321px) and (max-width: 375px) and (min-height: 321px) and (max-height: 99999px) and (orientation: portrait) {

  .jsx .CssCodeSnippet {
    --theme_name: CssCodeSnippet__theme_base;
    --theme_name__CssCodeSnippet: theme_base;
    --responsive_size: responsive_size_e04_mobile_s_portrait;
    --responsive_size__CssCodeSnippet__theme_base: responsive_size_e04_mobile_s_portrait__CssCodeSnippet__theme_base;
  }
}

