@media only screen and (min-width: 2px) and (max-width: 239px) and (min-height: 2px) and (max-height: 99999px) and (orientation: portrait) {

  .jsx .CssCodeSnippet {
    --theme_name: CssCodeSnippet__theme_base;
    --theme_name__CssCodeSnippet: theme_base;
    --responsive_size: responsive_size_d05_very_small_xxs_portrait;
    --responsive_size__CssCodeSnippet__theme_base: responsive_size_d05_very_small_xxs_portrait__CssCodeSnippet__theme_base;
  }
}

