/* a layout theme */

.jsx main .jsx-css-table-holder.theme_fixed_columns_labels {

  --jsx--CssTable--holder--overflow-x: auto;
  --jsx--CssTable--holder--overflow-y: hidden;


  --jsx--CssTable--main--overflow-x:   unset;
  --jsx--CssTable--main--overflow-y:   unset;



  display:          flex;
  flex-direction:   column;
  justify-content:  stretch;
  align-items:      stretch;

}



.jsx main .jsx-css-table-holder.theme_fixed_columns_labels .jsx-css-table.desktop-columns-labels-holder {

  width:     100%;
  min-width: 100%;
  max-width: unset;

  height:     auto;
  min-height: fit-content;
  max-height: fit-content;

  --jsx--CssTable--main--overflow-x: hidden;
  --jsx--CssTable--main--overflow-y: visible;

}

.jsx main .jsx-css-table-holder.theme_fixed_columns_labels .jsx-css-table.desktop-columns-labels-holder .row {

  width:     fit-content;
  min-width: 100%;
  max-width: unset;

  height:     auto;
  min-height: fit-content;
  max-height: fit-content;

  overflow-x: visible;
}



.jsx main .jsx-css-table-holder.theme_fixed_columns_labels .jsx-css-table.desktop-columns-labels-holder,
.jsx main .jsx-css-table-holder.theme_fixed_columns_labels .jsx-css-table.desktop-columns-labels-holder .row,
.jsx main .jsx-css-table-holder.theme_fixed_columns_labels .jsx-css-table.desktop-columns-labels-holder .row .cell {

  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none;
  scrollbar-width:    none;

  overflow-y: visible;

}

.jsx main .jsx-css-table-holder.theme_fixed_columns_labels .jsx-css-table.desktop-columns-labels-holder::-webkit-scrollbar,
.jsx main .jsx-css-table-holder.theme_fixed_columns_labels .jsx-css-table.desktop-columns-labels-holder .row::-webkit-scrollbar,
.jsx main .jsx-css-table-holder.theme_fixed_columns_labels .jsx-css-table.desktop-columns-labels-holder .row .cell::-webkit-scrollbar {
  display: none;
}



.jsx main .jsx-css-table-holder.theme_fixed_columns_labels .jsx-css-table.records {

  flex-grow: 1;

  width:     100%;
  min-width: 100%;
  max-width: unset;


/*
  height:     auto;
  min-height: fit-content;
  max-height: fit-content; */


  --jsx--CssTable--main--overflow-x: visible;
  --jsx--CssTable--main--overflow-y: auto;

}

.jsx main .jsx-css-table-holder.theme_fixed_columns_labels .jsx-css-table.records .row {
  width:     100%;
  min-width: 100%;
  max-width: unset;

  overflow-x: visible;
}




