/* Source Code Pro ExtraLight */
@font-face {
  font-family: Source_Code_Pro;
  src: url("./Source_Code_Pro/static/SourceCodePro-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: Source_Code_Pro;
  src: url("./Source_Code_Pro/static/SourceCodePro-ExtraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}

/* Source Code Pro Light */
@font-face {
  font-family: Source_Code_Pro;
  src: url("./Source_Code_Pro/static/SourceCodePro-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: Source_Code_Pro;
  src: url("./Source_Code_Pro/static/SourceCodePro-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

/* Source Code Pro Regular */
@font-face {
  font-family: Source_Code_Pro;
  src: url("./Source_Code_Pro/static/SourceCodePro-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

/* Source Code Pro Italic */
@font-face {
  font-family: Source_Code_Pro;
  src: url("./Source_Code_Pro/static/SourceCodePro-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

/* Source Code Pro Medium */
@font-face {
  font-family: Source_Code_Pro;
  src: url("./Source_Code_Pro/static/SourceCodePro-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: Source_Code_Pro;
  src: url("./Source_Code_Pro/static/SourceCodePro-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

/* Source Code Pro SemiBold */
@font-face {
  font-family: Source_Code_Pro;
  src: url("./Source_Code_Pro/static/SourceCodePro-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: Source_Code_Pro;
  src: url("./Source_Code_Pro/static/SourceCodePro-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}

/* Source Code Pro Bold */
@font-face {
  font-family: Source_Code_Pro;
  src: url("./Source_Code_Pro/static/SourceCodePro-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: Source_Code_Pro;
  src: url("./Source_Code_Pro/static/SourceCodePro-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

/* Source Code Pro ExtraBold */
@font-face {
  font-family: Source_Code_Pro;
  src: url("./Source_Code_Pro/static/SourceCodePro-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: Source_Code_Pro;
  src: url("./Source_Code_Pro/static/SourceCodePro-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}

/* Source Code Pro Black */
@font-face {
  font-family: Source_Code_Pro;
  src: url("./Source_Code_Pro/static/SourceCodePro-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: Source_Code_Pro;
  src: url("./Source_Code_Pro/static/SourceCodePro-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}
