/* Responsive rules */
@media only screen and (min-width: 1921px) and (max-width: 2560px) and (orientation: landscape) {

  .workspace {
    --responsive_size: responsive_size_s04_desktop_xxl_landscape;

    --responsive_size__min-width: 1921px;
    --responsive_size__max-width: 2560px;



    --responsive_size_CssToolTemplate: responsive_size_s04_desktop_xxl_landscape_CssToolTemplate;

    --responsive_size_CssToolTemplate__min-width: 1921px;
    --responsive_size_CssToolTemplate__max-width: 2560px;
  }

}

