/* Responsive rules */
@media only screen and (min-width: 501px) and (max-width: 667px) and (orientation: landscape) {

  .workspace {
    --responsive_size: responsive_size_e04_mobile_s_landscape;

    --responsive_size__min-width: 501px;
    --responsive_size__max-width: 667px;



    --responsive_size_CssToolTemplate: responsive_size_e04_mobile_s_landscape_CssToolTemplate;

    --responsive_size_CssToolTemplate__min-width: 501px;
    --responsive_size_CssToolTemplate__max-width: 667px;
  }

}

