/* Responsive rules */
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {

  .workspace {
    --responsive_size: responsive_size_h05_tablet_md_portrait;

    --responsive_size__min-width: 768px;
    --responsive_size__max-width: 1024px;



    --responsive_size_CssToolTemplate: responsive_size_h05_tablet_md_portrait_CssToolTemplate;

    --responsive_size_CssToolTemplate__min-width: 768px;
    --responsive_size_CssToolTemplate__max-width: 1024px;
  }

}

