/* Responsive rules */
@media only screen and (min-width: 431px) and (max-width: 480px) and (orientation: portrait) {

  .workspace {
    --responsive_size: responsive_size_e08_mobile_md_portrait;

    --responsive_size__min-width: 431px;
    --responsive_size__max-width: 480px;



    --responsive_size_CssToolTemplate: responsive_size_e08_mobile_md_portrait_CssToolTemplate;

    --responsive_size_CssToolTemplate__min-width: 431px;
    --responsive_size_CssToolTemplate__max-width: 480px;
  }

}

