/* Responsive rules */
@media only screen and (min-width: 481px) and (max-width: 767px) and (orientation: portrait) {

  .workspace {
    --responsive_size: responsive_size_h03_tablet_sm_portrait;

    --responsive_size__min-width: 481px;
    --responsive_size__max-width: 767px;



    --responsive_size_CssToolTemplate: responsive_size_h03_tablet_sm_portrait_CssToolTemplate;

    --responsive_size_CssToolTemplate__min-width: 481px;
    --responsive_size_CssToolTemplate__max-width: 767px;
  }

}

