/* Responsive rules */
@media only screen and (min-width: 1280px) and (max-width: 1439px) and (orientation: landscape) {

  .workspace {
    --responsive_size: responsive_size_l05_laptop_md_landscape;

    --responsive_size__min-width: 1280px;
    --responsive_size__max-width: 1439px;



    --responsive_size_CssToolTemplate: responsive_size_l05_laptop_md_landscape_CssToolTemplate;

    --responsive_size_CssToolTemplate__min-width: 1280px;
    --responsive_size_CssToolTemplate__max-width: 1439px;
  }

}

