

.tooltip.theme-context {
  --tooltip__background: white;
  --tooltip__text_color: #333;
  --tooltip__font_family: Courier;
  --tooltip__border_width: 0.5px;
  --tooltip__border_style: solid;
  --tooltip__border_color: #885;
  --tooltip__border_radius: 0;

  --tooltip__font_size: 0.825rem;
  --tooltip__font_size__mobile: 1.2rem;
  --tooltip__font_size__tablet: 1.3rem;  

  --tooltip__content_padding: 0.8rem;
  --tooltip_arrow__size: 0;

  --tooltip__width: 12rem;
}

.tooltip.theme-context .tooltip-content ul.context {
  margin: 0 0 0 0;
  padding-left: 0.24rem;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  list-style-type: circle;
  list-style-position: inside;
}

.tooltip.theme-context .tooltip-content ul.context li {
  display: list-item;
  margin: 0.6rem 0;
  padding: 0.2rem 1rem;
  background-color: #f4f4f4;
  color: black;
  opacity: 0.8;
}

@media ( (max-width: 440px) and (orientation: portrait) ) {
}

