/* s mobile portrait */
@media (min-width: 321px) and (max-width: 375px) and (orientation: portrait) {
  .workspace main {
    /* --clean-start__site__background: yellow; */

    --clean-start__tag_body__width: var(--clean-start__tag_body__width__s_mobile_portrait);
    --clean-start__tag_body__max_width: var(--clean-start__tag_body__max_width__s_mobile_portrait);
    --clean-start__tag_body__min_width: var(--clean-start__tag_body__min_width__s_mobile_portrait);

    --clean-start__site__width: var(--clean-start__site__width__s_mobile_portrait);
    --clean-start__site__max_width: var(--clean-start__site__max_width__s_mobile_portrait);
    --clean-start__site__min_width: var(--clean-start__site__min_width__s_mobile_portrait);

    --clean-start__site__overflow_x: var(--clean-start__site__overflow_x__s_mobile_portrait);


    --clean-start__font-size__mobile: var(--clean-start__font-size__mobile_portrait);
    --clean-start__font-size: var(--clean-start__font-size__mobile);

    --clean-start__line-height__mobile: var(--clean-start__line-height__mobile_portrait);
    --clean-start__line-height: var(--clean-start__line-height__mobile);
  }

  /* verifying responsive rules applies */
  .workspace.verify-responsive-rule-applies main h1::before {
    content: "s mobile portrait" !important;
  }

}

