/* cdn url: https://sandbox.brightday.email/cdn/jaisocx-tools/css-table/MediaAndStyles/ */

@import url("https://sandbox.brightday.email/cdn/jaisocx-tools/css-table/MediaAndStyles/CssTable_main_resolved_minimal.css");

