/* a layout theme */

.jsx.theme_visible_height {

  --jsx--css-clean-start-2--body-tag--height: 100vh;
  --jsx--css-clean-start-2--body-tag--max-height: 100vh;
  --jsx--css-clean-start-2--body-tag--min-height: 100vh;

  --jsx--css-clean-start-2--body-tag--overflow-y: hidden;



  --jsx--css-clean-start-2--site--height: 100%;
  --jsx--css-clean-start-2--site--max-height: 100%;
  --jsx--css-clean-start-2--site--min-height: 100%;

  --jsx--css-clean-start-2--site--overflow-y: hidden;

}



.jsx.theme_visible_height body main {
  display: flex;
  flex-direction: column;

  flex-basis: auto;

  align-items: stretch;
  justify-content: stretch;
}



.jsx.theme_visible_height body main > * {
  flex-shrink: 0;
  flex-grow: 0;
}



/* example when this theme css class is set in the root html tag */
.jsx.theme_visible_height main .a-tag-in-main-tag {

  flex-grow: 1;

}


