

.workspace {

  
  --clean-start__rem: 16px;



  
  
  --clean-start__tag_body__background: #f2f4f6;

  
  --clean-start__site__background: white;


  
  --clean-start__anchor__text-color: slateblue;
  
  --clean-start__anchor__text-color-hover: blue;
  
  --clean-start__anchor__text-color-visited: darkgrey;
  

  



  
  --clean-start__position: relative;
  --clean-start__box-sizing: border-box;
  --clean-start__margin: 0 0 0 0;
  --clean-start__padding: 0 0 0 0;

  --clean-start__block-tags__display: block;
  --clean-start__inline-tags__display: inline-block;
  --clean-start__custom-tags__display: var(--clean-start__block-tags__display);


  
  --clean-start__border-width: 0;
  --clean-start__border-style: solid;
  --clean-start__border-color: lime;


  
  --clean-start__font-family: "Franklin Gothic Medium", Verdana, sans-serif;
  --clean-start__font-family-pre: "Courier New", Courier, monospace;
  --clean-start__text-color: unset;
  --clean-start__text-color-h: unset;

  
  --clean-start__p__margin: 0.2rem 0 0.2rem 0;




  
  
  
  --clean-start__font-weight_h: 600;


  --clean-start__font-size_h1: 2.6rem;
  --clean-start__font-size_h2: 2.1rem;
  --clean-start__font-size_h3: 1.8rem;
  --clean-start__font-size_h4: 1.6rem;
  --clean-start__font-size_h5: 1.33rem;
  --clean-start__font-size_h6: 1rem;


  --clean-start__line-height_h1: 3rem;
  --clean-start__line-height_h2: 2.5rem;
  --clean-start__line-height_h3: 2.2rem;
  --clean-start__line-height_h4: 2.0rem;
  --clean-start__line-height_h5: 1.67rem;
  --clean-start__line-height_h6: 1.6rem;




  
  
  --clean-start__font-size__mobile__predefined: 1.2rem;
  --clean-start__line-height__mobile__predefined: 2.0rem;

  --clean-start__font-size__predefined: 1.03rem;
  --clean-start__line-height__predefined: 1.68rem;



  --clean-start__font-size__mobile_portrait: var(--clean-start__font-size__mobile__predefined);
  --clean-start__font-size__mobile_landscape: var(--clean-start__font-size__mobile__predefined);

  --clean-start__line-height__mobile_portrait: var(--clean-start__line-height__mobile__predefined);
  --clean-start__line-height__mobile_landscape: var(--clean-start__line-height__mobile__predefined);


  --clean-start__font-size__tablet_portrait: var(--clean-start__font-size__mobile__predefined);
  --clean-start__font-size__tablet_landscape: var(--clean-start__font-size__predefined);

  --clean-start__line-height__tablet_portrait: var(--clean-start__line-height__mobile__predefined);
  --clean-start__line-height__tablet_landscape: var(--clean-start__line-height__predefined);


  --clean-start__font-size__lg_laptop: var(--clean-start__font-size__predefined);
  --clean-start__line-height__lg_laptop: var(--clean-start__line-height__predefined);


  --clean-start__font-size__xl_desktop_horizontal: var(--clean-start__font-size__predefined);
  --clean-start__line-height__xl_desktop_horizontal: var(--clean-start__line-height__predefined);

  --clean-start__font-size__xl_desktop_vertical: var(--clean-start__font-size__predefined);
  --clean-start__line-height__xl_desktop_vertical: var(--clean-start__line-height__predefined);


  --clean-start__font-size__xxl_ultra_wide_horizontal: var(--clean-start__font-size__predefined);
  --clean-start__line-height__xxl_ultra_wide_horizontal: var(--clean-start__line-height__predefined);

  --clean-start__font-size__xxl_ultra_wide_vertical: var(--clean-start__font-size__predefined);
  --clean-start__line-height__xxl_ultra_wide_vertical: var(--clean-start__line-height__predefined);


  --clean-start__font-size__3xl_hd_horizontal: var(--clean-start__font-size__predefined);
  --clean-start__line-height__3xl_hd_horizontal: var(--clean-start__line-height__predefined);

  --clean-start__font-size__3xl_hd_vertical: var(--clean-start__font-size__predefined);
  --clean-start__line-height__3xl_hd_vertical: var(--clean-start__line-height__predefined);


  --clean-start__font-size__4xl_qhd_horizontal: var(--clean-start__font-size__predefined);
  --clean-start__line-height__4xl_qhd_horizontal: var(--clean-start__line-height__predefined);

  --clean-start__font-size__4xl_qhd_vertical: var(--clean-start__font-size__predefined);
  --clean-start__line-height__4xl_qhd_vertical: var(--clean-start__line-height__predefined);


  --clean-start__font-size__5xl_4k_ultra_hd_horizontal: var(--clean-start__font-size__predefined);
  --clean-start__line-height__5xl_4k_ultra_hd_horizontal: var(--clean-start__line-height__predefined);

  --clean-start__font-size__5xl_4k_ultra_hd_vertical: var(--clean-start__font-size__predefined);
  --clean-start__line-height__5xl_4k_ultra_hd_vertical: var(--clean-start__line-height__predefined);


  --clean-start__font-size__6xl_8k_horizontal: var(--clean-start__font-size__predefined);
  --clean-start__line-height__6xl_8k_horizontal: var(--clean-start__line-height__predefined);

  --clean-start__font-size__6xl_8k_vertical: var(--clean-start__font-size__predefined);
  --clean-start__line-height__6xl_8k_vertical: var(--clean-start__line-height__predefined);


  --clean-start__font-size__7xl_16k_horizontal: var(--clean-start__font-size__predefined);
  --clean-start__line-height__7xl_16k_horizontal: var(--clean-start__line-height__predefined);

  --clean-start__font-size__7xl_16k_vertical: var(--clean-start__font-size__predefined);
  --clean-start__line-height__7xl_16k_vertical: var(--clean-start__line-height__predefined);


  
  --clean-start__font-size: var(--clean-start__font-size__mobile);
  --clean-start__line-height: var(--clean-start__line-height__mobile);

  







  


  

  
  --clean-start__tag_body__height: auto;
  --clean-start__tag_body__height_max: unset;
  --clean-start__tag_body__height_min: 100vh;

  --clean-start__tag_body__width: 100%;
  --clean-start__tag_body__overflow-x: hidden;

  


  
  --clean-start__tag_body__width__predefined: 100%;
  --clean-start__tag_body__max_width__predefined: 100%;
  --clean-start__tag_body__min_width__predefined: 100%;

   
  

  --clean-start__tag_body__width: 100%;
  --clean-start__tag_body__max_width: 100%;
  --clean-start__tag_body__min_width: 100%;


  

  --clean-start__tag_body__width__7xl_16k_horizontal: 100%;
  --clean-start__tag_body__max_width__7xl_16k_horizontal: 100%;
  --clean-start__tag_body__min_width__7xl_16k_horizontal: 100%;

  --clean-start__tag_body__width__7xl_16k_vertical: 100%;
  --clean-start__tag_body__max_width__7xl_16k_vertical: 100%;
  --clean-start__tag_body__min_width__7xl_16k_vertical: 100%;

  --clean-start__tag_body__width__6xl_8k_horizontal: 100%;
  --clean-start__tag_body__max_width__6xl_8k_horizontal: 100%;
  --clean-start__tag_body__min_width__6xl_8k_horizontal: 100%;

  --clean-start__tag_body__width__6xl_8k_vertical: 100%;
  --clean-start__tag_body__max_width__6xl_8k_vertical: 100%;
  --clean-start__tag_body__min_width__6xl_8k_vertical: 100%;

  --clean-start__tag_body__width__5xl_4k_ultra_hd_horizontal: 100%;
  --clean-start__tag_body__max_width__5xl_4k_ultra_hd_horizontal: 100%;
  --clean-start__tag_body__min_width__5xl_4k_ultra_hd_horizontal: 100%;

  --clean-start__tag_body__width__5xl_4k_ultra_hd_vertical: 100%;
  --clean-start__tag_body__max_width__5xl_4k_ultra_hd_vertical: 100%;
  --clean-start__tag_body__min_width__5xl_4k_ultra_hd_vertical: 100%;

  --clean-start__tag_body__width__4xl_qhd_horizontal: 100%;
  --clean-start__tag_body__max_width__4xl_qhd_horizontal: 100%;
  --clean-start__tag_body__min_width__4xl_qhd_horizontal: 100%;

  --clean-start__tag_body__width__4xl_qhd_vertical: 100%;
  --clean-start__tag_body__max_width__4xl_qhd_vertical: 100%;
  --clean-start__tag_body__min_width__4xl_qhd_vertical: 100%;

  --clean-start__tag_body__width__3xl_hd_horizontal: 100%;
  --clean-start__tag_body__max_width__3xl_hd_horizontal: 100%;
  --clean-start__tag_body__min_width__3xl_hd_horizontal: 100%;

  --clean-start__tag_body__width__3xl_hd_vertical: 100%;
  --clean-start__tag_body__max_width__3xl_hd_vertical: 100%;
  --clean-start__tag_body__min_width__3xl_hd_vertical: 100%;

  --clean-start__tag_body__width__xxl_ultra_wide_horizontal: 100%;
  --clean-start__tag_body__max_width__xxl_ultra_wide_horizontal: 100%;
  --clean-start__tag_body__min_width__xxl_ultra_wide_horizontal: 100%;

  --clean-start__tag_body__width__xxl_ultra_wide_vertical: 100%;
  --clean-start__tag_body__max_width__xxl_ultra_wide_vertical: 100%;
  --clean-start__tag_body__min_width__xxl_ultra_wide_vertical: 100%;

  --clean-start__tag_body__width__xl_desktop_horizontal: 100%;
  --clean-start__tag_body__max_width__xl_desktop_horizontal: 100%;
  --clean-start__tag_body__min_width__xl_desktop_horizontal: 100%;

  --clean-start__tag_body__width__xl_desktop_vertical: 100%;
  --clean-start__tag_body__max_width__xl_desktop_vertical: 100%;
  --clean-start__tag_body__min_width__xl_desktop_vertical: 100%;

  --clean-start__tag_body__width__lg_laptop_horizontal: 100%;
  --clean-start__tag_body__max_width__lg_laptop_horizontal: 100%;
  --clean-start__tag_body__min_width__lg_laptop_horizontal: 100%;

  --clean-start__tag_body__width__lg_laptop_vertical: 100%;
  --clean-start__tag_body__max_width__lg_laptop_vertical: 100%;
  --clean-start__tag_body__min_width__lg_laptop_vertical: 100%;

  --clean-start__tag_body__width__md_tablet_landscape: 100%;
  --clean-start__tag_body__max_width__md_tablet_landscape: 100%;
  --clean-start__tag_body__min_width__md_tablet_landscape: 100%;

  --clean-start__tag_body__width__md_tablet_portrait: 100%;
  --clean-start__tag_body__max_width__md_tablet_portrait: 100%;
  --clean-start__tag_body__min_width__md_tablet_portrait: 100%;

  --clean-start__tag_body__width__sm_mobile_landscape: 100%;
  --clean-start__tag_body__max_width__sm_mobile_landscape: 100%;
  --clean-start__tag_body__min_width__sm_mobile_landscape: 100%;

  --clean-start__tag_body__width__sm_mobile_portrait: 100%;
  --clean-start__tag_body__max_width__sm_mobile_portrait: 100%;
  --clean-start__tag_body__min_width__sm_mobile_portrait: 100%;

  --clean-start__tag_body__width__s_mobile_landscape: 100%;
  --clean-start__tag_body__max_width__s_mobile_landscape: 100%;
  --clean-start__tag_body__min_width__s_mobile_landscape: 100%;

  --clean-start__tag_body__width__s_mobile_portrait: 100%;
  --clean-start__tag_body__max_width__s_mobile_portrait: 100%;
  --clean-start__tag_body__min_width__s_mobile_portrait: 100%;

  --clean-start__tag_body__width__xs_mobile_landscape: 100%;
  --clean-start__tag_body__max_width__xs_mobile_landscape: 100%;
  --clean-start__tag_body__min_width__xs_mobile_landscape: 100%;

  --clean-start__tag_body__width__xs_mobile_portrait: 100%;
  --clean-start__tag_body__max_width__xs_mobile_portrait: 100%;
  --clean-start__tag_body__min_width__xs_mobile_portrait: 100%;





  

  --clean-start__site__height: fit-content;
  --clean-start__site__height_max: fit-content;
  --clean-start__site__height_min: 100vh;


  
  --clean-start__site__width__predefined: 90%;
  --clean-start__site__max_width__predefined: 90%;
  --clean-start__site__min_width__predefined: 90%;


  
  --clean-start__site__width: var(--clean-start__site__width__predefined);
  --clean-start__site__max_width: var(--clean-start__site__max_width__predefined);
  --clean-start__site__min_width: var(--clean-start__site__min_width__predefined);



  
  --clean-start__site__width__7xl_16k_horizontal: var(--clean-start__site__width__predefined);
  --clean-start__site__max_width__7xl_16k_horizontal: var(--clean-start__site__max_width__predefined);
  --clean-start__site__min_width__7xl_16k_horizontal: var(--clean-start__site__min_width__predefined);

  --clean-start__site__width__7xl_16k_vertical: var(--clean-start__site__width__predefined);
  --clean-start__site__max_width__7xl_16k_vertical: var(--clean-start__site__max_width__predefined);
  --clean-start__site__min_width__7xl_16k_vertical: var(--clean-start__site__min_width__predefined);

  --clean-start__site__width__6xl_8k_horizontal: var(--clean-start__site__width__predefined);
  --clean-start__site__max_width__6xl_8k_horizontal: var(--clean-start__site__max_width__predefined);
  --clean-start__site__min_width__6xl_8k_horizontal: var(--clean-start__site__min_width__predefined);

  --clean-start__site__width__6xl_8k_vertical: var(--clean-start__site__width__predefined);
  --clean-start__site__max_width__6xl_8k_vertical: var(--clean-start__site__max_width__predefined);
  --clean-start__site__min_width__6xl_8k_vertical: var(--clean-start__site__min_width__predefined);

  --clean-start__site__width__5xl_4k_ultra_hd_horizontal: var(--clean-start__site__width__predefined);
  --clean-start__site__max_width__5xl_4k_ultra_hd_horizontal: var(--clean-start__site__max_width__predefined);
  --clean-start__site__min_width__5xl_4k_ultra_hd_horizontal: var(--clean-start__site__min_width__predefined);

  --clean-start__site__width__5xl_4k_ultra_hd_vertical: var(--clean-start__site__width__predefined);
  --clean-start__site__max_width__5xl_4k_ultra_hd_vertical: var(--clean-start__site__max_width__predefined);
  --clean-start__site__min_width__5xl_4k_ultra_hd_vertical: var(--clean-start__site__min_width__predefined);

  --clean-start__site__width__4xl_qhd_horizontal: var(--clean-start__site__width__predefined);
  --clean-start__site__max_width__4xl_qhd_horizontal: var(--clean-start__site__max_width__predefined);
  --clean-start__site__min_width__4xl_qhd_horizontal: var(--clean-start__site__min_width__predefined);

  --clean-start__site__width__4xl_qhd_vertical: var(--clean-start__site__width__predefined);
  --clean-start__site__max_width__4xl_qhd_vertical: var(--clean-start__site__max_width__predefined);
  --clean-start__site__min_width__4xl_qhd_vertical: var(--clean-start__site__min_width__predefined);

  --clean-start__site__width__3xl_hd_horizontal: var(--clean-start__site__width__predefined);
  --clean-start__site__max_width__3xl_hd_horizontal: var(--clean-start__site__max_width__predefined);
  --clean-start__site__min_width__3xl_hd_horizontal: var(--clean-start__site__min_width__predefined);

  --clean-start__site__width__3xl_hd_vertical: var(--clean-start__site__width__predefined);
  --clean-start__site__max_width__3xl_hd_vertical: var(--clean-start__site__max_width__predefined);
  --clean-start__site__min_width__3xl_hd_vertical: var(--clean-start__site__min_width__predefined);

  --clean-start__site__width__xxl_ultra_wide_horizontal: var(--clean-start__site__width__predefined);
  --clean-start__site__max_width__xxl_ultra_wide_horizontal: var(--clean-start__site__max_width__predefined);
  --clean-start__site__min_width__xxl_ultra_wide_horizontal: var(--clean-start__site__min_width__predefined);

  --clean-start__site__width__xxl_ultra_wide_vertical: var(--clean-start__site__width__predefined);
  --clean-start__site__max_width__xxl_ultra_wide_vertical: var(--clean-start__site__max_width__predefined);
  --clean-start__site__min_width__xxl_ultra_wide_vertical: var(--clean-start__site__min_width__predefined);

  --clean-start__site__width__xl_desktop_horizontal: var(--clean-start__site__width__predefined);
  --clean-start__site__max_width__xl_desktop_horizontal: var(--clean-start__site__max_width__predefined);
  --clean-start__site__min_width__xl_desktop_horizontal: var(--clean-start__site__min_width__predefined);

  --clean-start__site__width__xl_desktop_vertical: var(--clean-start__site__width__predefined);
  --clean-start__site__max_width__xl_desktop_vertical: var(--clean-start__site__max_width__predefined);
  --clean-start__site__min_width__xl_desktop_vertical: var(--clean-start__site__min_width__predefined);

  --clean-start__site__width__lg_laptop_horizontal: var(--clean-start__site__width__predefined);
  --clean-start__site__max_width__lg_laptop_horizontal: var(--clean-start__site__max_width__predefined);
  --clean-start__site__min_width__lg_laptop_horizontal: var(--clean-start__site__min_width__predefined);

  --clean-start__site__width__lg_laptop_vertical: var(--clean-start__site__width__predefined);
  --clean-start__site__max_width__lg_laptop_vertical: var(--clean-start__site__max_width__predefined);
  --clean-start__site__min_width__lg_laptop_vertical: var(--clean-start__site__min_width__predefined);

  --clean-start__site__width__md_tablet_landscape: var(--clean-start__site__width__predefined);
  --clean-start__site__max_width__md_tablet_landscape: var(--clean-start__site__max_width__predefined);
  --clean-start__site__min_width__md_tablet_landscape: var(--clean-start__site__min_width__predefined);

  --clean-start__site__width__md_tablet_portrait: var(--clean-start__site__width__predefined);
  --clean-start__site__max_width__md_tablet_portrait: var(--clean-start__site__max_width__predefined);
  --clean-start__site__min_width__md_tablet_portrait: var(--clean-start__site__min_width__predefined);

  --clean-start__site__width__sm_mobile_landscape: var(--clean-start__site__width__predefined);
  --clean-start__site__max_width__sm_mobile_landscape: var(--clean-start__site__max_width__predefined);
  --clean-start__site__min_width__sm_mobile_landscape: var(--clean-start__site__min_width__predefined);

  --clean-start__site__width__sm_mobile_portrait: var(--clean-start__site__width__predefined);
  --clean-start__site__max_width__sm_mobile_portrait: var(--clean-start__site__max_width__predefined);
  --clean-start__site__min_width__sm_mobile_portrait: var(--clean-start__site__min_width__predefined);

  --clean-start__site__width__s_mobile_landscape: var(--clean-start__site__width__predefined);
  --clean-start__site__max_width__s_mobile_landscape: var(--clean-start__site__max_width__predefined);
  --clean-start__site__min_width__s_mobile_landscape: var(--clean-start__site__min_width__predefined);

  --clean-start__site__width__s_mobile_portrait: var(--clean-start__site__width__predefined);
  --clean-start__site__max_width__s_mobile_portrait: var(--clean-start__site__max_width__predefined);
  --clean-start__site__min_width__s_mobile_portrait: var(--clean-start__site__min_width__predefined);

  --clean-start__site__width__xs_mobile_landscape: var(--clean-start__site__width__predefined);
  --clean-start__site__max_width__xs_mobile_landscape: var(--clean-start__site__max_width__predefined);
  --clean-start__site__min_width__xs_mobile_landscape: var(--clean-start__site__min_width__predefined);

  --clean-start__site__width__xs_mobile_portrait: var(--clean-start__site__width__predefined);
  --clean-start__site__max_width__xs_mobile_portrait: var(--clean-start__site__max_width__predefined);
  --clean-start__site__min_width__xs_mobile_portrait: var(--clean-start__site__min_width__predefined);

  



  
  --clean-start__site__overflow_y: hidden;


  --clean-start__site__overflow_x__xs_mobile_portrait: auto;
  --clean-start__site__overflow_x__xs_mobile_landscape: auto;

  --clean-start__site__overflow_x__s_mobile_portrait: auto;
  --clean-start__site__overflow_x__s_mobile_landscape: auto;

  --clean-start__site__overflow_x__sm_mobile_portrait: auto;
  --clean-start__site__overflow_x__sm_mobile_landscape: auto;

  --clean-start__site__overflow_x__md_tablet_portrait: auto;
  --clean-start__site__overflow_x__md_tablet_landscape: auto;

  --clean-start__site__overflow_x__lg_laptop_vertical: hidden;
  --clean-start__site__overflow_x__lg_laptop_horizontal: hidden;

  --clean-start__site__overflow_x__xl_desktop_vertical: hidden;
  --clean-start__site__overflow_x__xl_desktop_horizontal: hidden;

  --clean-start__site__overflow_x__xxl_ultra_vertical: hidden;
  --clean-start__site__overflow_x__xxl_ultra_horizontal: hidden;

  --clean-start__site__overflow_x__3xl_hd_vertical: hidden;
  --clean-start__site__overflow_x__3xl_hd_horizontal: hidden;

  --clean-start__site__overflow_x__4xl_qhd_vertical: hidden;
  --clean-start__site__overflow_x__4xl_qhd_horizontal: hidden;

  --clean-start__site__overflow_x__5xl_4k_ultra_hd_vertical: hidden;
  --clean-start__site__overflow_x__5xl_4k_ultra_hd_horizontal: hidden;

  --clean-start__site__overflow_x__6xl_8k_vertical: hidden;
  --clean-start__site__overflow_x__6xl_8k_horizontal: hidden;

  --clean-start__site__overflow_x__7xl_16k_vertical: hidden;
  --clean-start__site__overflow_x__7xl_16k_horizontal: hidden;
  
  --clean-start__site__overflow_x: var(--clean-start__site__overflow_x__s_mobile_portrait);

  
  



  

  
  --clean-start__site__margin: 0 auto;


  
  --clean-start__site__padding-top: 1rem;
  --clean-start__site__padding-right: 1rem;
  --clean-start__site__padding-left: 1rem;
  --clean-start__site__padding-bottom: 1rem;

  --clean-start__site__padding: var(--clean-start__site__padding-top) var(--clean-start__site__padding-right) var(--clean-start__site__padding-bottom) var(--clean-start__site__padding-left);

  
  
}







.workspace.browser-width body {
  --clean-start__tag_body__width: 100%;
  --clean-start__tag_body__max_width: 100%;
  --clean-start__tag_body__min_width: 100%;

  --clean-start__tag_body__overflow-x: hidden;
}

.workspace.browser-width main {
  --clean-start__site__width: 100%;
  --clean-start__site__max_width: 100%;
  --clean-start__site__min_width: 100%;

  --clean-start__site__overflow_x: hidden;
}





.workspace.long body {
  --clean-start__tag_body__height: auto;
  --clean-start__tag_body__height_max: unset;
  --clean-start__tag_body__height_min: 100vh;

  overflow-y: visible;
}

.workspace.long main {
  --clean-start__site__height: fit-content;
  --clean-start__site__height_max: fit-content;
  --clean-start__site__height_min: 100vh;

  --clean-start__site__overflow_y: hidden;
}




.workspace.small body {
  --clean-start__tag_body__height: 100vh;
  --clean-start__tag_body__height_max: unset;
  --clean-start__tag_body__height_min: 100vh;

  overflow-y: visible;

  padding: 2rem 0;
}

.workspace.small main {
  --clean-start__site__height: min-content;
  --clean-start__site__height_max: min-content;
  --clean-start__site__height_min: min-content;

  --clean-start__site__overflow_y: hidden;
}





.workspace {

    --s_12_mobile_xs_portrait__width__from: 240px;
    --s_12_mobile_xs_portrait__width__til: 320px;
    --s_12_mobile_xs_landscape__width__from: 320px;
    --s_12_mobile_xs_landscape__width__til: 500px;

    --s_14_mobile_s_portrait__width__from: 321px;
    --s_14_mobile_s_portrait__width__til: 374px;
    --s_14_mobile_s_landscape__width__from: 501px;
    --s_14_mobile_s_landscape__width__til: 667px;

    --s_16_mobile_sm_portrait__width__from: 375px;
    --s_16_mobile_sm_portrait__width__til: 430px;
    --s_16_mobile_sm_landscape__width__from: 668px;
    --s_16_mobile_sm_landscape__width__til: 736px;

    --s_18_mobile_md_portrait__width__from: 431px;
    --s_18_mobile_md_portrait__width__til: 480px;
    --s_18_mobile_md_landscape__width__from: 737px;
    --s_18_mobile_md_landscape__width__til: 812px;

    --s_22_tablet_sm_portrait__width__from: 481px;
    --s_22_tablet_sm_portrait__width__til: 767px;
    --s_22_tablet_sm_landscape__width__from: 813px;
    --s_22_tablet_sm_landscape__width__til: 960px;

    --s_24_tablet_md_portrait__width__from: 768px;
    --s_24_tablet_md_portrait__width__til: 1024px;
    --s_24_tablet_md_landscape__width__from: 961px;
    --s_24_tablet_md_landscape__width__til: 1024px;

    --s_32_laptop_sm_portrait__width__from: 1025px;
    --s_32_laptop_sm_portrait__width__til: 1080px;
    --s_32_laptop_sm_landscape__width__from: 1025px;
    --s_32_laptop_sm_landscape__width__til: 1279px;

    --s_36_laptop_md_portrait__width__from: 1081px;
    --s_36_laptop_md_portrait__width__til: 1200px;
    --s_36_laptop_md_landscape__width__from: 1280px;
    --s_36_laptop_md_landscape__width__til: 1439px;

    --s_39_laptop_lg_portrait__width__from: 1201px;
    --s_39_laptop_lg_portrait__width__til: 1440px;
    --s_39_laptop_lg_landscape__width__from: 1440px;
    --s_39_laptop_lg_landscape__width__til: 1600px;

    --s_42_desktop_xl_portrait__width__from: 1441px;
    --s_42_desktop_xl_portrait__width__til: 1600px;
    --s_42_desktop_xl_landscape__width__from: 1601px;
    --s_42_desktop_xl_landscape__width__til: 1920px;

    --s_44_desktop_xxl_portrait__width__from: 1601px;
    --s_44_desktop_xxl_portrait__width__til: 2160px;
    --s_44_desktop_xxl_landscape__width__from: 1921px;
    --s_44_desktop_xxl_landscape__width__til: 2560px;

    --s_46_display_qhd_portrait__width__from: 2161px;
    --s_46_display_qhd_portrait__width__til: 2160px;
    --s_46_display_qhd_landscape__width__from: 2561px;
    --s_46_display_qhd_landscape__width__til: 3840px;

    --s_52_tv_4k_portrait__width__from: 2161px;
    --s_52_tv_4k_portrait__width__til: 4320px;
    --s_52_tv_4k_landscape__width__from: 3841px;
    --s_52_tv_4k_landscape__width__til: 7680px;

    --s_54_tv_8k_portrait__width__from: 4321px;
    --s_54_tv_8k_portrait__width__til: 8640px;
    --s_54_tv_8k_landscape__width__from: 7681px;
    --s_54_tv_8k_landscape__width__til: 15360px;

    --s_56_tv_16k_portrait__width__from: 8641px;
    --s_56_tv_16k_portrait__width__til: 9999px;
    --s_56_tv_16k_landscape__width__from: 15361px;
    --s_56_tv_16k_landscape__width__til: 25360px;

}



@media only screen and (min-width: 240px) and (max-width: 320px) and (orientation: portrait) {
  .workspace {
    --media_rule_name: s_12_mobile_xs_portrait;

    --width__from: var(--s_12_mobile_xs_portrait__width__from);
    --width__til: var(--s_12_mobile_xs_portrait__width__til);

  }    

  
  .workspace.verify-responsive-rule-applies main h1::before {
    content: var(--media-rule);
  }

}


@media only screen and (min-width: 320px) and (max-width: 500px) and (orientation: landscape) {
  .workspace {
    --media_rule_name: s_12_mobile_xs_landscape;

    --width__from: var(--s_12_mobile_xs_landscape__width__from);
    --width__til: var(--s_12_mobile_xs_landscape__width__til);

  }    

  
  .workspace.verify-responsive-rule-applies main h1::before {
    content: var(--media-rule);
  }

}


@media only screen and (min-width: 321px) and (max-width: 374px) and (orientation: portrait) {
  .workspace {
    --media_rule_name: s_14_mobile_s_portrait;

    --width__from: var(--s_14_mobile_s_portrait__width__from);
    --width__til: var(--s_14_mobile_s_portrait__width__til);

  }    

  
  .workspace.verify-responsive-rule-applies main h1::before {
    content: var(--media-rule);
  }

}


@media only screen and (min-width: 501px) and (max-width: 667px) and (orientation: landscape) {
  .workspace {
    --media_rule_name: s_14_mobile_s_landscape;

    --width__from: var(--s_14_mobile_s_landscape__width__from);
    --width__til: var(--s_14_mobile_s_landscape__width__til);

  }    

  
  .workspace.verify-responsive-rule-applies main h1::before {
    content: var(--media-rule);
  }

}


@media only screen and (min-width: 375px) and (max-width: 430px) and (orientation: portrait) {
  .workspace {
    --media_rule_name: s_16_mobile_sm_portrait;

    --width__from: var(--s_16_mobile_sm_portrait__width__from);
    --width__til: var(--s_16_mobile_sm_portrait__width__til);

  }    

  
  .workspace.verify-responsive-rule-applies main h1::before {
    content: var(--media-rule);
  }

}


@media only screen and (min-width: 668px) and (max-width: 736px) and (orientation: landscape) {
  .workspace {
    --media_rule_name: s_16_mobile_sm_landscape;

    --width__from: var(--s_16_mobile_sm_landscape__width__from);
    --width__til: var(--s_16_mobile_sm_landscape__width__til);

  }    

  
  .workspace.verify-responsive-rule-applies main h1::before {
    content: var(--media-rule);
  }

}


@media only screen and (min-width: 431px) and (max-width: 480px) and (orientation: portrait) {
  .workspace {
    --media_rule_name: s_18_mobile_md_portrait;

    --width__from: var(--s_18_mobile_md_portrait__width__from);
    --width__til: var(--s_18_mobile_md_portrait__width__til);

  }    

  
  .workspace.verify-responsive-rule-applies main h1::before {
    content: var(--media-rule);
  }

}


@media only screen and (min-width: 737px) and (max-width: 812px) and (orientation: landscape) {
  .workspace {
    --media_rule_name: s_18_mobile_md_landscape;

    --width__from: var(--s_18_mobile_md_landscape__width__from);
    --width__til: var(--s_18_mobile_md_landscape__width__til);

  }    

  
  .workspace.verify-responsive-rule-applies main h1::before {
    content: var(--media-rule);
  }

}


@media only screen and (min-width: 481px) and (max-width: 767px) and (orientation: portrait) {
  .workspace {
    --media_rule_name: s_22_tablet_sm_portrait;

    --width__from: var(--s_22_tablet_sm_portrait__width__from);
    --width__til: var(--s_22_tablet_sm_portrait__width__til);

  }    

  
  .workspace.verify-responsive-rule-applies main h1::before {
    content: var(--media-rule);
  }

}


@media only screen and (min-width: 813px) and (max-width: 960px) and (orientation: landscape) {
  .workspace {
    --media_rule_name: s_22_tablet_sm_landscape;

    --width__from: var(--s_22_tablet_sm_landscape__width__from);
    --width__til: var(--s_22_tablet_sm_landscape__width__til);

  }    

  
  .workspace.verify-responsive-rule-applies main h1::before {
    content: var(--media-rule);
  }

}


@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .workspace {
    --media_rule_name: s_24_tablet_md_portrait;

    --width__from: var(--s_24_tablet_md_portrait__width__from);
    --width__til: var(--s_24_tablet_md_portrait__width__til);

  }    

  
  .workspace.verify-responsive-rule-applies main h1::before {
    content: var(--media-rule);
  }

}


@media only screen and (min-width: 961px) and (max-width: 1024px) and (orientation: landscape) {
  .workspace {
    --media_rule_name: s_24_tablet_md_landscape;

    --width__from: var(--s_24_tablet_md_landscape__width__from);
    --width__til: var(--s_24_tablet_md_landscape__width__til);

  }    

  
  .workspace.verify-responsive-rule-applies main h1::before {
    content: var(--media-rule);
  }

}


@media only screen and (min-width: 1025px) and (max-width: 1080px) and (orientation: portrait) {
  .workspace {
    --media_rule_name: s_32_laptop_sm_portrait;

    --width__from: var(--s_32_laptop_sm_portrait__width__from);
    --width__til: var(--s_32_laptop_sm_portrait__width__til);

  }    

  
  .workspace.verify-responsive-rule-applies main h1::before {
    content: var(--media-rule);
  }

}


@media only screen and (min-width: 1025px) and (max-width: 1279px) and (orientation: landscape) {
  .workspace {
    --media_rule_name: s_32_laptop_sm_landscape;

    --width__from: var(--s_32_laptop_sm_landscape__width__from);
    --width__til: var(--s_32_laptop_sm_landscape__width__til);

  }    

  
  .workspace.verify-responsive-rule-applies main h1::before {
    content: var(--media-rule);
  }

}


@media only screen and (min-width: 1081px) and (max-width: 1200px) and (orientation: portrait) {
  .workspace {
    --media_rule_name: s_36_laptop_md_portrait;

    --width__from: var(--s_36_laptop_md_portrait__width__from);
    --width__til: var(--s_36_laptop_md_portrait__width__til);

  }    

  
  .workspace.verify-responsive-rule-applies main h1::before {
    content: var(--media-rule);
  }

}


@media only screen and (min-width: 1280px) and (max-width: 1439px) and (orientation: landscape) {
  .workspace {
    --media_rule_name: s_36_laptop_md_landscape;

    --width__from: var(--s_36_laptop_md_landscape__width__from);
    --width__til: var(--s_36_laptop_md_landscape__width__til);

  }    

  
  .workspace.verify-responsive-rule-applies main h1::before {
    content: var(--media-rule);
  }

}


@media only screen and (min-width: 1201px) and (max-width: 1440px) and (orientation: portrait) {
  .workspace {
    --media_rule_name: s_39_laptop_lg_portrait;

    --width__from: var(--s_39_laptop_lg_portrait__width__from);
    --width__til: var(--s_39_laptop_lg_portrait__width__til);

  }    

  
  .workspace.verify-responsive-rule-applies main h1::before {
    content: var(--media-rule);
  }

}


@media only screen and (min-width: 1440px) and (max-width: 1600px) and (orientation: landscape) {
  .workspace {
    --media_rule_name: s_39_laptop_lg_landscape;

    --width__from: var(--s_39_laptop_lg_landscape__width__from);
    --width__til: var(--s_39_laptop_lg_landscape__width__til);

  }    

  
  .workspace.verify-responsive-rule-applies main h1::before {
    content: var(--media-rule);
  }

}


@media only screen and (min-width: 1441px) and (max-width: 1600px) and (orientation: portrait) {
  .workspace {
    --media_rule_name: s_42_desktop_xl_portrait;

    --width__from: var(--s_42_desktop_xl_portrait__width__from);
    --width__til: var(--s_42_desktop_xl_portrait__width__til);

  }    

  
  .workspace.verify-responsive-rule-applies main h1::before {
    content: var(--media-rule);
  }

}


@media only screen and (min-width: 1601px) and (max-width: 1920px) and (orientation: landscape) {
  .workspace {
    --media_rule_name: s_42_desktop_xl_landscape;

    --width__from: var(--s_42_desktop_xl_landscape__width__from);
    --width__til: var(--s_42_desktop_xl_landscape__width__til);

  }    

  
  .workspace.verify-responsive-rule-applies main h1::before {
    content: var(--media-rule);
  }

}


@media only screen and (min-width: 1601px) and (max-width: 2160px) and (orientation: portrait) {
  .workspace {
    --media_rule_name: s_44_desktop_xxl_portrait;

    --width__from: var(--s_44_desktop_xxl_portrait__width__from);
    --width__til: var(--s_44_desktop_xxl_portrait__width__til);

  }    

  
  .workspace.verify-responsive-rule-applies main h1::before {
    content: var(--media-rule);
  }

}


@media only screen and (min-width: 1921px) and (max-width: 2560px) and (orientation: landscape) {
  .workspace {
    --media_rule_name: s_44_desktop_xxl_landscape;

    --width__from: var(--s_44_desktop_xxl_landscape__width__from);
    --width__til: var(--s_44_desktop_xxl_landscape__width__til);

  }    

  
  .workspace.verify-responsive-rule-applies main h1::before {
    content: var(--media-rule);
  }

}


@media only screen and (min-width: 2161px) and (max-width: 2160px) and (orientation: portrait) {
  .workspace {
    --media_rule_name: s_46_display_qhd_portrait;

    --width__from: var(--s_46_display_qhd_portrait__width__from);
    --width__til: var(--s_46_display_qhd_portrait__width__til);

  }    

  
  .workspace.verify-responsive-rule-applies main h1::before {
    content: var(--media-rule);
  }

}


@media only screen and (min-width: 2561px) and (max-width: 3840px) and (orientation: landscape) {
  .workspace {
    --media_rule_name: s_46_display_qhd_landscape;

    --width__from: var(--s_46_display_qhd_landscape__width__from);
    --width__til: var(--s_46_display_qhd_landscape__width__til);

  }    

  
  .workspace.verify-responsive-rule-applies main h1::before {
    content: var(--media-rule);
  }

}


@media only screen and (min-width: 2161px) and (max-width: 4320px) and (orientation: portrait) {
  .workspace {
    --media_rule_name: s_52_tv_4k_portrait;

    --width__from: var(--s_52_tv_4k_portrait__width__from);
    --width__til: var(--s_52_tv_4k_portrait__width__til);

  }    

  
  .workspace.verify-responsive-rule-applies main h1::before {
    content: var(--media-rule);
  }

}


@media only screen and (min-width: 3841px) and (max-width: 7680px) and (orientation: landscape) {
  .workspace {
    --media_rule_name: s_52_tv_4k_landscape;

    --width__from: var(--s_52_tv_4k_landscape__width__from);
    --width__til: var(--s_52_tv_4k_landscape__width__til);

  }    

  
  .workspace.verify-responsive-rule-applies main h1::before {
    content: var(--media-rule);
  }

}


@media only screen and (min-width: 4321px) and (max-width: 8640px) and (orientation: portrait) {
  .workspace {
    --media_rule_name: s_54_tv_8k_portrait;

    --width__from: var(--s_54_tv_8k_portrait__width__from);
    --width__til: var(--s_54_tv_8k_portrait__width__til);

  }    

  
  .workspace.verify-responsive-rule-applies main h1::before {
    content: var(--media-rule);
  }

}


@media only screen and (min-width: 7681px) and (max-width: 15360px) and (orientation: landscape) {
  .workspace {
    --media_rule_name: s_54_tv_8k_landscape;

    --width__from: var(--s_54_tv_8k_landscape__width__from);
    --width__til: var(--s_54_tv_8k_landscape__width__til);

  }    

  
  .workspace.verify-responsive-rule-applies main h1::before {
    content: var(--media-rule);
  }

}


@media only screen and (min-width: 8641px) and (max-width: 9999px) and (orientation: portrait) {
  .workspace {
    --media_rule_name: s_56_tv_16k_portrait;

    --width__from: var(--s_56_tv_16k_portrait__width__from);
    --width__til: var(--s_56_tv_16k_portrait__width__til);

  }    

  
  .workspace.verify-responsive-rule-applies main h1::before {
    content: var(--media-rule);
  }

}


@media only screen and (min-width: 15361px) and (max-width: 25360px) and (orientation: landscape) {
  .workspace {
    --media_rule_name: s_56_tv_16k_landscape;

    --width__from: var(--s_56_tv_16k_landscape__width__from);
    --width__til: var(--s_56_tv_16k_landscape__width__til);

  }    

  
  .workspace.verify-responsive-rule-applies main h1::before {
    content: var(--media-rule);
  }

}


html.workspace {
  font-size: var(--clean-start__rem);
}


html.workspace head,
html.workspace head *,
html.workspace script {
  visibility: hidden;
  max-height: 0;
  max-width: 0;
  overflow-y: hidden;
  overflow-x: hidden;
}


.workspace, 
.workspace * {

  position: var(--clean-start__position);
  display: var(--clean-start__custom-tags__display);
  box-sizing: var(--clean-start__box-sizing);

  line-break: strict;
  word-wrap: normal;
  word-break: normal;

  color: var(--clean-start__text-color);

  border-width: var(--clean-start__border-width);
  border-style: var(--clean-start__border-style);
  border-color: var(--clean-start__border-color);

}

.workspace, 
.workspace *:not(ul),
.workspace *:not(ol),
.workspace *:not(li) {

  margin: var(--clean-start__margin);
  padding: var(--clean-start__padding);

}



.workspace, 
.workspace *:not(pre) {
  font-family: var(--clean-start__font-family);
}

.workspace pre {
  font-family: var(--clean-start__font-family-pre, "Courier New", Courier, monospace);
}


.workspace, 
.workspace *:not(h1),
.workspace *:not(h2),
.workspace *:not(h3),
.workspace *:not(h4),
.workspace *:not(h5),
.workspace *:not(h6)  {

  font-size: var(--clean-start__font-size);
  line-height: var(--clean-start__line-height);

}



.workspace h1,
.workspace h2,
.workspace h3,
.workspace h4,
.workspace h5,
.workspace h6 {
  font-weight: var(--clean-start__font-weight_h);
  color: var(--clean-start__text-color-h);
}

.workspace h1 {
  font-size: var(--clean-start__font-size_h1);
  line-height: var(--clean-start__line-height_h1);
}
.workspace h2 {
  font-size: var(--clean-start__font-size_h2);
  line-height: var(--clean-start__line-height_h2);
}
.workspace h3 {
  font-size: var(--clean-start__font-size_h3);
  line-height: var(--clean-start__line-height_h3);
}
.workspace h4 {
  font-size: var(--clean-start__font-size_h4);
  line-height: var(--clean-start__line-height_h4);
}
.workspace h5 {
  font-size: var(--clean-start__font-size_h5);
  line-height: var(--clean-start__line-height_h5);
}
.workspace h6 {
  font-size: var(--clean-start__font-size_h6);
  line-height: var(--clean-start__line-height_h6);
}


html.workspace {
  top: 0;

  width: var(--clean-start__tag_body__width);
  max-width: var(--clean-start__tag_body__max_width);
  min-width: var(--clean-start__tag_body__min_width);

  overflow-x: hidden;
}

.workspace body {
  background: var(--clean-start__tag_body__background);

  
  height:     var(--clean-start__tag_body__height);
  max-height: var(--clean-start__tag_body__height_max);
  min-height: var(--clean-start__tag_body__height_min);

  width:     var(--clean-start__tag_body__width);
  max-width: var(--clean-start__tag_body__max_width);
  min-width: var(--clean-start__tag_body__min_width);

  overflow-y: visible;
  overflow-x: var(--clean-start__tag_body__overflow-x);
}

.workspace main {
  margin: var(--clean-start__site__margin) !important;
  padding: var(--clean-start__site__padding) !important;
  background: var(--clean-start__site__background);

  
  height:     var(--clean-start__site__height);
  max-height: var(--clean-start__site__height_max);
  min-height: var(--clean-start__site__height_min);

  width:     var(--clean-start__site__width);
  max-width: var(--clean-start__site__max_width);
  min-width: var(--clean-start__site__min_width);

  overflow: var(--clean-start__site__overflow_x) var(--clean-start__site__overflow_y);
}




.workspace p {
  margin: var(--clean-start__p__margin);
}



.workspace a {
  color: var(--clean-start__anchor__text-color);
  text-decoration: none;
}
.workspace a:hover {
  color: var(--clean-start__anchor__text-color-hover);
  text-decoration: underline;
}
.workspace a:visited {
  color: var(--clean-start__anchor__text-color-visited);
  text-decoration: none;
}
.workspace a:visited:hover {
  color: var(--clean-start__anchor__text-color-visited-hover);
  text-decoration: underline;
}





.workspace address,
.workspace article,
.workspace aside,
.workspace blockquote,
.workspace body,
.workspace canvas,
.workspace dd,
.workspace div,
.workspace dl,
.workspace dt,
.workspace fieldset,
.workspace figcaption,
.workspace figure,
.workspace footer,
.workspace form,
.workspace h1,
.workspace h2,
.workspace h3,
.workspace h4,
.workspace h5,
.workspace h6,
.workspace header,
.workspace hr,

.workspace main,
.workspace nav,
.workspace noscript,

.workspace output,
.workspace p,
.workspace pre,
.workspace section,

.workspace video {
  display: var(--clean-start__block-tags__display, block);
}




.workspace span,
.workspace a,
.workspace b,
.workspace big,
.workspace br,
.workspace cite,
.workspace code,
.workspace del,
.workspace em,
.workspace i,
.workspace img,
.workspace ins,
.workspace label,
.workspace map,
.workspace mark,
.workspace q,
.workspace s,
.workspace samp,
.workspace small,
.workspace strong,
.workspace sub,
.workspace sup,
.workspace time,
.workspace u,
.workspace var {
    display: var(--clean-start__inline-tags__display, inline-block);
}



.workspace table {
  display: table;
}

.workspace table caption {
  display: 	table-caption;
}

.workspace colgroup {
  display: table-column-group;
}

.workspace col {
  display: table-column;
}

.workspace thead {
  display: table-header-group;
}

.workspace tbody {
  display: table-row-group;
}

.workspace tfoot {
  display: table-footer-group;
}

.workspace tr {
  display: table-row;
}

.workspace th, 
.workspace td {
  display: table-cell;
}




.workspace.ul-reset ul, 
.workspace.ul-reset ol, 
.workspace.ul-reset li, 
.workspace .ul-reset ul, 
.workspace .ul-reset ol, 
.workspace .ul-reset li,
.workspace ul.ul-reset,
.workspace ol.ul-reset, 
.workspace ul.ul-reset li,
.workspace ol.ul-reset li {

  list-style-type: none;

  position: var(--clean-start__position);
  display: var(--clean-start__inline-tags__display, inline-block);
  box-sizing: var(--clean-start__box-sizing);

  margin: var(--clean-start__margin);
  padding: var(--clean-start__padding);

  border-width: var(--clean-start__border-width);
  border-style: var(--clean-start__border-style);
  border-color: var(--clean-start__border-color);

}





.workspace.verify-responsive-rule-applies main h1::before {
  content: "";
  position: relative;
  top: 0;
  left: 0;
  display: block;
  background-color: antiquewhite;
  color: orange;
  padding: 0.2rem 0.4rem;
  border: 1px solid red;
  border-radius: 0.4rem;
  font-size: var(--clean-start__font-size);
  line-height: var(--clean-start__line-height);
}
