/* all variables are set in the theme-base .css file */
.workspace {

  /* 
  This values is used to set font-size on <html> tag, to calculate the rem sizes for the entire html page. 
  16px is the default value. 
  Up to date sites development technology recommends to use rem sizes for other html tags.
  */
  --clean-start__rem: 16px;



  /* COLOUR SCHEMES VARIBLES */
  /* 
  this is the <body> background css. not just background-color. 
  the <main> html tag in the <body> tag, holds all site's tags, and is centered, and not the entire width.
  */
  --clean-start__tag_body__background: #f2f4f6;

  /* main area on the html page in the middle */
  --clean-start__site__background: white;


  /* hyperlink text colors. */
  --clean-start__anchor__text-color: slateblue;
  /* hover when mouse over the hyperlink. */
  --clean-start__anchor__text-color-hover: blue;
  /* visited, when once on this site this hyperlink was clicked. */
  --clean-start__anchor__text-color-visited: darkgrey;
  /* end   hyperlink text colors. */

  /* END    COLOUR SCHEMES VARIBLES */



  /* LAYOUT PROPS RESET: position, display, box-sizing, margin, padding,  */
  --clean-start__position: relative;
  --clean-start__box-sizing: border-box;
  --clean-start__margin: 0 0 0 0;
  --clean-start__padding: 0 0 0 0;

  --clean-start__block-tags__display: block;
  --clean-start__inline-tags__display: inline-block;
  --clean-start__custom-tags__display: var(--clean-start__block-tags__display);


  /* borders of all elements */
  --clean-start__border-width: 0;
  --clean-start__border-style: solid;
  --clean-start__border-color: lime;


  /* text */
  --clean-start__font-family: "Franklin Gothic Medium", Verdana, sans-serif;
  --clean-start__font-family-pre: "Courier New", Courier, monospace;
  --clean-start__text-color: unset;
  --clean-start__text-color-h: unset;

  /* 
    since all margins are set to 0,
    this is no good for the Paragraph tag <p>.
    The Paragrapth tag <p> is multiline,
    and every paragraph always has distance from next html tags,
    and next Paragraph, too.
   */
  --clean-start__p__margin: 0.2rem 0 0.2rem 0;




  /* 
    h1-h6 tags. FONT-SIZE AND LINE-HEIGHT RESPONSIVE
    This css variables block can be made responsive, too.
    For now h1-h6 font size and line height is not adjusted for every gadget dimension.
  */
  
  /* font-weight for all, h1-h6 */
  --clean-start__font-weight_h: 600;


  --clean-start__font-size_h1: 2.6rem;
  --clean-start__font-size_h2: 2.1rem;
  --clean-start__font-size_h3: 1.8rem;
  --clean-start__font-size_h4: 1.6rem;
  --clean-start__font-size_h5: 1.33rem;
  --clean-start__font-size_h6: 1rem;


  --clean-start__line-height_h1: 3rem;
  --clean-start__line-height_h2: 2.5rem;
  --clean-start__line-height_h3: 2.2rem;
  --clean-start__line-height_h4: 2.0rem;
  --clean-start__line-height_h5: 1.67rem;
  --clean-start__line-height_h6: 1.6rem;




  /* All other tags. FONT-SIZE AND LINE-HEIGHT RESPONSIVE */
  
  --clean-start__font-size__mobile__predefined: 1.2rem;
  --clean-start__line-height__mobile__predefined: 2.0rem;

  --clean-start__font-size__predefined: 1.03rem;
  --clean-start__line-height__predefined: 1.68rem;



  --clean-start__font-size__mobile_portrait: var(--clean-start__font-size__mobile__predefined);
  --clean-start__font-size__mobile_landscape: var(--clean-start__font-size__mobile__predefined);

  --clean-start__line-height__mobile_portrait: var(--clean-start__line-height__mobile__predefined);
  --clean-start__line-height__mobile_landscape: var(--clean-start__line-height__mobile__predefined);


  --clean-start__font-size__tablet_portrait: var(--clean-start__font-size__mobile__predefined);
  --clean-start__font-size__tablet_landscape: var(--clean-start__font-size__predefined);

  --clean-start__line-height__tablet_portrait: var(--clean-start__line-height__mobile__predefined);
  --clean-start__line-height__tablet_landscape: var(--clean-start__line-height__predefined);


  --clean-start__font-size__lg_laptop: var(--clean-start__font-size__predefined);
  --clean-start__line-height__lg_laptop: var(--clean-start__line-height__predefined);


  --clean-start__font-size__xl_desktop_horizontal: var(--clean-start__font-size__predefined);
  --clean-start__line-height__xl_desktop_horizontal: var(--clean-start__line-height__predefined);

  --clean-start__font-size__xl_desktop_vertical: var(--clean-start__font-size__predefined);
  --clean-start__line-height__xl_desktop_vertical: var(--clean-start__line-height__predefined);


  --clean-start__font-size__xxl_ultra_wide_horizontal: var(--clean-start__font-size__predefined);
  --clean-start__line-height__xxl_ultra_wide_horizontal: var(--clean-start__line-height__predefined);

  --clean-start__font-size__xxl_ultra_wide_vertical: var(--clean-start__font-size__predefined);
  --clean-start__line-height__xxl_ultra_wide_vertical: var(--clean-start__line-height__predefined);


  --clean-start__font-size__3xl_hd_horizontal: var(--clean-start__font-size__predefined);
  --clean-start__line-height__3xl_hd_horizontal: var(--clean-start__line-height__predefined);

  --clean-start__font-size__3xl_hd_vertical: var(--clean-start__font-size__predefined);
  --clean-start__line-height__3xl_hd_vertical: var(--clean-start__line-height__predefined);


  --clean-start__font-size__4xl_qhd_horizontal: var(--clean-start__font-size__predefined);
  --clean-start__line-height__4xl_qhd_horizontal: var(--clean-start__line-height__predefined);

  --clean-start__font-size__4xl_qhd_vertical: var(--clean-start__font-size__predefined);
  --clean-start__line-height__4xl_qhd_vertical: var(--clean-start__line-height__predefined);


  --clean-start__font-size__5xl_4k_ultra_hd_horizontal: var(--clean-start__font-size__predefined);
  --clean-start__line-height__5xl_4k_ultra_hd_horizontal: var(--clean-start__line-height__predefined);

  --clean-start__font-size__5xl_4k_ultra_hd_vertical: var(--clean-start__font-size__predefined);
  --clean-start__line-height__5xl_4k_ultra_hd_vertical: var(--clean-start__line-height__predefined);


  --clean-start__font-size__6xl_8k_horizontal: var(--clean-start__font-size__predefined);
  --clean-start__line-height__6xl_8k_horizontal: var(--clean-start__line-height__predefined);

  --clean-start__font-size__6xl_8k_vertical: var(--clean-start__font-size__predefined);
  --clean-start__line-height__6xl_8k_vertical: var(--clean-start__line-height__predefined);


  --clean-start__font-size__7xl_16k_horizontal: var(--clean-start__font-size__predefined);
  --clean-start__line-height__7xl_16k_horizontal: var(--clean-start__line-height__predefined);

  --clean-start__font-size__7xl_16k_vertical: var(--clean-start__font-size__predefined);
  --clean-start__line-height__7xl_16k_vertical: var(--clean-start__line-height__predefined);


  /* 
    These variables are used in the main styles .css file: MediaAndStyles/clean-start-main.css 
    The font-size and line-height are set for every html tag on the html site.
    
    The responsive feature, in folder MediaAndStyles/responsive,
    via @media rule sets automaticlly the responsive font-size and line-height to these variables.
    For example like in the file MediaAndStyles/responsive/clean-start-s-mobile-portrait.css : 
    --clean-start__font-size__mobile: var(--clean-start__font-size__mobile_portrait);
    --clean-start__font-size: var(--clean-start__font-size__mobile);
  */
  --clean-start__font-size: var(--clean-start__font-size__mobile);
  --clean-start__line-height: var(--clean-start__line-height__mobile);

  /* END   FONT-SIZE AND LINE-HEIGHT RESPONSIVE */







  


  /* TAG BODY RESPONSIVE */

  /* the predefined styles to keep the html site from the start nice seeing */
  --clean-start__tag_body__height: auto;
  --clean-start__tag_body__height_max: unset;
  --clean-start__tag_body__height_min: 100vh;

  --clean-start__tag_body__width: 100%;
  --clean-start__tag_body__overflow-x: hidden;

  


  /* this value can be set as constant here below */
  --clean-start__tag_body__width__predefined: 100%;
  --clean-start__tag_body__max_width__predefined: 100%;
  --clean-start__tag_body__min_width__predefined: 100%;

   
  /* THIS VALUE IS SET IN THE STYLES RULES. 
    IN THE @MEDIA QUERIES TO THIS VARIABLE IS SET THE VALUE OF THE ACCORDING RESPONSIVE WIDTH VARIABLE. 
  */

  --clean-start__tag_body__width: 100%;
  --clean-start__tag_body__max_width: 100%;
  --clean-start__tag_body__min_width: 100%;


  

  --clean-start__tag_body__width__7xl_16k_horizontal: 100%;
  --clean-start__tag_body__max_width__7xl_16k_horizontal: 100%;
  --clean-start__tag_body__min_width__7xl_16k_horizontal: 100%;

  --clean-start__tag_body__width__7xl_16k_vertical: 100%;
  --clean-start__tag_body__max_width__7xl_16k_vertical: 100%;
  --clean-start__tag_body__min_width__7xl_16k_vertical: 100%;

  --clean-start__tag_body__width__6xl_8k_horizontal: 100%;
  --clean-start__tag_body__max_width__6xl_8k_horizontal: 100%;
  --clean-start__tag_body__min_width__6xl_8k_horizontal: 100%;

  --clean-start__tag_body__width__6xl_8k_vertical: 100%;
  --clean-start__tag_body__max_width__6xl_8k_vertical: 100%;
  --clean-start__tag_body__min_width__6xl_8k_vertical: 100%;

  --clean-start__tag_body__width__5xl_4k_ultra_hd_horizontal: 100%;
  --clean-start__tag_body__max_width__5xl_4k_ultra_hd_horizontal: 100%;
  --clean-start__tag_body__min_width__5xl_4k_ultra_hd_horizontal: 100%;

  --clean-start__tag_body__width__5xl_4k_ultra_hd_vertical: 100%;
  --clean-start__tag_body__max_width__5xl_4k_ultra_hd_vertical: 100%;
  --clean-start__tag_body__min_width__5xl_4k_ultra_hd_vertical: 100%;

  --clean-start__tag_body__width__4xl_qhd_horizontal: 100%;
  --clean-start__tag_body__max_width__4xl_qhd_horizontal: 100%;
  --clean-start__tag_body__min_width__4xl_qhd_horizontal: 100%;

  --clean-start__tag_body__width__4xl_qhd_vertical: 100%;
  --clean-start__tag_body__max_width__4xl_qhd_vertical: 100%;
  --clean-start__tag_body__min_width__4xl_qhd_vertical: 100%;

  --clean-start__tag_body__width__3xl_hd_horizontal: 100%;
  --clean-start__tag_body__max_width__3xl_hd_horizontal: 100%;
  --clean-start__tag_body__min_width__3xl_hd_horizontal: 100%;

  --clean-start__tag_body__width__3xl_hd_vertical: 100%;
  --clean-start__tag_body__max_width__3xl_hd_vertical: 100%;
  --clean-start__tag_body__min_width__3xl_hd_vertical: 100%;

  --clean-start__tag_body__width__xxl_ultra_wide_horizontal: 100%;
  --clean-start__tag_body__max_width__xxl_ultra_wide_horizontal: 100%;
  --clean-start__tag_body__min_width__xxl_ultra_wide_horizontal: 100%;

  --clean-start__tag_body__width__xxl_ultra_wide_vertical: 100%;
  --clean-start__tag_body__max_width__xxl_ultra_wide_vertical: 100%;
  --clean-start__tag_body__min_width__xxl_ultra_wide_vertical: 100%;

  --clean-start__tag_body__width__xl_desktop_horizontal: 100%;
  --clean-start__tag_body__max_width__xl_desktop_horizontal: 100%;
  --clean-start__tag_body__min_width__xl_desktop_horizontal: 100%;

  --clean-start__tag_body__width__xl_desktop_vertical: 100%;
  --clean-start__tag_body__max_width__xl_desktop_vertical: 100%;
  --clean-start__tag_body__min_width__xl_desktop_vertical: 100%;

  --clean-start__tag_body__width__lg_laptop_horizontal: 100%;
  --clean-start__tag_body__max_width__lg_laptop_horizontal: 100%;
  --clean-start__tag_body__min_width__lg_laptop_horizontal: 100%;

  --clean-start__tag_body__width__lg_laptop_vertical: 100%;
  --clean-start__tag_body__max_width__lg_laptop_vertical: 100%;
  --clean-start__tag_body__min_width__lg_laptop_vertical: 100%;

  --clean-start__tag_body__width__md_tablet_landscape: 100%;
  --clean-start__tag_body__max_width__md_tablet_landscape: 100%;
  --clean-start__tag_body__min_width__md_tablet_landscape: 100%;

  --clean-start__tag_body__width__md_tablet_portrait: 100%;
  --clean-start__tag_body__max_width__md_tablet_portrait: 100%;
  --clean-start__tag_body__min_width__md_tablet_portrait: 100%;

  --clean-start__tag_body__width__sm_mobile_landscape: 100%;
  --clean-start__tag_body__max_width__sm_mobile_landscape: 100%;
  --clean-start__tag_body__min_width__sm_mobile_landscape: 100%;

  --clean-start__tag_body__width__sm_mobile_portrait: 100%;
  --clean-start__tag_body__max_width__sm_mobile_portrait: 100%;
  --clean-start__tag_body__min_width__sm_mobile_portrait: 100%;

  --clean-start__tag_body__width__s_mobile_landscape: 100%;
  --clean-start__tag_body__max_width__s_mobile_landscape: 100%;
  --clean-start__tag_body__min_width__s_mobile_landscape: 100%;

  --clean-start__tag_body__width__s_mobile_portrait: 100%;
  --clean-start__tag_body__max_width__s_mobile_portrait: 100%;
  --clean-start__tag_body__min_width__s_mobile_portrait: 100%;

  --clean-start__tag_body__width__xs_mobile_landscape: 100%;
  --clean-start__tag_body__max_width__xs_mobile_landscape: 100%;
  --clean-start__tag_body__min_width__xs_mobile_landscape: 100%;

  --clean-start__tag_body__width__xs_mobile_portrait: 100%;
  --clean-start__tag_body__max_width__xs_mobile_portrait: 100%;
  --clean-start__tag_body__min_width__xs_mobile_portrait: 100%;





  /* SITE RESPONSIVE ( tag main: html > body > main ) */

  --clean-start__site__height: fit-content;
  --clean-start__site__height_max: fit-content;
  --clean-start__site__height_min: 100vh;


  /* this value can be set as constant here below */
  --clean-start__site__width__predefined: 90%;
  --clean-start__site__max_width__predefined: 90%;
  --clean-start__site__min_width__predefined: 90%;


  /* THIS VALUE IS SET IN THE STYLES RULES. 
      IN THE @MEDIA QUERIES TO THIS VARIABLE IS SET THE VALUE OF THE ACCORDING RESPONSIVE WIDTH VARIABLE. 
  */
  --clean-start__site__width: var(--clean-start__site__width__predefined);
  --clean-start__site__max_width: var(--clean-start__site__max_width__predefined);
  --clean-start__site__min_width: var(--clean-start__site__min_width__predefined);



  
  --clean-start__site__width__7xl_16k_horizontal: var(--clean-start__site__width__predefined);
  --clean-start__site__max_width__7xl_16k_horizontal: var(--clean-start__site__max_width__predefined);
  --clean-start__site__min_width__7xl_16k_horizontal: var(--clean-start__site__min_width__predefined);

  --clean-start__site__width__7xl_16k_vertical: var(--clean-start__site__width__predefined);
  --clean-start__site__max_width__7xl_16k_vertical: var(--clean-start__site__max_width__predefined);
  --clean-start__site__min_width__7xl_16k_vertical: var(--clean-start__site__min_width__predefined);

  --clean-start__site__width__6xl_8k_horizontal: var(--clean-start__site__width__predefined);
  --clean-start__site__max_width__6xl_8k_horizontal: var(--clean-start__site__max_width__predefined);
  --clean-start__site__min_width__6xl_8k_horizontal: var(--clean-start__site__min_width__predefined);

  --clean-start__site__width__6xl_8k_vertical: var(--clean-start__site__width__predefined);
  --clean-start__site__max_width__6xl_8k_vertical: var(--clean-start__site__max_width__predefined);
  --clean-start__site__min_width__6xl_8k_vertical: var(--clean-start__site__min_width__predefined);

  --clean-start__site__width__5xl_4k_ultra_hd_horizontal: var(--clean-start__site__width__predefined);
  --clean-start__site__max_width__5xl_4k_ultra_hd_horizontal: var(--clean-start__site__max_width__predefined);
  --clean-start__site__min_width__5xl_4k_ultra_hd_horizontal: var(--clean-start__site__min_width__predefined);

  --clean-start__site__width__5xl_4k_ultra_hd_vertical: var(--clean-start__site__width__predefined);
  --clean-start__site__max_width__5xl_4k_ultra_hd_vertical: var(--clean-start__site__max_width__predefined);
  --clean-start__site__min_width__5xl_4k_ultra_hd_vertical: var(--clean-start__site__min_width__predefined);

  --clean-start__site__width__4xl_qhd_horizontal: var(--clean-start__site__width__predefined);
  --clean-start__site__max_width__4xl_qhd_horizontal: var(--clean-start__site__max_width__predefined);
  --clean-start__site__min_width__4xl_qhd_horizontal: var(--clean-start__site__min_width__predefined);

  --clean-start__site__width__4xl_qhd_vertical: var(--clean-start__site__width__predefined);
  --clean-start__site__max_width__4xl_qhd_vertical: var(--clean-start__site__max_width__predefined);
  --clean-start__site__min_width__4xl_qhd_vertical: var(--clean-start__site__min_width__predefined);

  --clean-start__site__width__3xl_hd_horizontal: var(--clean-start__site__width__predefined);
  --clean-start__site__max_width__3xl_hd_horizontal: var(--clean-start__site__max_width__predefined);
  --clean-start__site__min_width__3xl_hd_horizontal: var(--clean-start__site__min_width__predefined);

  --clean-start__site__width__3xl_hd_vertical: var(--clean-start__site__width__predefined);
  --clean-start__site__max_width__3xl_hd_vertical: var(--clean-start__site__max_width__predefined);
  --clean-start__site__min_width__3xl_hd_vertical: var(--clean-start__site__min_width__predefined);

  --clean-start__site__width__xxl_ultra_wide_horizontal: var(--clean-start__site__width__predefined);
  --clean-start__site__max_width__xxl_ultra_wide_horizontal: var(--clean-start__site__max_width__predefined);
  --clean-start__site__min_width__xxl_ultra_wide_horizontal: var(--clean-start__site__min_width__predefined);

  --clean-start__site__width__xxl_ultra_wide_vertical: var(--clean-start__site__width__predefined);
  --clean-start__site__max_width__xxl_ultra_wide_vertical: var(--clean-start__site__max_width__predefined);
  --clean-start__site__min_width__xxl_ultra_wide_vertical: var(--clean-start__site__min_width__predefined);

  --clean-start__site__width__xl_desktop_horizontal: var(--clean-start__site__width__predefined);
  --clean-start__site__max_width__xl_desktop_horizontal: var(--clean-start__site__max_width__predefined);
  --clean-start__site__min_width__xl_desktop_horizontal: var(--clean-start__site__min_width__predefined);

  --clean-start__site__width__xl_desktop_vertical: var(--clean-start__site__width__predefined);
  --clean-start__site__max_width__xl_desktop_vertical: var(--clean-start__site__max_width__predefined);
  --clean-start__site__min_width__xl_desktop_vertical: var(--clean-start__site__min_width__predefined);

  --clean-start__site__width__lg_laptop_horizontal: var(--clean-start__site__width__predefined);
  --clean-start__site__max_width__lg_laptop_horizontal: var(--clean-start__site__max_width__predefined);
  --clean-start__site__min_width__lg_laptop_horizontal: var(--clean-start__site__min_width__predefined);

  --clean-start__site__width__lg_laptop_vertical: var(--clean-start__site__width__predefined);
  --clean-start__site__max_width__lg_laptop_vertical: var(--clean-start__site__max_width__predefined);
  --clean-start__site__min_width__lg_laptop_vertical: var(--clean-start__site__min_width__predefined);

  --clean-start__site__width__md_tablet_landscape: var(--clean-start__site__width__predefined);
  --clean-start__site__max_width__md_tablet_landscape: var(--clean-start__site__max_width__predefined);
  --clean-start__site__min_width__md_tablet_landscape: var(--clean-start__site__min_width__predefined);

  --clean-start__site__width__md_tablet_portrait: var(--clean-start__site__width__predefined);
  --clean-start__site__max_width__md_tablet_portrait: var(--clean-start__site__max_width__predefined);
  --clean-start__site__min_width__md_tablet_portrait: var(--clean-start__site__min_width__predefined);

  --clean-start__site__width__sm_mobile_landscape: var(--clean-start__site__width__predefined);
  --clean-start__site__max_width__sm_mobile_landscape: var(--clean-start__site__max_width__predefined);
  --clean-start__site__min_width__sm_mobile_landscape: var(--clean-start__site__min_width__predefined);

  --clean-start__site__width__sm_mobile_portrait: var(--clean-start__site__width__predefined);
  --clean-start__site__max_width__sm_mobile_portrait: var(--clean-start__site__max_width__predefined);
  --clean-start__site__min_width__sm_mobile_portrait: var(--clean-start__site__min_width__predefined);

  --clean-start__site__width__s_mobile_landscape: var(--clean-start__site__width__predefined);
  --clean-start__site__max_width__s_mobile_landscape: var(--clean-start__site__max_width__predefined);
  --clean-start__site__min_width__s_mobile_landscape: var(--clean-start__site__min_width__predefined);

  --clean-start__site__width__s_mobile_portrait: var(--clean-start__site__width__predefined);
  --clean-start__site__max_width__s_mobile_portrait: var(--clean-start__site__max_width__predefined);
  --clean-start__site__min_width__s_mobile_portrait: var(--clean-start__site__min_width__predefined);

  --clean-start__site__width__xs_mobile_landscape: var(--clean-start__site__width__predefined);
  --clean-start__site__max_width__xs_mobile_landscape: var(--clean-start__site__max_width__predefined);
  --clean-start__site__min_width__xs_mobile_landscape: var(--clean-start__site__min_width__predefined);

  --clean-start__site__width__xs_mobile_portrait: var(--clean-start__site__width__predefined);
  --clean-start__site__max_width__xs_mobile_portrait: var(--clean-start__site__max_width__predefined);
  --clean-start__site__min_width__xs_mobile_portrait: var(--clean-start__site__min_width__predefined);

  /* END    SITE WIDTH RESPONSIVE */



  /* SITE OVERFLOW RESPONSIVE */
  --clean-start__site__overflow_y: hidden;


  --clean-start__site__overflow_x__xs_mobile_portrait: auto;
  --clean-start__site__overflow_x__xs_mobile_landscape: auto;

  --clean-start__site__overflow_x__s_mobile_portrait: auto;
  --clean-start__site__overflow_x__s_mobile_landscape: auto;

  --clean-start__site__overflow_x__sm_mobile_portrait: auto;
  --clean-start__site__overflow_x__sm_mobile_landscape: auto;

  --clean-start__site__overflow_x__md_tablet_portrait: auto;
  --clean-start__site__overflow_x__md_tablet_landscape: auto;

  --clean-start__site__overflow_x__lg_laptop_vertical: hidden;
  --clean-start__site__overflow_x__lg_laptop_horizontal: hidden;

  --clean-start__site__overflow_x__xl_desktop_vertical: hidden;
  --clean-start__site__overflow_x__xl_desktop_horizontal: hidden;

  --clean-start__site__overflow_x__xxl_ultra_vertical: hidden;
  --clean-start__site__overflow_x__xxl_ultra_horizontal: hidden;

  --clean-start__site__overflow_x__3xl_hd_vertical: hidden;
  --clean-start__site__overflow_x__3xl_hd_horizontal: hidden;

  --clean-start__site__overflow_x__4xl_qhd_vertical: hidden;
  --clean-start__site__overflow_x__4xl_qhd_horizontal: hidden;

  --clean-start__site__overflow_x__5xl_4k_ultra_hd_vertical: hidden;
  --clean-start__site__overflow_x__5xl_4k_ultra_hd_horizontal: hidden;

  --clean-start__site__overflow_x__6xl_8k_vertical: hidden;
  --clean-start__site__overflow_x__6xl_8k_horizontal: hidden;

  --clean-start__site__overflow_x__7xl_16k_vertical: hidden;
  --clean-start__site__overflow_x__7xl_16k_horizontal: hidden;
  
  --clean-start__site__overflow_x: var(--clean-start__site__overflow_x__s_mobile_portrait);

  /* END    SITE OVERFLOW RESPONSIVE */
  



  /* SITES'S PADDING */

  /* 
    <body><main> html tag css rule "margin" 
    all other margin were set 0 by the CssCleanStart.
    "margin: 0 auto" centers the <main> tag on the html site.

    .workspace main { margin: var(--clean-start__site__margin); }
  */
  --clean-start__site__margin: 0 auto;


  /* 
    <body><main> html tag css rule "padding" 
    all other padding were set 0 by the CssCleanStart.

    .workspace main { padding: var(--clean-start__site__padding); }
  */
  --clean-start__site__padding-top: 1rem;
  --clean-start__site__padding-right: 1rem;
  --clean-start__site__padding-left: 1rem;
  --clean-start__site__padding-bottom: 1rem;

  --clean-start__site__padding: var(--clean-start__site__padding-top) var(--clean-start__site__padding-right) var(--clean-start__site__padding-bottom) var(--clean-start__site__padding-left);

  /* END    SITES'S PADDING */
  
}




/* CSS CLASSES */

/* 
  html tag css class "browser-width" 

  with this css class, the <main> tag is the entire width of the browser's tab.
*/
.workspace.browser-width body {
  --clean-start__tag_body__width: 100%;
  --clean-start__tag_body__max_width: 100%;
  --clean-start__tag_body__min_width: 100%;

  --clean-start__tag_body__overflow-x: hidden;
}

.workspace.browser-width main {
  --clean-start__site__width: 100%;
  --clean-start__site__max_width: 100%;
  --clean-start__site__min_width: 100%;

  --clean-start__site__overflow_x: hidden;
}




/* 
  html tag css class "long" 

  with this css class, the <main> tag is the entire height of the browser's tab.
  if the html site hs a lot of text,
  then the site is scrollable.

  Tese rules are applied at once.
  And here I recommend to keep these classes in order to rebuild Your styles theme later, 
  if the default variables You have erased, 
  when edited the variables here, and not in the theme .css file.
*/
.workspace.long body {
  --clean-start__tag_body__height: auto;
  --clean-start__tag_body__height_max: unset;
  --clean-start__tag_body__height_min: 100vh;

  overflow-y: visible;
}

.workspace.long main {
  --clean-start__site__height: fit-content;
  --clean-start__site__height_max: fit-content;
  --clean-start__site__height_min: 100vh;

  --clean-start__site__overflow_y: hidden;
}



/* 
  html tag css class "small" 

  with this css class, the <main> tag is NOT the entire height of the browser's tab.
  if the html site has a lot of text,
  then the site is scrollable.
  If not a lot of text, then You see background, applied to <body> styles,
  and the <main> tag is small, and has anther background.

  I recommend to keep these classes in order to rebuild Your styles theme later, 
  if the default variables You have erased, 
  when edited the variables here, and not in the theme .css file.
*/
.workspace.small body {
  --clean-start__tag_body__height: 100vh;
  --clean-start__tag_body__height_max: unset;
  --clean-start__tag_body__height_min: 100vh;

  overflow-y: visible;

  padding: 2rem 0;
}

.workspace.small main {
  --clean-start__site__height: min-content;
  --clean-start__site__height_max: min-content;
  --clean-start__site__height_min: min-content;

  --clean-start__site__overflow_y: hidden;
}

/* END    CSS-RESET-PACK "CssCleanStart" main .css file */


