@media only screen and (min-width: 240px) and (max-width: 320px) and (min-height: 240px) and (max-height: 99999px) and (orientation: portrait) {

  .jsx .CssToolTemplate.theme_layout_example {
    --theme_name: CssToolTemplate__theme_layout_example;
    --theme_name__CssToolTemplate: theme_layout_example;
    --responsive_size: responsive_size_e02_mobile_xs_portrait;
    --responsive_size__CssToolTemplate__theme_layout_example: responsive_size_e02_mobile_xs_portrait__CssToolTemplate__theme_layout_example;
  }
}

