
/* tasks:

1. turns off css-clean-start responsive (webmail no support for @media queries),
2. clean-start padding-box,
3. font styles,
4. no flex,
4. addresses,
5. site width for mobile view in gmail.

*/

:root {
  --jsx--css-clean-start-2--all-tags--box-sizing: padding-box;
  --jsx--css-clean-start-2--custom-tags--display: var(--jsx--css-clean-start-2--inline-tags--display);
}



/* tasks 2, 3, 5 via css-clean-start css variables: box-sizing, font styles, width */
.jsx.email {

  /* --main-font-family: Raleway; */
  /* --main-font-family: LilitaOne; */
  /* --main-font-family: AbrilFatface; */
  /*--main-font-family: ArchivoBlack;*/
  /* --main-font-family: Orbitron; */
  /* --main-font-family: PirataOne; */
  /* --main-font-family: RedHatDisplay; */
  /* --main-font-family: Righteous; */
  /* --main-font-family: TitilliumWeb; */

  --main-font-family: var(--clean-start__font-family);



  --jsx--css-clean-start-2--all-tags--box-sizing: padding-box;
  --jsx--css-clean-start-2--custom-tags--display: var(--jsx--css-clean-start-2--inline-tags--display);

  --jsx--css-clean-start-2--site--background: #ffffff;


/*
  --jsx--css-clean-start-2--body-tag--height: auto;
  --jsx--css-clean-start-2--body-tag--max-height: unset;
  --jsx--css-clean-start-2--body-tag--min-height: auto; */

  /* --jsx--css-clean-start-2--body-tag--width: 100%;
  --jsx--css-clean-start-2--body-tag--overflow-x: hidden; */



  --jsx--css-clean-start-2--site--height: auto;
  --jsx--css-clean-start-2--site--max-height: fit-content;
  --jsx--css-clean-start-2--site--min-height: fit-content;

  --jsx--css-clean-start-2--site--width: 60rem;
  --jsx--css-clean-start-2--site--max-width: 100%;
  --jsx--css-clean-start-2--site--min-width: 320px;

  --jsx--css-clean-start-2--site--padding: 1px 1px 1px 1px;



  /* --clean-start__font-family: var(--main-font-family); */
  --jsx--css-clean-start-2--all-tags--font-size:   0.95rem;
  --jsx--css-clean-start-2--all-tags--line-height: 1.35rem;

  --jsx--css-clean-start-2--anchor--color: #37b;
  --jsx--css-clean-start-2--anchor-hover--color: var(--jsx--css-clean-start-2--anchor--color);
  --jsx--css-clean-start-2--anchor-visited--color: var(--jsx--css-clean-start-2--anchor--color);




  --recipient-background-color: #ffffff;
  --logo-height: 70px;
  --address-col--margin: 0 0 3rem 0;
  --address-email--margin: 0.5rem 0 0 0;


  --text-color-bold-light: #333;
  --text-color-main: #222;

  --address-font-family: var(--main-font-family);
  --address-font-size:   var(--clean-start__font-size);
  --address-line-height: var(--clean-start__line-height);


  --contactPerson-font-family: var(--main-font-family);
  --contactPerson-font-size:   var(--clean-start__font-size);
  --contactPerson-font-weight: 600;
  --contactPerson-line-height: var(--clean-start__line-height);
  --contactPerson_margin:      1rem 0 0.4rem 0;

  --theme-font-family:   var(--main-font-family);
  --theme-font-size:     1.2rem;
  --theme-font-weight:   600;
  --theme-line-height:   1.64;

}



div.header {
}

div.header .address-col {
  margin: var(--address-col--margin);
}

.jsx.email img {
  display: block;
}

.jsx.email div.header .address-col {
  display: inline-block;
}


div.header .address-col-first {
  min-width: 55%;
  width: auto;
  max-width: 100%;
  overflow-x: hidden;
}

div.header .address-col-second {
  min-width: 35%;
  width: auto;
  max-width: 100%;
  overflow-x: hidden;
}



div.header .address-col div,
div.header .address-col span {
  font-family:  var(--address-font-family);
  font-size:    var(--address-font-size);
  line-height:  var(--address-line-height);
}




div.header .address-col .company,
div.header .address-col .adress-col-second-margin {
  width: 100%;
}

div.header .address-col .company .logo {
  height: var(--logo-height);
  max-width: 100%;
  min-width: auto;
  overflow-x: hidden;
  overflow-y: hidden;
}

div.header .address-col .company.recipient .logo {
}

div.header .address-col .company.sender .logo {
}



div.header .address-col .company .logo img {
  display: block;

  max-width: 100%;
  width: auto;

  overflow-x: hidden;
  overflow-y: hidden;

  height: 100%;
}







div.header .address-col .company .companyName {
}

div.header .address-col .contactPerson {
  font-family:  var(--contactPerson-font-family);
  font-size:    var(--contactPerson-font-size);
  font-weight:  var(--contactPerson-font-weight);
  line-height:  var(--contactPerson-line-height);

  color: var(--text-color-bold-light);

  margin:       var(--contactPerson_margin);
}


div.header .address-col .company.recipient .companyName,
div.header .address-col .company.sender .companyName {
  display: none;
}

div.header .address-col .postal-address {
  width: 100%;
}

div.header .address-col .postal-address .postal-address-line {
  width: 100%;
}

div.header .address-col .postal-address .postal-address-line span {
}

div.header .address-col .postal-address .postal-address-line .street {

}

div.header .address-col .postal-address .postal-address-line .zip {

}

div.header .address-col .postal-address .postal-address-line .town {

}

div.header .address-col .postal-address .postal-address-line .land {
  font-family:  var(--address-font-family);
  font-size:    var(--address-font-size);
  line-height:  var(--address-line-height);
  font-weight:  600;

  color: var(--text-color-bold-light);
}

div.header .address-col .email {
  margin: var(--address-email--margin);
}

div.header .address-col .email a {
  color: var(--text-color-main);
  text-decoration: none;
}


.jsx.email main .in_main {
  display: block;
  overflow-x: hidden;
  overflow-y: visible;
  margin: 3rem auto 16rem auto;
  width: 48rem;
  max-width: 100%;
  min-width: 300px;
}


.jsx.email main .in_main_2 {
  display: block;
  overflow-x: hidden;
  overflow-y: visible;
  margin: 0 1rem 0 1rem;
  width: 46rem;
  max-width: 95%;
  min-width: 200px;
}


.jsx.email main .date-and-place {
  margin: 2rem 0 0 0;
}

.jsx.email main .date-and-place > span {
  display: inline-block;

  margin-right: 2rem;
}




.jsx.email main .paragraph.theme {
  font-family:  var(--theme-font-family);
  font-size:    var(--theme-font-size);
  font-weight:  var(--theme-font-weight);
  line-height:  var(--theme-line-height);

  color: var(--text-color-bold-light);

  margin: 6rem 0 1rem 0;
}

.jsx.email main .text {
  display: block;
  width: 100%;
}

.jsx.email main .text .paragraph {
  display: block;
  width: 100%;

  margin: 0 0 1rem 0;
}

.jsx.email main .text {
  margin-bottom: 2.5rem;
}



.jsx.email main .line {
  display: block;
  width: 100%;
}


.jsx.email main .line.regards,
.jsx.email main .line.name {
}



.jsx.email main .signature .signature-img-parent {
  height: 2.3rem;
  width: auto;
}

.jsx.email main .signature .signature-img-parent img {
  display: block;
  height: 100%;
  width: auto;
}
