

@font-face {
  font-family: v_LibreFranklin;
  src: url("./fonts/Libre_Franklin/LibreFranklin_VariableFont_wght.ttf") format("truetype") tech("variations");
  src: url("./fonts/Libre_Franklin/LibreFranklin_VariableFont_wght.ttf") format("truetype-variations");
  font-weight: 100 900;
  font-stretch: 85% 121%;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: iv_LibreFranklin;
  src: url("./fonts/Libre_Franklin/LibreFranklin_Italic_VariableFont_wght.ttf") format("truetype") tech("variations");
  src: url("./fonts/Libre_Franklin/LibreFranklin_Italic_VariableFont_wght.ttf") format("truetype-variations");
  font-weight: 100 900;
  font-stretch: 85% 121%;
  font-style: italic;
  font-display: swap;
}





@font-face {
  font-family: v_PlayfairDisplay;
  src: url("./fonts/Playfair_Display/PlayfairDisplay_VariableFont_wght.ttf") format("truetype") tech("variations");
  src: url("./fonts/Playfair_Display/PlayfairDisplay_VariableFont_wght.ttf") format("truetype-variations");
  font-weight: 400 900;
  font-stretch: 85% 121%;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: iv_PlayfairDisplay;
  src: url("./fonts/Playfair_Display/PlayfairDisplay_Italic_VariableFont_wght.ttf") format("truetype") tech("variations");
  src: url("./fonts/Playfair_Display/PlayfairDisplay_Italic_VariableFont_wght.ttf") format("truetype-variations");
  font-weight: 400 900;
  font-stretch: 85% 121%;
  font-style: italic;
  font-display: swap;
}





@font-face {
  font-family: v_Source_Code_Pro;
  src: url("./fonts/Source_Code_Pro/SourceCodePro_VariableFont_wght.ttf") format("truetype") tech("variations");
  src: url("./fonts/Source_Code_Pro/SourceCodePro_VariableFont_wght.ttf") format("truetype-variations");
  font-weight: 200 900;
  font-stretch: 85% 121%;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: iv_Source_Code_Pro;
  src: url("./fonts/Libre_Franklin/LibreFranklin_Italic_VariableFont_wght.ttf") format("truetype") tech("variations");
  src: url("./fonts/Libre_Franklin/LibreFranklin_Italic_VariableFont_wght.ttf") format("truetype-variations");
  font-weight: 200 900;
  font-stretch: 85% 121%;
  font-style: italic;
  font-display: swap;
}









.jsc {
    --css-clean-start-2--sans--font-family: LibreFranklin, v_LibreFranklin, Tahoma, system-ui, -apple-system, BlinkMacSystemFont, Roboto, Oxygen;
    --css-clean-start-2--serif--font-family: PlayfairDisplay, v_PlayfairDisplay, 'Times New Roman', system-ui, -apple-system, BlinkMacSystemFont;
    --css-clean-start-2--monospace--font-family: Source_Code_Pro, v_Source_Code_Pro, Courier, "Courier New", Menlo, Consolas, 'Liberation Mono';

    --jsx--css-clean-start-2--all-tags--font-family: var(--css-clean-start-2--sans--font-family);
    --jsx--css-clean-start-2--pre--font-family: var(--css-clean-start-2--monospace--font-family);
}




