
@import url("@JscFonts_MediaAndStyles/webpack_styles/font_v_LibreFranklin_webpack.css");
@import url("@JscFonts_MediaAndStyles/webpack_styles/font_LibreFranklin_webpack.css");

@import url("@JscFonts_MediaAndStyles/webpack_styles/font_v_PlayfairDisplay_webpack.css");
@import url("@JscFonts_MediaAndStyles/webpack_styles/font_PlayfairDisplay_webpack.css");

@import url("@JscFonts_MediaAndStyles/webpack_styles/font_v_Source_Code_Pro_webpack.css");
@import url("@JscFonts_MediaAndStyles/webpack_styles/font_Source_Code_Pro_webpack.css");



/* main css file, css logics with rules set via variables in the theme .css files imported above */

@import url("@JscFonts_MediaAndStyles/JscFonts_main.css");


