

@font-face {
  font-family: v_LibreFranklin;
  src: url("./fonts/Libre_Franklin/LibreFranklin_VariableFont_wght.ttf") format("truetype") tech("variations");
  src: url("./fonts/Libre_Franklin/LibreFranklin_VariableFont_wght.ttf") format("truetype-variations");
  font-weight: 100 900;
  font-stretch: 85% 121%;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: iv_LibreFranklin;
  src: url("./fonts/Libre_Franklin/LibreFranklin_Italic_VariableFont_wght.ttf") format("truetype") tech("variations");
  src: url("./fonts/Libre_Franklin/LibreFranklin_Italic_VariableFont_wght.ttf") format("truetype-variations");
  font-weight: 100 900;
  font-stretch: 85% 121%;
  font-style: italic;
  font-display: swap;
}



@font-face {
  font-family: LibreFranklin;
  src: url("./fonts/Libre_Franklin/static/LibreFranklin-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: LibreFranklin;
  src: url("./fonts/Libre_Franklin/static/LibreFranklin-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: LibreFranklin;
  src: url("./fonts/Libre_Franklin/static/LibreFranklin-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: LibreFranklin;
  src: url("./fonts/Libre_Franklin/static/LibreFranklin-ExtraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: LibreFranklin;
  src: url("./fonts/Libre_Franklin/static/LibreFranklin-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: LibreFranklin;
  src: url("./fonts/Libre_Franklin/static/LibreFranklin-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: LibreFranklin;
  src: url("./fonts/Libre_Franklin/static/LibreFranklin-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: LibreFranklin;
  src: url("./fonts/Libre_Franklin/static/LibreFranklin-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: LibreFranklin;
  src: url("./fonts/Libre_Franklin/static/LibreFranklin-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: LibreFranklin;
  src: url("./fonts/Libre_Franklin/static/LibreFranklin-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: LibreFranklin;
  src: url("./fonts/Libre_Franklin/static/LibreFranklin-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: LibreFranklin;
  src: url("./fonts/Libre_Franklin/static/LibreFranklin-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: LibreFranklin;
  src: url("./fonts/Libre_Franklin/static/LibreFranklin-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: LibreFranklin;
  src: url("./fonts/Libre_Franklin/static/LibreFranklin-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: LibreFranklin;
  src: url("./fonts/Libre_Franklin/static/LibreFranklin-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: LibreFranklin;
  src: url("./fonts/Libre_Franklin/static/LibreFranklin-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: LibreFranklin;
  src: url("./fonts/Libre_Franklin/static/LibreFranklin-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: LibreFranklin;
  src: url("./fonts/Libre_Franklin/static/LibreFranklin-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}



@font-face {
  font-family: v_PlayfairDisplay;
  src: url("./fonts/Playfair_Display/PlayfairDisplay_VariableFont_wght.ttf") format("truetype") tech("variations");
  src: url("./fonts/Playfair_Display/PlayfairDisplay_VariableFont_wght.ttf") format("truetype-variations");
  font-weight: 400 900;
  font-stretch: 85% 121%;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: iv_PlayfairDisplay;
  src: url("./fonts/Playfair_Display/PlayfairDisplay_Italic_VariableFont_wght.ttf") format("truetype") tech("variations");
  src: url("./fonts/Playfair_Display/PlayfairDisplay_Italic_VariableFont_wght.ttf") format("truetype-variations");
  font-weight: 400 900;
  font-stretch: 85% 121%;
  font-style: italic;
  font-display: swap;
}



@font-face {
  font-family: PlayfairDisplay;
  src: url("./fonts/Playfair_Display/static/PlayfairDisplay-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}


@font-face {
  font-family: PlayfairDisplay;
  src: url("./fonts/Playfair_Display/static/PlayfairDisplay-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}


@font-face {
  font-family: PlayfairDisplay;
  src: url("./fonts/Playfair_Display/static/PlayfairDisplay-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: PlayfairDisplay;
  src: url("./fonts/Playfair_Display/static/PlayfairDisplay-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}


@font-face {
  font-family: PlayfairDisplay;
  src: url("./fonts/Playfair_Display/static/PlayfairDisplay-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: PlayfairDisplay;
  src: url("./fonts/Playfair_Display/static/PlayfairDisplay-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}


@font-face {
  font-family: PlayfairDisplay;
  src: url("./fonts/Playfair_Display/static/PlayfairDisplay-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: PlayfairDisplay;
  src: url("./fonts/Playfair_Display/static/PlayfairDisplay-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}


@font-face {
  font-family: PlayfairDisplay;
  src: url("./fonts/Playfair_Display/static/PlayfairDisplay-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: PlayfairDisplay;
  src: url("./fonts/Playfair_Display/static/PlayfairDisplay-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}


@font-face {
  font-family: PlayfairDisplay;
  src: url("./fonts/Playfair_Display/static/PlayfairDisplay-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: PlayfairDisplay;
  src: url("./fonts/Playfair_Display/static/PlayfairDisplay-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: v_Newsreader;
  src: url("./fonts/Newsreader/Newsreader_VariableFont_opsz_wght.ttf") format("truetype") tech("variations");
  src: url("./fonts/Newsreader/Newsreader_VariableFont_opsz_wght.ttf") format("truetype-variations");
  font-weight: 200 800;
  font-optical-sizing: 9, 14, 24, 36, 60;
  font-stretch: 85% 121%;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: iv_Newsreader;
  src: url("./fonts/Newsreader/Newsreader_Italic_VariableFont_opsz_wght.ttf") format("truetype") tech("variations");
  src: url("./fonts/Newsreader/Newsreader_Italic_VariableFont_opsz_wght.ttf") format("truetype-variations");
  font-weight: 200 800;
  font-optical-sizing: 9, 14, 24, 36, 60;
  font-style: italic;
}



@font-face {
    font-family: Newsreader_9pt;
    src: url("./fonts/Newsreader/static/Newsreader_9pt-ExtraLight.ttf") format("truetype");
    font-weight: 200;
    font-optical-sizing: 9;
    font-style: normal;
}

@font-face { 
    font-family: Newsreader_9pt_ExtraLight;
    src: url("./fonts/Newsreader/static/Newsreader_9pt-ExtraLight.ttf") format("truetype");
    font-weight: 200;
    font-optical-sizing: 9;
    font-style: normal;
}

@font-face { 
    font-family: Newsreader_9pt;
    src: url("./fonts/Newsreader/static/Newsreader_9pt-ExtraLightItalic.ttf") format("truetype");
    font-weight: 200;
    font-optical-sizing: 9;
    font-style: italic;
}

@font-face { 
    font-family: Newsreader_9pt_ExtraLightItalic;
    src: url("./fonts/Newsreader/static/Newsreader_9pt-ExtraLightItalic.ttf") format("truetype");
    font-weight: 200;
    font-optical-sizing: 9;
    font-style: italic;
}

@font-face { 
    font-family: Newsreader_9pt;
    src: url("./fonts/Newsreader/static/Newsreader_9pt-Light.ttf") format("truetype");
    font-weight: 300;
    font-optical-sizing: 9;
    font-style: normal;
}

@font-face { 
    font-family: Newsreader_9pt_Light;
    src: url("./fonts/Newsreader/static/Newsreader_9pt-Light.ttf") format("truetype");
    font-weight: 300;
    font-optical-sizing: 9;
    font-style: normal;
}

@font-face { 
    font-family: Newsreader_9pt;
    src: url("./fonts/Newsreader/static/Newsreader_9pt-LightItalic.ttf") format("truetype");
    font-weight: 300;
    font-optical-sizing: 9;
    font-style: italic;
}

@font-face { 
    font-family: Newsreader_9pt_LightItalic;
    src: url("./fonts/Newsreader/static/Newsreader_9pt-LightItalic.ttf") format("truetype");
    font-weight: 300;
    font-optical-sizing: 9;
    font-style: italic;
}

@font-face { 
    font-family: Newsreader_9pt;
    src: url("./fonts/Newsreader/static/Newsreader_9pt-Regular.ttf") format("truetype");
    font-weight: 400;
    font-optical-sizing: 9;
    font-style: normal;
}

@font-face { 
    font-family: Newsreader_9pt_Regular;
    src: url("./fonts/Newsreader/static/Newsreader_9pt-Regular.ttf") format("truetype");
    font-weight: 400;
    font-optical-sizing: 9;
    font-style: normal;
}

@font-face { 
    font-family: Newsreader_9pt;
    src: url("./fonts/Newsreader/static/Newsreader_9pt-Italic.ttf") format("truetype");
    font-weight: 400;
    font-optical-sizing: 9;
    font-style: italic;
}

@font-face { 
    font-family: Newsreader_9pt_Italic;
    src: url("./fonts/Newsreader/static/Newsreader_9pt-Italic.ttf") format("truetype");
    font-weight: 400;
    font-optical-sizing: 9;
    font-style: italic;
}

@font-face { 
    font-family: Newsreader_9pt;
    src: url("./fonts/Newsreader/static/Newsreader_9pt-Medium.ttf") format("truetype");
    font-weight: 500;
    font-optical-sizing: 9;
    font-style: normal;
}

@font-face { 
    font-family: Newsreader_9pt_Medium;
    src: url("./fonts/Newsreader/static/Newsreader_9pt-Medium.ttf") format("truetype");
    font-weight: 500;
    font-optical-sizing: 9;
    font-style: normal;
}

@font-face { 
    font-family: Newsreader_9pt;
    src: url("./fonts/Newsreader/static/Newsreader_9pt-MediumItalic.ttf") format("truetype");
    font-weight: 500;
    font-optical-sizing: 9;
    font-style: italic;
}

@font-face { 
    font-family: Newsreader_9pt_MediumItalic;
    src: url("./fonts/Newsreader/static/Newsreader_9pt-MediumItalic.ttf") format("truetype");
    font-weight: 500;
    font-optical-sizing: 9;
    font-style: italic;
}

@font-face { 
    font-family: Newsreader_9pt;
    src: url("./fonts/Newsreader/static/Newsreader_9pt-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-optical-sizing: 9;
    font-style: normal;
}

@font-face { 
    font-family: Newsreader_9pt_SemiBold;
    src: url("./fonts/Newsreader/static/Newsreader_9pt-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-optical-sizing: 9;
    font-style: normal;
}

@font-face { 
    font-family: Newsreader_9pt;
    src: url("./fonts/Newsreader/static/Newsreader_9pt-SemiBoldItalic.ttf") format("truetype");
    font-weight: 600;
    font-optical-sizing: 9;
    font-style: italic;
}

@font-face { 
    font-family: Newsreader_9pt_SemiBoldItalic;
    src: url("./fonts/Newsreader/static/Newsreader_9pt-SemiBoldItalic.ttf") format("truetype");
    font-weight: 600;
    font-optical-sizing: 9;
    font-style: italic;
}

@font-face { 
    font-family: Newsreader_9pt;
    src: url("./fonts/Newsreader/static/Newsreader_9pt-Bold.ttf") format("truetype");
    font-weight: 700;
    font-optical-sizing: 9;
    font-style: normal;
}

@font-face { 
    font-family: Newsreader_9pt_Bold;
    src: url("./fonts/Newsreader/static/Newsreader_9pt-Bold.ttf") format("truetype");
    font-weight: 700;
    font-optical-sizing: 9;
    font-style: normal;
}

@font-face { 
    font-family: Newsreader_9pt;
    src: url("./fonts/Newsreader/static/Newsreader_9pt-BoldItalic.ttf") format("truetype");
    font-weight: 700;
    font-optical-sizing: 9;
    font-style: italic;
}

@font-face { 
    font-family: Newsreader_9pt_BoldItalic;
    src: url("./fonts/Newsreader/static/Newsreader_9pt-BoldItalic.ttf") format("truetype");
    font-weight: 700;
    font-optical-sizing: 9;
    font-style: italic;
}

@font-face { 
    font-family: Newsreader_9pt;
    src: url("./fonts/Newsreader/static/Newsreader_9pt-ExtraBold.ttf") format("truetype");
    font-weight: 800;
    font-optical-sizing: 9;
    font-style: normal;
}

@font-face { 
    font-family: Newsreader_9pt_ExtraBold;
    src: url("./fonts/Newsreader/static/Newsreader_9pt-ExtraBold.ttf") format("truetype");
    font-weight: 800;
    font-optical-sizing: 9;
    font-style: normal;
}

@font-face { 
    font-family: Newsreader_9pt;
    src: url("./fonts/Newsreader/static/Newsreader_9pt-ExtraBoldItalic.ttf") format("truetype");
    font-weight: 800;
    font-optical-sizing: 9;
    font-style: italic;
}

@font-face { 
    font-family: Newsreader_9pt_ExtraBoldItalic;
    src: url("./fonts/Newsreader/static/Newsreader_9pt-ExtraBoldItalic.ttf") format("truetype");
    font-weight: 800;
    font-optical-sizing: 9;
    font-style: italic;
}


@font-face { 
    font-family: Newsreader_14pt;
    src: url("./fonts/Newsreader/static/Newsreader_14pt-ExtraLight.ttf") format("truetype");
    font-weight: 200;
    font-optical-sizing: 14;
    font-style: normal;
}

@font-face { 
    font-family: Newsreader_14pt_ExtraLight;
    src: url("./fonts/Newsreader/static/Newsreader_14pt-ExtraLight.ttf") format("truetype");
    font-weight: 200;
    font-optical-sizing: 14;
    font-style: normal;
}

@font-face { 
    font-family: Newsreader_14pt;
    src: url("./fonts/Newsreader/static/Newsreader_14pt-ExtraLightItalic.ttf") format("truetype");
    font-weight: 200;
    font-optical-sizing: 14;
    font-style: italic;
}

@font-face { 
    font-family: Newsreader_14pt_ExtraLightItalic;
    src: url("./fonts/Newsreader/static/Newsreader_14pt-ExtraLightItalic.ttf") format("truetype");
    font-weight: 200;
    font-optical-sizing: 14;
    font-style: italic;
}

@font-face { 
    font-family: Newsreader_14pt;
    src: url("./fonts/Newsreader/static/Newsreader_14pt-Light.ttf") format("truetype");
    font-weight: 300;
    font-optical-sizing: 14;
    font-style: normal;
}

@font-face { 
    font-family: Newsreader_14pt_Light;
    src: url("./fonts/Newsreader/static/Newsreader_14pt-Light.ttf") format("truetype");
    font-weight: 300;
    font-optical-sizing: 14;
    font-style: normal;
}

@font-face { 
    font-family: Newsreader_14pt;
    src: url("./fonts/Newsreader/static/Newsreader_14pt-LightItalic.ttf") format("truetype");
    font-weight: 300;
    font-optical-sizing: 14;
    font-style: italic;
}

@font-face { 
    font-family: Newsreader_14pt_LightItalic;
    src: url("./fonts/Newsreader/static/Newsreader_14pt-LightItalic.ttf") format("truetype");
    font-weight: 300;
    font-optical-sizing: 14;
    font-style: italic;
}

@font-face { 
    font-family: Newsreader_14pt;
    src: url("./fonts/Newsreader/static/Newsreader_14pt-Regular.ttf") format("truetype");
    font-weight: 400;
    font-optical-sizing: 14;
    font-style: normal;
}

@font-face { 
    font-family: Newsreader_14pt_Regular;
    src: url("./fonts/Newsreader/static/Newsreader_14pt-Regular.ttf") format("truetype");
    font-weight: 400;
    font-optical-sizing: 14;
    font-style: normal;
}

@font-face { 
    font-family: Newsreader_14pt;
    src: url("./fonts/Newsreader/static/Newsreader_14pt-Italic.ttf") format("truetype");
    font-weight: 400;
    font-optical-sizing: 14;
    font-style: italic;
}

@font-face { 
    font-family: Newsreader_14pt_Italic;
    src: url("./fonts/Newsreader/static/Newsreader_14pt-Italic.ttf") format("truetype");
    font-weight: 400;
    font-optical-sizing: 14;
    font-style: italic;
}

@font-face { 
    font-family: Newsreader_14pt;
    src: url("./fonts/Newsreader/static/Newsreader_14pt-Medium.ttf") format("truetype");
    font-weight: 500;
    font-optical-sizing: 14;
    font-style: normal;
}

@font-face { 
    font-family: Newsreader_14pt_Medium;
    src: url("./fonts/Newsreader/static/Newsreader_14pt-Medium.ttf") format("truetype");
    font-weight: 500;
    font-optical-sizing: 14;
    font-style: normal;
}

@font-face { 
    font-family: Newsreader_14pt;
    src: url("./fonts/Newsreader/static/Newsreader_14pt-MediumItalic.ttf") format("truetype");
    font-weight: 500;
    font-optical-sizing: 14;
    font-style: italic;
}

@font-face { 
    font-family: Newsreader_14pt_MediumItalic;
    src: url("./fonts/Newsreader/static/Newsreader_14pt-MediumItalic.ttf") format("truetype");
    font-weight: 500;
    font-optical-sizing: 14;
    font-style: italic;
}

@font-face { 
    font-family: Newsreader_14pt;
    src: url("./fonts/Newsreader/static/Newsreader_14pt-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-optical-sizing: 14;
    font-style: normal;
}

@font-face { 
    font-family: Newsreader_14pt_SemiBold;
    src: url("./fonts/Newsreader/static/Newsreader_14pt-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-optical-sizing: 14;
    font-style: normal;
}

@font-face { 
    font-family: Newsreader_14pt;
    src: url("./fonts/Newsreader/static/Newsreader_14pt-SemiBoldItalic.ttf") format("truetype");
    font-weight: 600;
    font-optical-sizing: 14;
    font-style: italic;
}

@font-face { 
    font-family: Newsreader_14pt_SemiBoldItalic;
    src: url("./fonts/Newsreader/static/Newsreader_14pt-SemiBoldItalic.ttf") format("truetype");
    font-weight: 600;
    font-optical-sizing: 14;
    font-style: italic;
}

@font-face { 
    font-family: Newsreader_14pt;
    src: url("./fonts/Newsreader/static/Newsreader_14pt-Bold.ttf") format("truetype");
    font-weight: 700;
    font-optical-sizing: 14;
    font-style: normal;
}

@font-face { 
    font-family: Newsreader_14pt_Bold;
    src: url("./fonts/Newsreader/static/Newsreader_14pt-Bold.ttf") format("truetype");
    font-weight: 700;
    font-optical-sizing: 14;
    font-style: normal;
}

@font-face { 
    font-family: Newsreader_14pt;
    src: url("./fonts/Newsreader/static/Newsreader_14pt-BoldItalic.ttf") format("truetype");
    font-weight: 700;
    font-optical-sizing: 14;
    font-style: italic;
}

@font-face { 
    font-family: Newsreader_14pt_BoldItalic;
    src: url("./fonts/Newsreader/static/Newsreader_14pt-BoldItalic.ttf") format("truetype");
    font-weight: 700;
    font-optical-sizing: 14;
    font-style: italic;
}

@font-face { 
    font-family: Newsreader_14pt;
    src: url("./fonts/Newsreader/static/Newsreader_14pt-ExtraBold.ttf") format("truetype");
    font-weight: 800;
    font-optical-sizing: 14;
    font-style: normal;
}

@font-face { 
    font-family: Newsreader_14pt_ExtraBold;
    src: url("./fonts/Newsreader/static/Newsreader_14pt-ExtraBold.ttf") format("truetype");
    font-weight: 800;
    font-optical-sizing: 14;
    font-style: normal;
}

@font-face { 
    font-family: Newsreader_14pt;
    src: url("./fonts/Newsreader/static/Newsreader_14pt-ExtraBoldItalic.ttf") format("truetype");
    font-weight: 800;
    font-optical-sizing: 14;
    font-style: italic;
}

@font-face { 
    font-family: Newsreader_14pt_ExtraBoldItalic;
    src: url("./fonts/Newsreader/static/Newsreader_14pt-ExtraBoldItalic.ttf") format("truetype");
    font-weight: 800;
    font-optical-sizing: 14;
    font-style: italic;
}


@font-face { 
    font-family: Newsreader_24pt;
    src: url("./fonts/Newsreader/static/Newsreader_24pt-ExtraLight.ttf") format("truetype");
    font-weight: 200;
    font-optical-sizing: 24;
    font-style: normal;
}

@font-face { 
    font-family: Newsreader_24pt_ExtraLight;
    src: url("./fonts/Newsreader/static/Newsreader_24pt-ExtraLight.ttf") format("truetype");
    font-weight: 200;
    font-optical-sizing: 24;
    font-style: normal;
}

@font-face { 
    font-family: Newsreader_24pt;
    src: url("./fonts/Newsreader/static/Newsreader_24pt-ExtraLightItalic.ttf") format("truetype");
    font-weight: 200;
    font-optical-sizing: 24;
    font-style: italic;
}

@font-face { 
    font-family: Newsreader_24pt_ExtraLightItalic;
    src: url("./fonts/Newsreader/static/Newsreader_24pt-ExtraLightItalic.ttf") format("truetype");
    font-weight: 200;
    font-optical-sizing: 24;
    font-style: italic;
}

@font-face { 
    font-family: Newsreader_24pt;
    src: url("./fonts/Newsreader/static/Newsreader_24pt-Light.ttf") format("truetype");
    font-weight: 300;
    font-optical-sizing: 24;
    font-style: normal;
}

@font-face { 
    font-family: Newsreader_24pt_Light;
    src: url("./fonts/Newsreader/static/Newsreader_24pt-Light.ttf") format("truetype");
    font-weight: 300;
    font-optical-sizing: 24;
    font-style: normal;
}

@font-face { 
    font-family: Newsreader_24pt;
    src: url("./fonts/Newsreader/static/Newsreader_24pt-LightItalic.ttf") format("truetype");
    font-weight: 300;
    font-optical-sizing: 24;
    font-style: italic;
}

@font-face { 
    font-family: Newsreader_24pt_LightItalic;
    src: url("./fonts/Newsreader/static/Newsreader_24pt-LightItalic.ttf") format("truetype");
    font-weight: 300;
    font-optical-sizing: 24;
    font-style: italic;
}

@font-face { 
    font-family: Newsreader_24pt;
    src: url("./fonts/Newsreader/static/Newsreader_24pt-Regular.ttf") format("truetype");
    font-weight: 400;
    font-optical-sizing: 24;
    font-style: normal;
}

@font-face { 
    font-family: Newsreader_24pt_Regular;
    src: url("./fonts/Newsreader/static/Newsreader_24pt-Regular.ttf") format("truetype");
    font-weight: 400;
    font-optical-sizing: 24;
    font-style: normal;
}

@font-face { 
    font-family: Newsreader_24pt;
    src: url("./fonts/Newsreader/static/Newsreader_24pt-Italic.ttf") format("truetype");
    font-weight: 400;
    font-optical-sizing: 24;
    font-style: italic;
}

@font-face { 
    font-family: Newsreader_24pt_Italic;
    src: url("./fonts/Newsreader/static/Newsreader_24pt-Italic.ttf") format("truetype");
    font-weight: 400;
    font-optical-sizing: 24;
    font-style: italic;
}

@font-face { 
    font-family: Newsreader_24pt;
    src: url("./fonts/Newsreader/static/Newsreader_24pt-Medium.ttf") format("truetype");
    font-weight: 500;
    font-optical-sizing: 24;
    font-style: normal;
}

@font-face { 
    font-family: Newsreader_24pt_Medium;
    src: url("./fonts/Newsreader/static/Newsreader_24pt-Medium.ttf") format("truetype");
    font-weight: 500;
    font-optical-sizing: 24;
    font-style: normal;
}

@font-face { 
    font-family: Newsreader_24pt;
    src: url("./fonts/Newsreader/static/Newsreader_24pt-MediumItalic.ttf") format("truetype");
    font-weight: 500;
    font-optical-sizing: 24;
    font-style: italic;
}

@font-face { 
    font-family: Newsreader_24pt_MediumItalic;
    src: url("./fonts/Newsreader/static/Newsreader_24pt-MediumItalic.ttf") format("truetype");
    font-weight: 500;
    font-optical-sizing: 24;
    font-style: italic;
}

@font-face { 
    font-family: Newsreader_24pt;
    src: url("./fonts/Newsreader/static/Newsreader_24pt-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-optical-sizing: 24;
    font-style: normal;
}

@font-face { 
    font-family: Newsreader_24pt_SemiBold;
    src: url("./fonts/Newsreader/static/Newsreader_24pt-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-optical-sizing: 24;
    font-style: normal;
}

@font-face { 
    font-family: Newsreader_24pt;
    src: url("./fonts/Newsreader/static/Newsreader_24pt-SemiBoldItalic.ttf") format("truetype");
    font-weight: 600;
    font-optical-sizing: 24;
    font-style: italic;
}

@font-face { 
    font-family: Newsreader_24pt_SemiBoldItalic;
    src: url("./fonts/Newsreader/static/Newsreader_24pt-SemiBoldItalic.ttf") format("truetype");
    font-weight: 600;
    font-optical-sizing: 24;
    font-style: italic;
}

@font-face { 
    font-family: Newsreader_24pt;
    src: url("./fonts/Newsreader/static/Newsreader_24pt-Bold.ttf") format("truetype");
    font-weight: 700;
    font-optical-sizing: 24;
    font-style: normal;
}

@font-face { 
    font-family: Newsreader_24pt_Bold;
    src: url("./fonts/Newsreader/static/Newsreader_24pt-Bold.ttf") format("truetype");
    font-weight: 700;
    font-optical-sizing: 24;
    font-style: normal;
}

@font-face { 
    font-family: Newsreader_24pt;
    src: url("./fonts/Newsreader/static/Newsreader_24pt-BoldItalic.ttf") format("truetype");
    font-weight: 700;
    font-optical-sizing: 24;
    font-style: italic;
}

@font-face { 
    font-family: Newsreader_24pt_BoldItalic;
    src: url("./fonts/Newsreader/static/Newsreader_24pt-BoldItalic.ttf") format("truetype");
    font-weight: 700;
    font-optical-sizing: 24;
    font-style: italic;
}

@font-face { 
    font-family: Newsreader_24pt;
    src: url("./fonts/Newsreader/static/Newsreader_24pt-ExtraBold.ttf") format("truetype");
    font-weight: 800;
    font-optical-sizing: 24;
    font-style: normal;
}

@font-face { 
    font-family: Newsreader_24pt_ExtraBold;
    src: url("./fonts/Newsreader/static/Newsreader_24pt-ExtraBold.ttf") format("truetype");
    font-weight: 800;
    font-optical-sizing: 24;
    font-style: normal;
}

@font-face { 
    font-family: Newsreader_24pt;
    src: url("./fonts/Newsreader/static/Newsreader_24pt-ExtraBoldItalic.ttf") format("truetype");
    font-weight: 800;
    font-optical-sizing: 24;
    font-style: italic;
}

@font-face { 
    font-family: Newsreader_24pt_ExtraBoldItalic;
    src: url("./fonts/Newsreader/static/Newsreader_24pt-ExtraBoldItalic.ttf") format("truetype");
    font-weight: 800;
    font-optical-sizing: 24;
    font-style: italic;
}


@font-face { 
    font-family: Newsreader_36pt;
    src: url("./fonts/Newsreader/static/Newsreader_36pt-ExtraLight.ttf") format("truetype");
    font-weight: 200;
    font-optical-sizing: 36;
    font-style: normal;
}

@font-face { 
    font-family: Newsreader_36pt_ExtraLight;
    src: url("./fonts/Newsreader/static/Newsreader_36pt-ExtraLight.ttf") format("truetype");
    font-weight: 200;
    font-optical-sizing: 36;
    font-style: normal;
}

@font-face { 
    font-family: Newsreader_36pt;
    src: url("./fonts/Newsreader/static/Newsreader_36pt-ExtraLightItalic.ttf") format("truetype");
    font-weight: 200;
    font-optical-sizing: 36;
    font-style: italic;
}

@font-face { 
    font-family: Newsreader_36pt_ExtraLightItalic;
    src: url("./fonts/Newsreader/static/Newsreader_36pt-ExtraLightItalic.ttf") format("truetype");
    font-weight: 200;
    font-optical-sizing: 36;
    font-style: italic;
}

@font-face { 
    font-family: Newsreader_36pt;
    src: url("./fonts/Newsreader/static/Newsreader_36pt-Light.ttf") format("truetype");
    font-weight: 300;
    font-optical-sizing: 36;
    font-style: normal;
}

@font-face { 
    font-family: Newsreader_36pt_Light;
    src: url("./fonts/Newsreader/static/Newsreader_36pt-Light.ttf") format("truetype");
    font-weight: 300;
    font-optical-sizing: 36;
    font-style: normal;
}

@font-face { 
    font-family: Newsreader_36pt;
    src: url("./fonts/Newsreader/static/Newsreader_36pt-LightItalic.ttf") format("truetype");
    font-weight: 300;
    font-optical-sizing: 36;
    font-style: italic;
}

@font-face { 
    font-family: Newsreader_36pt_LightItalic;
    src: url("./fonts/Newsreader/static/Newsreader_36pt-LightItalic.ttf") format("truetype");
    font-weight: 300;
    font-optical-sizing: 36;
    font-style: italic;
}

@font-face { 
    font-family: Newsreader_36pt;
    src: url("./fonts/Newsreader/static/Newsreader_36pt-Regular.ttf") format("truetype");
    font-weight: 400;
    font-optical-sizing: 36;
    font-style: normal;
}

@font-face { 
    font-family: Newsreader_36pt_Regular;
    src: url("./fonts/Newsreader/static/Newsreader_36pt-Regular.ttf") format("truetype");
    font-weight: 400;
    font-optical-sizing: 36;
    font-style: normal;
}

@font-face { 
    font-family: Newsreader_36pt;
    src: url("./fonts/Newsreader/static/Newsreader_36pt-Italic.ttf") format("truetype");
    font-weight: 400;
    font-optical-sizing: 36;
    font-style: italic;
}

@font-face { 
    font-family: Newsreader_36pt_Italic;
    src: url("./fonts/Newsreader/static/Newsreader_36pt-Italic.ttf") format("truetype");
    font-weight: 400;
    font-optical-sizing: 36;
    font-style: italic;
}

@font-face { 
    font-family: Newsreader_36pt;
    src: url("./fonts/Newsreader/static/Newsreader_36pt-Medium.ttf") format("truetype");
    font-weight: 500;
    font-optical-sizing: 36;
    font-style: normal;
}

@font-face { 
    font-family: Newsreader_36pt_Medium;
    src: url("./fonts/Newsreader/static/Newsreader_36pt-Medium.ttf") format("truetype");
    font-weight: 500;
    font-optical-sizing: 36;
    font-style: normal;
}

@font-face { 
    font-family: Newsreader_36pt;
    src: url("./fonts/Newsreader/static/Newsreader_36pt-MediumItalic.ttf") format("truetype");
    font-weight: 500;
    font-optical-sizing: 36;
    font-style: italic;
}

@font-face { 
    font-family: Newsreader_36pt_MediumItalic;
    src: url("./fonts/Newsreader/static/Newsreader_36pt-MediumItalic.ttf") format("truetype");
    font-weight: 500;
    font-optical-sizing: 36;
    font-style: italic;
}

@font-face { 
    font-family: Newsreader_36pt;
    src: url("./fonts/Newsreader/static/Newsreader_36pt-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-optical-sizing: 36;
    font-style: normal;
}

@font-face { 
    font-family: Newsreader_36pt_SemiBold;
    src: url("./fonts/Newsreader/static/Newsreader_36pt-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-optical-sizing: 36;
    font-style: normal;
}

@font-face { 
    font-family: Newsreader_36pt;
    src: url("./fonts/Newsreader/static/Newsreader_36pt-SemiBoldItalic.ttf") format("truetype");
    font-weight: 600;
    font-optical-sizing: 36;
    font-style: italic;
}

@font-face { 
    font-family: Newsreader_36pt_SemiBoldItalic;
    src: url("./fonts/Newsreader/static/Newsreader_36pt-SemiBoldItalic.ttf") format("truetype");
    font-weight: 600;
    font-optical-sizing: 36;
    font-style: italic;
}

@font-face { 
    font-family: Newsreader_36pt;
    src: url("./fonts/Newsreader/static/Newsreader_36pt-Bold.ttf") format("truetype");
    font-weight: 700;
    font-optical-sizing: 36;
    font-style: normal;
}

@font-face { 
    font-family: Newsreader_36pt_Bold;
    src: url("./fonts/Newsreader/static/Newsreader_36pt-Bold.ttf") format("truetype");
    font-weight: 700;
    font-optical-sizing: 36;
    font-style: normal;
}

@font-face { 
    font-family: Newsreader_36pt;
    src: url("./fonts/Newsreader/static/Newsreader_36pt-BoldItalic.ttf") format("truetype");
    font-weight: 700;
    font-optical-sizing: 36;
    font-style: italic;
}

@font-face { 
    font-family: Newsreader_36pt_BoldItalic;
    src: url("./fonts/Newsreader/static/Newsreader_36pt-BoldItalic.ttf") format("truetype");
    font-weight: 700;
    font-optical-sizing: 36;
    font-style: italic;
}

@font-face { 
    font-family: Newsreader_36pt;
    src: url("./fonts/Newsreader/static/Newsreader_36pt-ExtraBold.ttf") format("truetype");
    font-weight: 800;
    font-optical-sizing: 36;
    font-style: normal;
}

@font-face { 
    font-family: Newsreader_36pt_ExtraBold;
    src: url("./fonts/Newsreader/static/Newsreader_36pt-ExtraBold.ttf") format("truetype");
    font-weight: 800;
    font-optical-sizing: 36;
    font-style: normal;
}

@font-face { 
    font-family: Newsreader_36pt;
    src: url("./fonts/Newsreader/static/Newsreader_36pt-ExtraBoldItalic.ttf") format("truetype");
    font-weight: 800;
    font-optical-sizing: 36;
    font-style: italic;
}

@font-face { 
    font-family: Newsreader_36pt_ExtraBoldItalic;
    src: url("./fonts/Newsreader/static/Newsreader_36pt-ExtraBoldItalic.ttf") format("truetype");
    font-weight: 800;
    font-optical-sizing: 36;
    font-style: italic;
}


@font-face { 
    font-family: Newsreader_60pt;
    src: url("./fonts/Newsreader/static/Newsreader_60pt-ExtraLight.ttf") format("truetype");
    font-weight: 200;
    font-optical-sizing: 60;
    font-style: normal;
}

@font-face { 
    font-family: Newsreader_60pt_ExtraLight;
    src: url("./fonts/Newsreader/static/Newsreader_60pt-ExtraLight.ttf") format("truetype");
    font-weight: 200;
    font-optical-sizing: 60;
    font-style: normal;
}

@font-face { 
    font-family: Newsreader_60pt;
    src: url("./fonts/Newsreader/static/Newsreader_60pt-ExtraLightItalic.ttf") format("truetype");
    font-weight: 200;
    font-optical-sizing: 60;
    font-style: italic;
}

@font-face { 
    font-family: Newsreader_60pt_ExtraLightItalic;
    src: url("./fonts/Newsreader/static/Newsreader_60pt-ExtraLightItalic.ttf") format("truetype");
    font-weight: 200;
    font-optical-sizing: 60;
    font-style: italic;
}

@font-face { 
    font-family: Newsreader_60pt;
    src: url("./fonts/Newsreader/static/Newsreader_60pt-Light.ttf") format("truetype");
    font-weight: 300;
    font-optical-sizing: 60;
    font-style: normal;
}

@font-face { 
    font-family: Newsreader_60pt_Light;
    src: url("./fonts/Newsreader/static/Newsreader_60pt-Light.ttf") format("truetype");
    font-weight: 300;
    font-optical-sizing: 60;
    font-style: normal;
}

@font-face { 
    font-family: Newsreader_60pt;
    src: url("./fonts/Newsreader/static/Newsreader_60pt-LightItalic.ttf") format("truetype");
    font-weight: 300;
    font-optical-sizing: 60;
    font-style: italic;
}

@font-face { 
    font-family: Newsreader_60pt_LightItalic;
    src: url("./fonts/Newsreader/static/Newsreader_60pt-LightItalic.ttf") format("truetype");
    font-weight: 300;
    font-optical-sizing: 60;
    font-style: italic;
}

@font-face { 
    font-family: Newsreader_60pt;
    src: url("./fonts/Newsreader/static/Newsreader_60pt-Regular.ttf") format("truetype");
    font-weight: 400;
    font-optical-sizing: 60;
    font-style: normal;
}

@font-face { 
    font-family: Newsreader_60pt_Regular;
    src: url("./fonts/Newsreader/static/Newsreader_60pt-Regular.ttf") format("truetype");
    font-weight: 400;
    font-optical-sizing: 60;
    font-style: normal;
}

@font-face { 
    font-family: Newsreader_60pt;
    src: url("./fonts/Newsreader/static/Newsreader_60pt-Italic.ttf") format("truetype");
    font-weight: 400;
    font-optical-sizing: 60;
    font-style: italic;
}

@font-face { 
    font-family: Newsreader_60pt_Italic;
    src: url("./fonts/Newsreader/static/Newsreader_60pt-Italic.ttf") format("truetype");
    font-weight: 400;
    font-optical-sizing: 60;
    font-style: italic;
}

@font-face { 
    font-family: Newsreader_60pt;
    src: url("./fonts/Newsreader/static/Newsreader_60pt-Medium.ttf") format("truetype");
    font-weight: 500;
    font-optical-sizing: 60;
    font-style: normal;
}

@font-face { 
    font-family: Newsreader_60pt_Medium;
    src: url("./fonts/Newsreader/static/Newsreader_60pt-Medium.ttf") format("truetype");
    font-weight: 500;
    font-optical-sizing: 60;
    font-style: normal;
}

@font-face { 
    font-family: Newsreader_60pt;
    src: url("./fonts/Newsreader/static/Newsreader_60pt-MediumItalic.ttf") format("truetype");
    font-weight: 500;
    font-optical-sizing: 60;
    font-style: italic;
}

@font-face { 
    font-family: Newsreader_60pt_MediumItalic;
    src: url("./fonts/Newsreader/static/Newsreader_60pt-MediumItalic.ttf") format("truetype");
    font-weight: 500;
    font-optical-sizing: 60;
    font-style: italic;
}

@font-face { 
    font-family: Newsreader_60pt;
    src: url("./fonts/Newsreader/static/Newsreader_60pt-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-optical-sizing: 60;
    font-style: normal;
}

@font-face { 
    font-family: Newsreader_60pt_SemiBold;
    src: url("./fonts/Newsreader/static/Newsreader_60pt-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-optical-sizing: 60;
    font-style: normal;
}

@font-face { 
    font-family: Newsreader_60pt;
    src: url("./fonts/Newsreader/static/Newsreader_60pt-SemiBoldItalic.ttf") format("truetype");
    font-weight: 600;
    font-optical-sizing: 60;
    font-style: italic;
}

@font-face { 
    font-family: Newsreader_60pt_SemiBoldItalic;
    src: url("./fonts/Newsreader/static/Newsreader_60pt-SemiBoldItalic.ttf") format("truetype");
    font-weight: 600;
    font-optical-sizing: 60;
    font-style: italic;
}

@font-face { 
    font-family: Newsreader_60pt;
    src: url("./fonts/Newsreader/static/Newsreader_60pt-Bold.ttf") format("truetype");
    font-weight: 700;
    font-optical-sizing: 60;
    font-style: normal;
}

@font-face { 
    font-family: Newsreader_60pt_Bold;
    src: url("./fonts/Newsreader/static/Newsreader_60pt-Bold.ttf") format("truetype");
    font-weight: 700;
    font-optical-sizing: 60;
    font-style: normal;
}

@font-face { 
    font-family: Newsreader_60pt;
    src: url("./fonts/Newsreader/static/Newsreader_60pt-BoldItalic.ttf") format("truetype");
    font-weight: 700;
    font-optical-sizing: 60;
    font-style: italic;
}

@font-face { 
    font-family: Newsreader_60pt_BoldItalic;
    src: url("./fonts/Newsreader/static/Newsreader_60pt-BoldItalic.ttf") format("truetype");
    font-weight: 700;
    font-optical-sizing: 60;
    font-style: italic;
}

@font-face { 
    font-family: Newsreader_60pt;
    src: url("./fonts/Newsreader/static/Newsreader_60pt-ExtraBold.ttf") format("truetype");
    font-weight: 800;
    font-optical-sizing: 60;
    font-style: normal;
}

@font-face { 
    font-family: Newsreader_60pt_ExtraBold;
    src: url("./fonts/Newsreader/static/Newsreader_60pt-ExtraBold.ttf") format("truetype");
    font-weight: 800;
    font-optical-sizing: 60;
    font-style: normal;
}

@font-face { 
    font-family: Newsreader_60pt;
    src: url("./fonts/Newsreader/static/Newsreader_60pt-ExtraBoldItalic.ttf") format("truetype");
    font-weight: 800;
    font-optical-sizing: 60;
    font-style: italic;
}

@font-face { 
    font-family: Newsreader_60pt_ExtraBoldItalic;
    src: url("./fonts/Newsreader/static/Newsreader_60pt-ExtraBoldItalic.ttf") format("truetype");
    font-weight: 800;
    font-optical-sizing: 60;
    font-style: italic;
}



@font-face {
  font-family: v_Orbitron;
  src: url("./fonts/Orbitron/Orbitron_VariableFont_wght.ttf") format("truetype") tech("variations");
  src: url("./fonts/Orbitron/Orbitron_VariableFont_wght.ttf") format("truetype-variations");
  font-weight: 400 900;
  font-stretch: 85% 121%;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Orbitron;
  src: url("./fonts/Orbitron/static/Orbitron-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}


@font-face {
  font-family: Orbitron;
  src: url("./fonts/Orbitron/static/Orbitron-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}


@font-face {
  font-family: Orbitron;
  src: url("./fonts/Orbitron/static/Orbitron-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}


@font-face {
  font-family: Orbitron;
  src: url("./fonts/Orbitron/static/Orbitron-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}


@font-face {
  font-family: Orbitron;
  src: url("./fonts/Orbitron/static/Orbitron-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}


@font-face {
  font-family: Orbitron;
  src: url("./fonts/Orbitron/static/Orbitron-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}




@font-face {
  font-family: v_Source_Code_Pro;
  src: url("./fonts/Source_Code_Pro/SourceCodePro_VariableFont_wght.ttf") format("truetype") tech("variations");
  src: url("./fonts/Source_Code_Pro/SourceCodePro_VariableFont_wght.ttf") format("truetype-variations");
  font-weight: 200 900;
  font-stretch: 85% 121%;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: iv_Source_Code_Pro;
  src: url("./fonts/Libre_Franklin/LibreFranklin_Italic_VariableFont_wght.ttf") format("truetype") tech("variations");
  src: url("./fonts/Libre_Franklin/LibreFranklin_Italic_VariableFont_wght.ttf") format("truetype-variations");
  font-weight: 200 900;
  font-stretch: 85% 121%;
  font-style: italic;
  font-display: swap;
}



@font-face {
  font-family: Source_Code_Pro;
  src: url("./fonts/Source_Code_Pro/static/SourceCodePro-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: Source_Code_Pro;
  src: url("./fonts/Source_Code_Pro/static/SourceCodePro-ExtraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}


@font-face {
  font-family: Source_Code_Pro;
  src: url("./fonts/Source_Code_Pro/static/SourceCodePro-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: Source_Code_Pro;
  src: url("./fonts/Source_Code_Pro/static/SourceCodePro-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}


@font-face {
  font-family: Source_Code_Pro;
  src: url("./fonts/Source_Code_Pro/static/SourceCodePro-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}


@font-face {
  font-family: Source_Code_Pro;
  src: url("./fonts/Source_Code_Pro/static/SourceCodePro-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}


@font-face {
  font-family: Source_Code_Pro;
  src: url("./fonts/Source_Code_Pro/static/SourceCodePro-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: Source_Code_Pro;
  src: url("./fonts/Source_Code_Pro/static/SourceCodePro-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}


@font-face {
  font-family: Source_Code_Pro;
  src: url("./fonts/Source_Code_Pro/static/SourceCodePro-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: Source_Code_Pro;
  src: url("./fonts/Source_Code_Pro/static/SourceCodePro-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}


@font-face {
  font-family: Source_Code_Pro;
  src: url("./fonts/Source_Code_Pro/static/SourceCodePro-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: Source_Code_Pro;
  src: url("./fonts/Source_Code_Pro/static/SourceCodePro-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}


@font-face {
  font-family: Source_Code_Pro;
  src: url("./fonts/Source_Code_Pro/static/SourceCodePro-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: Source_Code_Pro;
  src: url("./fonts/Source_Code_Pro/static/SourceCodePro-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}


@font-face {
  font-family: Source_Code_Pro;
  src: url("./fonts/Source_Code_Pro/static/SourceCodePro-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: Source_Code_Pro;
  src: url("./fonts/Source_Code_Pro/static/SourceCodePro-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}



.jsc {
    --css-clean-start-2--sans--font-family: LibreFranklin, v_LibreFranklin, Tahoma, system-ui, -apple-system, BlinkMacSystemFont, Roboto, Oxygen;

    --css-clean-start-2--serif--font-family: PlayfairDisplay, v_PlayfairDisplay, 'Times New Roman', system-ui, -apple-system, BlinkMacSystemFont;
    
    

    --css-clean-start-2--monospace--font-family: Source_Code_Pro, v_Source_Code_Pro, Courier, "Courier New", Menlo, Consolas, 'Liberation Mono';



    --jsx--css-clean-start-2--all-tags--font-family: var(--css-clean-start-2--sans--font-family);
    --jsx--css-clean-start-2--pre--font-family: var(--css-clean-start-2--monospace--font-family);
}




