
@import url("./fonts/font_v_LibreFranklin.css");
@import url("./fonts/font_LibreFranklin.css");

@import url("./fonts/font_v_PlayfairDisplay.css");
@import url("./fonts/font_PlayfairDisplay.css");

@import url("./fonts/font_v_Source_Code_Pro.css");
@import url("./fonts/font_Source_Code_Pro.css");



/* main css file, css logics with rules set via variables in the theme .css files imported above */
@import url("./JscFonts_main.css");


