/* Sites tool: CssTable, theme: theme_jaisocx_folder_listing */



.jsx.jaisocx-folder-listing {

  --jsx--css-clean-start-2--h1--font-size: 1.2rem;
  --jsx--css-clean-start-2--h1--line-height: 1.43rem;
  --jsx--css-clean-start-2--h1--padding: 1.25rem 0;

  --jsx--css-clean-start-2--h2--font-size: 0.9rem;
  --jsx--css-clean-start-2--h2--line-height: 1.09rem;



  --jsx--css-clean-start-2--body-tag--height: 100vh;
  --jsx--css-clean-start-2--body-tag--max-height: 100vh;
  --jsx--css-clean-start-2--body-tag--min-height: 100vh;

  --jsx--css-clean-start-2--body-tag--overflow-y: hidden;



  --jsx--css-clean-start-2--site--width: 88%;

  --jsx--css-clean-start-2--site--height: 100%;
  --jsx--css-clean-start-2--site--max-height: 100%;
  --jsx--css-clean-start-2--site--min-height: 100%;

  --jsx--css-clean-start-2--site--overflow-y: hidden;

  --jsx--css-clean-start-2--site--padding: 1rem 1rem 3rem 1rem;


}


.jsx-css-table-holder.jaisocx-folder-listing {

  --jsx--CssTable--holder--overflow-x: hidden;
  --jsx--CssTable--holder--overflow-y: hidden;


  --jsx--CssTable--main--overflow-x: auto;
  --jsx--CssTable--main--overflow-y: auto;


  --jsx--CssTable--bright--cell--column-label--padding: 1rem 0.6rem 1rem 0.6rem;
  --jsx--CssTable--bright--cell--column-label--font-size: 1rem;
  --jsx--CssTable--bright--cell--column-label--width: 100%;
  --jsx--CssTable--bright--cell--padding: 0.5rem 0.6rem;

}



.jsx.jaisocx-folder-listing body main {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;
}

.jsx-css-table-holder.jaisocx-folder-listing {

  flex-grow: 1;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  margin-top: 2rem;

}



.jsx-css-table-holder.jaisocx-folder-listing .jsx-css-table {

  flex-grow: 1;

}

.jsx-css-table-holder.jaisocx-folder-listing .jsx-css-table.desktop-columns-labels-holder {

  flex-grow: 0;


  width: 100%;
  min-width: 100%;

  height: fit-content;
  min-height: fit-content;

  overflow: hidden visible;

}

.jsx-css-table-holder.jaisocx-folder-listing .jsx-css-table.desktop-columns-labels-holder .row {

  width: fit-content;
  min-width: 100%;

  height: fit-content;
  min-height: fit-content;

  overflow: visible visible;

}





.jsx-css-table-holder.jaisocx-folder-listing .row.folder .cell.name .cell-value a {
  font-weight: 600;
}

.jsx-css-table-holder.jaisocx-folder-listing .cell.number .cell-value {
  justify-content: flex-end;
}

.jsx-css-table-holder.jaisocx-folder-listing .cell .cell-value a {
  line-height: inherit;
  color: #226d22;
  font-size: 0.9rem;
}

.jsx-css-table-holder.jaisocx-folder-listing .cell .cell-value a:hover {
  color: #22a022;
}


