@media only screen and (min-width: 1921px) and (max-width: 2560px) and (min-height: 1025px) and (max-height: 2560px) and (orientation: landscape) {

  .jsx {
    --theme_name: CssTable__theme_imaged;
    --theme_name__CssTable: theme_imaged;
    --responsive_size: responsive_size_s04_display_xxl_landscape;
    --responsive_size__CssTable__theme_imaged: responsive_size_s04_display_xxl_landscape__CssTable__theme_imaged;
  }
}

