@media only screen and (min-width: 1025px) and (max-width: 1365px) and (min-height: 1025px) and (max-height: 1365px) and (orientation: landscape) {

  .jsx {
    --theme_name: CssTable__theme_imaged;
    --theme_name__CssTable: theme_imaged;
    --responsive_size: responsive_size_l02_laptop_sm_landscape;
    --responsive_size__CssTable__theme_imaged: responsive_size_l02_laptop_sm_landscape__CssTable__theme_imaged;
  }
}

