@media only screen and (min-width: 1025px) and (max-width: 3840px) and (min-height: 2561px) and (max-height: 3840px) and (orientation: portrait) {

  .jsx {
    --theme_name: CssTable__theme_imaged;
    --theme_name__CssTable: theme_imaged;
    --responsive_size: responsive_size_s08_display_qhd_portrait;
    --responsive_size__CssTable__theme_imaged: responsive_size_s08_display_qhd_portrait__CssTable__theme_imaged;
  }
}

