@media only screen and (min-width: 1441px) and (max-width: 1600px) and (min-height: 1025px) and (max-height: 1600px) and (orientation: landscape) {

  .jsx {
    --theme_name: CssTable__theme_imaged;
    --theme_name__CssTable: theme_imaged;
    --responsive_size: responsive_size_l07_laptop_lg_landscape;
    --responsive_size__CssTable__theme_imaged: responsive_size_l07_laptop_lg_landscape__CssTable__theme_imaged;
  }
}

