@media only screen and (min-width: 1025px) and (max-width: 25360px) and (min-height: 15361px) and (max-height: 25360px) and (orientation: portrait) {

  .jsx {
    --theme_name: CssTable__theme_imaged;
    --theme_name__CssTable: theme_imaged;
    --responsive_size: responsive_size_t16_tv_16k_portrait;
    --responsive_size__CssTable__theme_imaged: responsive_size_t16_tv_16k_portrait__CssTable__theme_imaged;
  }
}

