@media only screen and (min-width: 3841px) and (max-width: 7680px) and (min-height: 1025px) and (max-height: 7680px) and (orientation: landscape) {

  .jsx {
    --theme_name: CssTable__theme_imaged;
    --theme_name__CssTable: theme_imaged;
    --responsive_size: responsive_size_t04_tv_4k_landscape;
    --responsive_size__CssTable__theme_imaged: responsive_size_t04_tv_4k_landscape__CssTable__theme_imaged;
  }
}

