@media only screen and (min-width: 431px) and (max-width: 99999px) and (min-height: 431px) and (max-height: 480px) and (orientation: landscape) {

  .jsx {
    --theme_name: CssTable__theme_imaged;
    --theme_name__CssTable: theme_imaged;
    --responsive_size: responsive_size_e08_mobile_md_landscape;
    --responsive_size__CssTable__theme_imaged: responsive_size_e08_mobile_md_landscape__CssTable__theme_imaged;
  }
}

