@font-face {
  font-family: Niconne;
  src: url("https://sandbox.brightday.email/cdn/www/fonts/Niconne/Niconne-Regular.ttf") format("truetype");
  font-weight: 800; /* ExtraBold */
  font-style: normal;
}

