
.tooltip {
  --transition-timing-function-linear: linear;
  --transition-timing-function-ease: ease;
  --transition-timing-function-ease-in: ease-in;
  --transition-timing-function-ease-in-out: ease-in-out;
  --transition-timing-function-ease-out: ease-out;
  --transition-timing-function-steps: steps(12, end);

  --transition-lingers: 1.0s;
  --transition-delay: 0s;
  --transition-timing-function: var(--transition-timing-function-linear);
}


.show_effect_1 {
  --transition-lingers: 1.6s;
  --transition: opacity var(--transition-lingers) var(--transition-timing-function) var(--transition-delay),
                height var(--transition-lingers) var(--transition-timing-function) var(--transition-delay),
                width var(--transition-lingers) var(--transition-timing-function) var(--transition-delay);
}

.show_effect_2 {
  --transition-lingers: 0.2s;
  --transition: transform var(--transition-lingers) var(--transition-timing-function) var(--transition-delay);
}

.show_effect_3 {
  --transition-lingers: 0.2s;
  --transition: opacity var(--transition-lingers) var(--transition-timing-function) var(--transition-delay),
                transform var(--transition-lingers) var(--transition-timing-function) var(--transition-delay),
                height var(--transition-lingers) var(--transition-timing-function) var(--transition-delay),
                width var(--transition-lingers) var(--transition-timing-function) var(--transition-delay);
}


.shown.show_simple {
  display: block;
}

.hidden.show_simple {
  display: none;
}


.shown.show_effect_1 {
  opacity: 1;
  height: var(--tooltip__height);
  width: var(--tooltip__width);
}

.hidden.show_effect_1 {
  border-width: 0;
  opacity: 0;
  width: 0;
  height: 0;
  max-width: 0;
  max-height: 0;
  overflow: hidden;
}

.shown.show_effect_2 {
  transform: scale(1);
}

.hidden.show_effect_2 {
  transform: scale(0.001) translate(-100%, -100%);
}

.shown.show_effect_3 {
  width: var(--tooltip__width);
  height: var(--tooltip__height);
  transform: scale(1);
  opacity: 1;
}

.hidden.show_effect_3 {
  width: 0;
  height: 0;
  overflow: hidden;
  transform: scale(0);
  opacity: 0;
}

