

.tooltip {
  --tooltip__background: #fffffa;
  --tooltip__text_color: maroon;
  --tooltip__font_family: Courier;
  --tooltip__font_size: 1rem;
  --tooltip__border_width: 0.5px;
  --tooltip__border_style: solid;
  --tooltip__border_color: #885;
  --tooltip__border_radius: 0.3rem;

  --tooltip__padding: 0.8rem;
  --tooltip_arrow__size: 6px;

  --tooltip_arrow__background: var(--tooltip__background);
  
  --tooltip_arrow__border_color: var(--tooltip__border_color);
  --tooltip_arrow__border_style: var(--tooltip__border_style);
  --tooltip_arrow__border_width: var(--tooltip__border_width);


  /* testing purpose variables */
  --tooltip__width: 12rem;
  --tooltip__height: 4rem;
}

@media ( (max-width: 440px) and (orientation: portrait) ) {

}

