
.tooltip {

  --tooltip__background: #fffffa;
  --tooltip__text_color: black;
  --tooltip__font_family: Courier;
  --tooltip__font_size: 0.925rem;
  --tooltip__font_size__mobile: 1.3rem;
  --tooltip__font_size__tablet: 1.3rem;  
  --tooltip__border_width: 2px;
  --tooltip__border_style: solid;
  --tooltip__border_color: #885;
  --tooltip__border_radius: 0.5rem;

  --tooltip__padding: 0.8rem;
  --tooltip_arrow__size: 0.935rem;

  --tooltip_arrow__background: var(--tooltip__background);
  
  --tooltip_arrow__border_color: var(--tooltip__border_color);
  --tooltip_arrow__border_style: var(--tooltip__border_style);
  --tooltip_arrow__border_width: var(--tooltip__border_width);

  /* testing purpose variables */
  --tooltip__width: 12rem;
  --tooltip__height: 7rem;
}


@media ( (max-width: 440px) and (orientation: portrait) ) {
  .tooltip {
    --tooltip__font_size: var(--tooltip__font_size__mobile);
  }
}

@media ( (max-width: 803px) and (orientation: landscape) ) {
  .tooltip {
    --tooltip__font_size: var(--tooltip__font_size__mobile);
  }
}


@media ( (max-width: 803px) and (orientation: portrait) ) {
  .tooltip {
    --tooltip__font_size: var(--tooltip__font_size__tablet);
  }
}

@media ( (max-width: 1025px) and (orientation: landscape) ) {
  .tooltip {
    --tooltip__font_size: var(--tooltip__font_size__tablet);
  }
}


